.b-button-square {
    display: block;
    position: relative;
    height: 60px;
    width: 60px;
    cursor: pointer;

    border: none;
    background-color: @green47;

    &--green {
        background-color: @green47;
        transition: background-color linear .3s;
    }

    &--white {
        background-color: @whiteFF;
        transition: background-color linear .3s;

        &:hover .b-button-square-img--up,
        &:hover .b-button-square-img--left {
            fill: @whiteFF;
        }
    }

    &:hover {
        background-color: lighten(@green47, 20%);
    }
}

.b-button-square-img {
    position: absolute;
    top: 50%;
    left: 50%;

    &--down {
        fill: @whiteFF;

        transform: translate(-50%, -50%) rotate(-90deg);
    }

    &--right {
        fill: @whiteFF;

        transform: translate(-50%, -50%) rotate(180deg);
    }

    &--up {
        fill: @green47;

        transform: translate(-50%, -50%) rotate(90deg);

        transition: fill linear .3s;
    }

    &--left {
        fill: @green47;

        transform: translate(-50%, -50%);

        transition: fill linear .3s;
    }
}