mixin b-button-square(color)
    button.b-button-square(class= "b-button-square--"+color.modificationColor title=color.modificationTitle)
        svg.b-button-square-img(class= "b-button-square-img--"+color.modificationArrow width="26" height="9" viewBox="0 0 26 9" fill="none" xmlns="http://www.w3.org/2000/svg")
            g(id="Line 3 Copy 2")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M25.5 4.5H0.5H25.5Z")
            path(d="M25.5 4H26V5H25.5V4ZM0.146446 4.85355C-0.0488148 4.65829 -0.0488148 4.34171 0.146446 4.14645L3.32843 0.964466C3.52369 0.769204 3.84027 0.769204 4.03553 0.964466C4.2308 1.15973 4.2308 1.47631 4.03553 1.67157L1.20711 4.5L4.03553 7.32843C4.2308 7.52369 4.2308 7.84027 4.03553 8.03553C3.84027 8.2308 3.52369 8.2308 3.32843 8.03553L0.146446 4.85355ZM25.5 5H0.5V4H25.5V5Z")