.b-button-tel {
    display: flex;
    width: 348px;
    height: 103px;
    background: @green4A;
    padding: 36px 54px 36px 36px;
    align-items: center;
}
.b-button-tel__img {
    width: 31px;
    height: 31px;
    margin-right: 37px;
}
.b-button-tel__descr {
    color: @whiteFF;
    font-size: 18px;
    text-transform: uppercase;
}