.b-button-tel {
    display: inline-block;
    width: 79px;
    height: 80px;
    background: @green4A;
    padding: 27px 26px 28px 27px;
}
img {
    width: 26px;
    height: 25px;
    display:inline-block;
}
