mixin b-button-tel()
    a(class="b-button-tel", href="javascript: void(0);", title="Заказать звонок")
        img(class="b-button-tel__img",src="img/icons/shape.svg", alt="")
        div(class="b-button-tel__descr") Обратный звонок