mixin b-button-tel()
    a(class="b-button-tel", href="tel:+78005513240", title="contact us")
        img(class="b-button-tel__img",src="img/icons/shape.svg", alt="phone")
        div(class="b-button-tel__descr") Обратный звонок