mixin genesis(name_genesis)
    a.b-price__mixin.b-mixin-price--genesis(href="javascript: void(0);" title="Genesis" class=name_genesis.padding_card_g)
        picture.b-picture.b-picture--genesis
            source(type="image/webp" srcset="img/content/tablet/9-price/5/1-1x.webp 1x, img/content/tablet/9-price/5/2-2x.webp 2x")
            source(type="image/webp" srcset="img/content/tablet/9-price/5/1-1x.jpg 1x, img/content/tablet/9-price/5/2-2x.jpg 2x")
            img(src="img/content/tablet/9-price/5/1-1x.jpg" alt="Перейти по ссылке")
        .b-price__mixin-wrap(class= name_genesis.padding_text_g)
            .b-title.b-title--little.b-title--renaissance GENESIS
            span.b-mixin-price__price.b-mixin-price__price--margin от&nbsp;14&nbsp;500&nbsp;₽
            .b-card-icon.b-card-icon--palitra
                img(src="img/icons/go-to.svg" alt="Перейти по ссылке")
            .b-price__information Классический дизайн, навеянный великими музыкальными произведениями одноименного жанра
