mixin sonata(name)
    a.b-price__mixin(href="javascript: void(0);" title="Sonata" class=name.margin_padding_sonata)
        picture.b-picture.b-picture--sonata
            source(type="image/webp" srcset="img/content/mobile/9-price/1/2-1x.webp 1x, img/content/mobile/9-price/1/2-2x.webp 2x" media="(max-width: 767px)")
            source(type="image/webp" srcset="img/content/mobile/9-price/1/2-1x.jpg 1x, img/content/mobile/9-price/1/2-2x.jpg 2x" media="(max-width: 767px)")
            source(type="image/webp" srcset="img/content/tablet/9-price/1/1-1x.webp 1x, img/content/tablet/9-price/1/1-2x.webp 2x" media="(max-width: 1023px)")
            source(type="image/webp" srcset="img/content/tablet/9-price/1/1-1x.jpg 1x, img/content/tablet/9-price/1/1-2x.jpg 2x" media="(max-width: 1023px)")
            source(type="image/webp" srcset="img/content/desktop/9-price/1/1-1x.webp 1x, img/content/desktop/9-price/1/1-2x.webp 2x")
            source(type="image/webp" srcset="img/content/desktop/9-price/1/1-1x.jpg 1x, img/content/desktop/9-price/1/1-2x.jpg 2x")
            img(src="img/content/desktop/9-price/1/1-1x.jpg", alt="Дверь Соната")
        .b-price__mixin-wrap(class=name.padding_top_text)
            .b-title.b-title--little SONATA
            span.b-mixin-price__price от 7 500 ₽
            .b-card-icon.b-card-icon--palitra
                img(src="img/icons/go-to.svg", alt="Перейти по ссылке")
            .b-price__information Классический дизайн, навеянный великими музыкальными произведениями одноименного жанра
