.b-picture--sonata {
    display: inline-block;
    width: 50%;
}

.b-picture--sonata img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.b-mixin-price__price {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.07px;
    color: @grey99;
    margin-bottom: 55%;
}

.b-card-icon--palitra:hover {
    opacity: 0.8;
}

.b-mixin-price--margin {
    margin-bottom: 47px;
}
