.b-card-guarantee {
    &-service {
        display: flex;
        position: relative;
    }

    &__box {
        padding-top: 38px;
        margin-right: 12px;

        background: linear-gradient(@whiteF2, @whiteFF);
    }

    &__grad {
        width: 167px;
        height: 324px;

        padding-top: 45px;
        padding-left: 33px;

        clip-path: polygon(
                    0 0, 0 0, 100% 44px,
                    100% calc(100% - 20px), 100% 100%,
                    20px 100%, 0 100%, 0 0);
    }

    &__title-box {
        position: absolute;
        top: 274px;
        left: 50px;
    }

    &__title {
        display: none;
    }

    &__subtitle {
        font-size: 48px;
    }

    &__content {
        margin: 27px 15px 0 82px;

        text-align: start;
    }

    &__text {
        margin-bottom: 41px;

        font-size: 16px;
        line-height: 38px;
    }

    &__link {
        font-size: 16px;
        line-height: 38px;

        &:hover {
            color: lighten(@green47, 20%);
        }
    }
}