.b-card-guarantee {
    &__box {
        display: flex;

        padding-top: 100px;
    }

    &__grad {
        width: 155px;
        height: 245px;

        padding-top: 52px;
        padding-left: 28px;

        font-family: 'Lora';
        font-size: 150px;
        font-weight: 700;
        line-height: 192px;

        color: @whiteFF;

        background: linear-gradient(0deg, @whiteFF 0%, @green3E 100%);
        border-width: 15px;
        clip-path: polygon(
                    0 0, 0 0, 100% 40px,
                    100% calc(100% - 20px), 100% 100%,
                    20px 100%, 0 100%, 0 0);
    }

    &__title-box {
        align-self: flex-end;
        margin-left: 32px;
        margin-bottom: 3px;
    }

    &__suptitle {
        margin-bottom: 3px;

        font-family: 'Lora';
        font-size: 60px;
        font-weight: 700;
        line-height: 1;

        color: @green47;
    }

    &__content {
        margin: 51px 26px 56px 25px;

        text-align: end;
    }

    &__text {
        margin-bottom: 28px;

        font-size: 14px;
        line-height: 25px;

        color: @grey3C;
    }

    &__link {
        font-size: 14px;
        font-weight: 700;
        line-height: 25px;

        color: @green47;

        &:hover {
            color: lighten(@green47, 20%);
        }
    }
}