mixin b-card-guarantee()
    .b-card-guarantee__box
        .b-card-guarantee__grad 5
        .b-card-guarantee__text
            .b-card-guarantee__title Лет
            .b-card-guarantee__subtitle Гарантия