.b-card-guarantee {
    &-service {
        display: flex;
        position: relative;
    }

    &__box {
        padding-top: 38px;
        margin-right: 12px;

        background: linear-gradient(@whiteF2, @whiteFF);
    }

    &__grad {
        position: relative;

        width: 167px;
        height: 324px;

        padding-top: 45px;
        padding-left: 33px;

        font-family: 'Lora';
        font-size: 150px;
        font-weight: 700;
        line-height: 192px;

        color: @whiteFF;

        background: linear-gradient(0deg, @whiteFF 0%, @green3E 100%);
        border-width: 15px;
        clip-path: polygon(
                    0 0, 0 0, 100% 44px,
                    100% calc(100% - 20px), 100% 100%,
                    20px 100%, 0 100%, 0 0);
    }

    &__title-box {
        position: absolute;
        top: 274px;
        left: 50px;

        align-self: flex-end;
        margin-left: 32px;
    }

    &__title {
        display: none;
        font-family: 'Lora';
        font-size: 60px;
        font-weight: 700;
        line-height: 1;

        color: @green47;
    }

    &__subtitle {
        font-family: 'Open Sans';
        font-size: 48px;
        font-weight: 700;
        line-height: 1;

        color: @grey3C;
    }

    &__content {
        margin: 27px 15px 0 82px;

        text-align: start;
    }

    &__text {
        margin-bottom: 41px;

        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 400;
        line-height: 38px;

        color: @grey3C;
    }

    &__link {
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 700;
        line-height: 38px;

        color: @green47;

        &:hover {
            color: lighten(@green47, 20%);
        }
    }
}