mixin b-card-guarantee()
    .b-card-guarantee__box
        .b-card-guarantee__grad 5
        .b-card-guarantee__title-box
            .b-card-guarantee__title Лет
            .b-card-guarantee__subtitle Гарантия
    .b-card-guarantee__content
        .b-card-guarantee__text Мы предоставляем клиентам выезд на замер, консультации на объекте; доставку и подъем продукции; врезку фурнитуры на профессиональном оборудовании; демонтаж и установку межкомнатных дверей; укладку массивной и паркетной доски.
        a.b-card-guarantee__link(href="javascript:void(0);", title="Узнать прогарантию") Подробнее