.b-card-select{
    display: flex;
    padding: 0 0 87px 100px;
    position: relative;
    justify-content: space-between;
    margin-bottom: 30px;
    &__title {
        margin: 0;
        min-width: 334px;
        width: 334px;
        margin-bottom: 89px;
        font-size: 48px;
        line-height: 57px;
    }
    &__descr{
        margin-left: 0;
        width: 270px;
        font-size: 18px;
        line-height: 21px;
        font-weight: 400;
        margin-bottom: 318px;;
    }
    &-wrap {
        padding-top: 217px;
        display: block;
        margin-bottom: 0;
        // width: calc(100% - 350px);
    }
    &__img {
        width:100%;
        height:100%;
        object-fit: cover;
    }
    .b-container {
        padding: 0;
        width: 350px;
        .b-button-rect {
            width: 279px;
        }
    }
}
// .b-card-select > .b-container {
//     padding: 0;
//     width: 350px;
//     // padding-left: 82px;
// }
