include ../../elements/b-button-rect--top/b-button-rect--top.pug
mixin b-card-select()
    section.b-card-select
        .container.b-container--no-padd-mobile
            h2.b-card-select__title Подберем интерьерное решение?
            .b-card-select__descr Ответьте на мои 10 вопросов, и&nbsp;я&nbsp;покажу&nbsp; вам вариант вашей мечты
            +b-button-rect({
                description: "Подобрать"
            })
        picture.b-card-select-wrap
                    source(type="image/webp" srcset="img/content/tablet/7-technology/3/1-1x.webp 1x, img/content/tablet/7-technology/3/1-2x.webp 2x" media="(max-width: 1023px)" class="-card-select__img")
                    source(type="image/jpg" srcset="img/content/tablet/7-technology/3/1-1x.jpg 1x, img/content/tablet/7-technology/3/1-2x.jpg 2x" media="(max-width:1023px)" class="b-card-select__img")
                    source(type="image/webp" srcset="img/content/desktop/7-technology/6/1-1x.webp 1x, img/content/desktop/7-technology/6/1-2x.webp 2x" class="b-card-select__img")
                    source(type="image/jpg" srcset="img/content/desktop/7-technology/6/1-1x.jpg 1x, img/content/desktop/7-technology/6/1-2x.jpg 2x")
                    img(src="img/content/desktop/7-technology/6/1-1x.jpg" alt="..." class="b-card-select__img")