mixin b-card-select()
    section.b-card-select
        .container.b-container--no-padd-mobile
            .b-card-select__title
                h2 Подберем интерьерное решение?
            .b-card-select__descr Ответьте на мои 10 вопросов, и я покажу вам вариант вашей мечты

