.b-card-select{
    display: flex;
    padding: 318px 0 87px 200px;
    position: relative;
    margin-bottom: 100px;
    justify-content: space-between;
    &__title {
        margin: 0;
        width: 413px;
        min-width: 413px;
        margin-bottom: 101px;
        font-size: 60px;
        margin-right: 71px;
    }
    &__descr {
        width: 340px;
        min-width: 340px;
        font-size: 18px;
        line-height: 21px;
        font-weight: 400;
        margin-bottom: 318px;
    }
    &-wrap {
        max-width:903px;
        height: auto;
        display: block;
        object-fit: cover;
        position: static;
        margin-top: -220px;
        align-self: flex-end;
    }
    &__img {
        width:100%;
        object-fit: cover;
    }
}
.b-card-select > .container {
    display: flex;
    flex-direction: column ;
    max-width: 484px;
    margin: 0;
}