.b-card-select{
    display: block;
    padding: 318px 0 87px 200px;
    position: relative;
    margin-bottom: 100px;
}
.b-card-select__title h2 {
    margin: 0;
    min-width: 580px;
    margin-bottom: 101px;
    font-size: 60px;
    line-height: 57px;
}
.b-card-select__descr{
    margin-left: 0;
    width: 350px;
    max-width: 700px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 80px;
    margin-right: 0;
}
.b-card-select-wrap {
    display:block;
    // height: 865px;
    max-width: 921px;
    // height: 803px;
    position: absolute;
    right:0;
    top:60px;
    object-fit: cover;
}
.b-card-select__img {
    // width:100%;
    max-width: 921px;
    object-fit: cover;
}