.b-link-and-switcher {
    display: flex;
    justify-content: space-between;

    width: 100%;

    &__link {
        padding-bottom: 5px;

        font-family: 'Open Sans';
        font-size: 12px;
        text-decoration: none;
        color: @green47;

        border-bottom: 1px solid @green47;

        transition: color .1s linear;
        transition: border-bottom-color .1s linear;
    }

    &__link:hover {
        color: lighten(@green47, 20%);
        border-bottom-color: lighten(@green47, 20%);
    }

    &__box {
        display: flex;
    }

    &__link-left-arrow,
    &__link-right-arrow {
        display: flex;
    }

    &__link-right-arrow {
        margin-left: 23px;
    }

    &__img-left {
        fill: @green47;
        align-self: center;
        transform: rotate(180deg);
    }

    &__img-right {
        fill: @green47;
        align-self: center;
    }

    &__link-left-arrow:hover &__img-left,
    &__link-right-arrow:hover &__img-right {
        fill: lighten(@green47, 20%);
    }
}