mixin b-link-and-switcher(name)
    .b-link-and-switcher
        a.b-link-and-switcher__link(href="javascript: void(0);", title="")= name
        .b-link-and-switcher__box
            a.b-link-and-switcher__link-left-arrow(href="javascript: void(0);", title="")
                svg.b-link-and-switcher__img-left(width="61" height="25" viewBox="0 0 61 9" xmlns="http://www.w3.org/2000/svg")
                    path(id="Line 3" d="M0.5 4H0V5H0.5V4ZM60.8536 4.85355C61.0488 4.65829 61.0488 4.34171 60.8536 4.14645L57.6716 0.964466C57.4763 0.769204 57.1597 0.769204 56.9645 0.964466C56.7692 1.15973 56.7692 1.47631 56.9645 1.67157L59.7929 4.5L56.9645 7.32843C56.7692 7.52369 56.7692 7.84027 56.9645 8.03553C57.1597 8.2308 57.4763 8.2308 57.6716 8.03553L60.8536 4.85355ZM0.5 5H60.5V4H0.5V5Z")
            a.b-link-and-switcher__link-right-arrow(href="javascript: void(0);", title="")
                svg.b-link-and-switcher__img-right(width="61" height="25" viewBox="0 0 61 9" xmlns="http://www.w3.org/2000/svg")
                    path(id="Line 3" d="M0.5 4H0V5H0.5V4ZM60.8536 4.85355C61.0488 4.65829 61.0488 4.34171 60.8536 4.14645L57.6716 0.964466C57.4763 0.769204 57.1597 0.769204 56.9645 0.964466C56.7692 1.15973 56.7692 1.47631 56.9645 1.67157L59.7929 4.5L56.9645 7.32843C56.7692 7.52369 56.7692 7.84027 56.9645 8.03553C57.1597 8.2308 57.4763 8.2308 57.6716 8.03553L60.8536 4.85355ZM0.5 5H60.5V4H0.5V5Z")