.b-card-doors {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 80px;
    }
    &__pagination {
        display: none;
    }
}