include ../../elements/b-button-collection/b-button-collection.pug
include ..//b-doors/b-doors.pug
mixin b-card-doors
    section.b-card-doors
        .b-title.b-title--doors-header 1567 дверей
        +b-button-collection()
        .b-card-doors__wrapper
            .b-card-doors__intro
                .b-card-doors__empty
                    +b-doors([
                        {
                            doorsModification: "b-doors--intro",
                            imgWebpMediaMax767X1: "img/content/mobile/12-colors/1/2-1x.webp",
                            imgWebpMediaMax767X2: "img/content/mobile/12-colors/1/2-2x.webp",
                            imgJpgMediaMax767X1: "img/content/mobile/12-colors/1/2-1x.jpg",
                            imgJpgMediaMax767X2: "img/content/mobile/12-colors/1/2-2x.jpg",
                            imgWebpMediaMax1023X1: "img/content/tablet/12-colors/1/1-1x.webp",
                            imgWebpMediaMax1023X2: "img/content/tablet/12-colors/1/1-2x.webp",
                            imgJpgMediaMax1023X1: "img/content/tablet/12-colors/1/1-1x.jpg",
                            imgJpgMediaMax1023X2: "img/content/tablet/12-colors/1/1-2x.jpg",
                            imgWebpMediaMaxDeskX1: "img/content/desktop/12-colors/1/1-1x.webp",
                            imgWebpMediaMaxDeskX2: "img/content/desktop/12-colors/1/1-2x.webp",
                            imgjpgMediaMaxDeskX1: "img/content/desktop/12-colors/1/1-1x.jpg",
                            imgjpgMediaMaxDeskX2: "img/content/desktop/12-colors/1/1-2x.jpg",
                            mark: "НОВИНКА",
                            markModification: "b-doors__mark--green",
                            title: "Sonata S3",
                            nameRadio: "card1",
                            idRadio1: 'doors-1',
                            idRadio2: "doors-2",
                            idRadio3: "doors-3",
                            idRadio4: 'doors-4',
                            idRadio5: "doors-5",
                            idRadio6: "doors-6",
                        },
                        {
                            doorsModification: "b-doors--intro",
                            imgWebpMediaMax767X1: "img/content/mobile/12-colors/2/3-1x.webp",
                            imgWebpMediaMax767X2: "img/content/mobile/12-colors/2/3-2x.webp",
                            imgJpgMediaMax767X1: "img/content/mobile/12-colors/2/3-1x.jpg",
                            imgJpgMediaMax767X2: "img/content/mobile/12-colors/2/3-2x.jpg",
                            imgWebpMediaMax1023X1: "img/content/tablet/12-colors/2/1-1x.webp",
                            imgWebpMediaMax1023X2: "img/content/tablet/12-colors/2/2-2x.webp",
                            imgJpgMediaMax1023X1: "img/content/tablet/12-colors/2/1-1x.jpg",
                            imgJpgMediaMax1023X2: "img/content/tablet/12-colors/2/2-2x.jpg",
                            imgWebpMediaMaxDeskX1: "img/content/desktop/12-colors/2/1-1x.webp",
                            imgWebpMediaMaxDeskX2: "img/content/desktop/12-colors/2/1-2x.webp",
                            imgjpgMediaMaxDeskX1: "img/content/desktop/12-colors/2/1-1x.jpg",
                            imgjpgMediaMaxDeskX2: "img/content/desktop/12-colors/2/1-2x.jpg",
                            mark: "АКЦИЯ",
                            markModification: "b-doors__mark--orange",
                            title: "Sonata S3",
                            nameRadio: "card1",
                            idRadio1: 'doors-7',
                            idRadio2: "doors-8",
                            idRadio3: "doors-9",
                            idRadio4: 'doors-10',
                            idRadio5: "doors-11",
                            idRadio6: "doors-12",
                        },
                    ])
            +b-doors([
                {
                    imgWebpMediaMax767X1: "img/content/mobile/12-colors/1/2-1x.webp",
                    imgWebpMediaMax767X2: "img/content/mobile/12-colors/1/2-2x.webp",
                    imgJpgMediaMax767X1: "img/content/mobile/12-colors/1/2-1x.jpg",
                    imgJpgMediaMax767X2: "img/content/mobile/12-colors/1/2-2x.jpg",
                    imgWebpMediaMax1023X1: "img/content/tablet/12-colors/1/1-1x.webp",
                    imgWebpMediaMax1023X2: "img/content/tablet/12-colors/1/1-2x.webp",
                    imgJpgMediaMax1023X1: "img/content/tablet/12-colors/1/1-1x.jpg",
                    imgJpgMediaMax1023X2: "img/content/tablet/12-colors/1/1-2x.jpg",
                    imgWebpMediaMaxDeskX1: "img/content/desktop/12-colors/1/1-1x.webp",
                    imgWebpMediaMaxDeskX2: "img/content/desktop/12-colors/1/1-2x.webp",
                    imgjpgMediaMaxDeskX1: "img/content/desktop/12-colors/1/1-1x.jpg",
                    imgjpgMediaMaxDeskX2: "img/content/desktop/12-colors/1/1-2x.jpg",
                    mark: "НОВИНКА",
                    markModification: "b-doors__mark--green",
                    title: "Sonata S3",
                    nameRadio: "card1",
                    idRadio1: 'doors1',
                    idRadio2: "doors2",
                    idRadio3: "doors3",
                    idRadio4: 'doors4',
                    idRadio5: "doors5",
                    idRadio6: "doors6",
                },
                {
                    imgWebpMediaMax767X1: "img/content/mobile/12-colors/2/3-1x.webp",
                    imgWebpMediaMax767X2: "img/content/mobile/12-colors/2/3-2x.webp",
                    imgJpgMediaMax767X1: "img/content/mobile/12-colors/2/3-1x.jpg",
                    imgJpgMediaMax767X2: "img/content/mobile/12-colors/2/3-2x.jpg",
                    imgWebpMediaMax1023X1: "img/content/tablet/12-colors/2/1-1x.webp",
                    imgWebpMediaMax1023X2: "img/content/tablet/12-colors/2/2-2x.webp",
                    imgJpgMediaMax1023X1: "img/content/tablet/12-colors/2/1-1x.jpg",
                    imgJpgMediaMax1023X2: "img/content/tablet/12-colors/2/2-2x.jpg",
                    imgWebpMediaMaxDeskX1: "img/content/desktop/12-colors/2/1-1x.webp",
                    imgWebpMediaMaxDeskX2: "img/content/desktop/12-colors/2/1-2x.webp",
                    imgjpgMediaMaxDeskX1: "img/content/desktop/12-colors/2/1-1x.jpg",
                    imgjpgMediaMaxDeskX2: "img/content/desktop/12-colors/2/1-2x.jpg",
                    mark: "АКЦИЯ",
                    markModification: "b-doors__mark--orange",
                    title: "Sonata S3",
                    nameRadio: "card1",
                    idRadio1: 'doors7',
                    idRadio2: "doors8",
                    idRadio3: "doors9",
                    idRadio4: 'doors10',
                    idRadio5: "doors11",
                    idRadio6: "doors12",
                },
                {
                    imgWebpMediaMax767X1: "img/content/mobile/12-colors/1/2-1x.webp",
                    imgWebpMediaMax767X2: "img/content/mobile/12-colors/1/2-2x.webp",
                    imgJpgMediaMax767X1: "img/content/mobile/12-colors/1/2-1x.jpg",
                    imgJpgMediaMax767X2: "img/content/mobile/12-colors/1/2-2x.jpg",
                    imgWebpMediaMax1023X1: "img/content/tablet/12-colors/1/1-1x.webp",
                    imgWebpMediaMax1023X2: "img/content/tablet/12-colors/1/1-2x.webp",
                    imgJpgMediaMax1023X1: "img/content/tablet/12-colors/1/1-1x.jpg",
                    imgJpgMediaMax1023X2: "img/content/tablet/12-colors/1/1-2x.jpg",
                    imgWebpMediaMaxDeskX1: "img/content/desktop/12-colors/1/1-1x.webp",
                    imgWebpMediaMaxDeskX2: "img/content/desktop/12-colors/1/1-2x.webp",
                    imgjpgMediaMaxDeskX1: "img/content/desktop/12-colors/1/1-1x.jpg",
                    imgjpgMediaMaxDeskX2: "img/content/desktop/12-colors/1/1-2x.jpg",
                    mark: "",
                    markModification: "",
                    title: "Sonata S3",
                    nameRadio: "card1",
                    idRadio1: 'doors13',
                    idRadio2: "doors14",
                    idRadio3: "doors15",
                    idRadio4: 'doors16',
                    idRadio5: "doors17",
                    idRadio6: "doors18",
                },
                {
                    imgWebpMediaMax767X1: "img/content/mobile/12-colors/2/3-1x.webp",
                    imgWebpMediaMax767X2: "img/content/mobile/12-colors/2/3-2x.webp",
                    imgJpgMediaMax767X1: "img/content/mobile/12-colors/2/3-1x.jpg",
                    imgJpgMediaMax767X2: "img/content/mobile/12-colors/2/3-2x.jpg",
                    imgWebpMediaMax1023X1: "img/content/tablet/12-colors/2/1-1x.webp",
                    imgWebpMediaMax1023X2: "img/content/tablet/12-colors/2/2-2x.webp",
                    imgJpgMediaMax1023X1: "img/content/tablet/12-colors/2/1-1x.jpg",
                    imgJpgMediaMax1023X2: "img/content/tablet/12-colors/2/2-2x.jpg",
                    imgWebpMediaMaxDeskX1: "img/content/desktop/12-colors/2/1-1x.webp",
                    imgWebpMediaMaxDeskX2: "img/content/desktop/12-colors/2/1-2x.webp",
                    imgjpgMediaMaxDeskX1: "img/content/desktop/12-colors/2/1-1x.jpg",
                    imgjpgMediaMaxDeskX2: "img/content/desktop/12-colors/2/1-2x.jpg",
                    mark: "",
                    markModification: "b-doors__mark--orange",
                    title: "Sonata S3",
                    nameRadio: "card1",
                    idRadio1: 'doors19',
                    idRadio2: "doors20",
                    idRadio3: "doors21",
                    idRadio4: 'doors22',
                    idRadio5: "doors23",
                    idRadio6: "doors24",
                },
                {
                    imgWebpMediaMax767X1: "img/content/mobile/12-colors/1/2-1x.webp",
                    imgWebpMediaMax767X2: "img/content/mobile/12-colors/1/2-2x.webp",
                    imgJpgMediaMax767X1: "img/content/mobile/12-colors/1/2-1x.jpg",
                    imgJpgMediaMax767X2: "img/content/mobile/12-colors/1/2-2x.jpg",
                    imgWebpMediaMax1023X1: "img/content/tablet/12-colors/1/1-1x.webp",
                    imgWebpMediaMax1023X2: "img/content/tablet/12-colors/1/1-2x.webp",
                    imgJpgMediaMax1023X1: "img/content/tablet/12-colors/1/1-1x.jpg",
                    imgJpgMediaMax1023X2: "img/content/tablet/12-colors/1/1-2x.jpg",
                    imgWebpMediaMaxDeskX1: "img/content/desktop/12-colors/1/1-1x.webp",
                    imgWebpMediaMaxDeskX2: "img/content/desktop/12-colors/1/1-2x.webp",
                    imgjpgMediaMaxDeskX1: "img/content/desktop/12-colors/1/1-1x.jpg",
                    imgjpgMediaMaxDeskX2: "img/content/desktop/12-colors/1/1-2x.jpg",
                    mark: "",
                    markModification: "",
                    title: "Sonata S3",
                    nameRadio: "card1",
                    idRadio1: 'doors25',
                    idRadio2: "doors26",
                    idRadio3: "doors27",
                    idRadio4: 'doors28',
                    idRadio5: "doors29",
                    idRadio6: "doors30",
                },
                {
                    imgWebpMediaMax767X1: "img/content/mobile/12-colors/2/3-1x.webp",
                    imgWebpMediaMax767X2: "img/content/mobile/12-colors/2/3-2x.webp",
                    imgJpgMediaMax767X1: "img/content/mobile/12-colors/2/3-1x.jpg",
                    imgJpgMediaMax767X2: "img/content/mobile/12-colors/2/3-2x.jpg",
                    imgWebpMediaMax1023X1: "img/content/tablet/12-colors/2/1-1x.webp",
                    imgWebpMediaMax1023X2: "img/content/tablet/12-colors/2/2-2x.webp",
                    imgJpgMediaMax1023X1: "img/content/tablet/12-colors/2/1-1x.jpg",
                    imgJpgMediaMax1023X2: "img/content/tablet/12-colors/2/2-2x.jpg",
                    imgWebpMediaMaxDeskX1: "img/content/desktop/12-colors/2/1-1x.webp",
                    imgWebpMediaMaxDeskX2: "img/content/desktop/12-colors/2/1-2x.webp",
                    imgjpgMediaMaxDeskX1: "img/content/desktop/12-colors/2/1-1x.jpg",
                    imgjpgMediaMaxDeskX2: "img/content/desktop/12-colors/2/1-2x.jpg",
                    mark: "",
                    markModification: "b-doors__mark--orange",
                    title: "Sonata S3",
                    nameRadio: "card31",
                    idRadio1: 'doors32',
                    idRadio2: "doors33",
                    idRadio3: "doors34",
                    idRadio4: 'doors35',
                    idRadio5: "doors36",
                    idRadio6: "doors37",
                },
                {
                    imgWebpMediaMax767X1: "img/content/mobile/12-colors/1/2-1x.webp",
                    imgWebpMediaMax767X2: "img/content/mobile/12-colors/1/2-2x.webp",
                    imgJpgMediaMax767X1: "img/content/mobile/12-colors/1/2-1x.jpg",
                    imgJpgMediaMax767X2: "img/content/mobile/12-colors/1/2-2x.jpg",
                    imgWebpMediaMax1023X1: "img/content/tablet/12-colors/1/1-1x.webp",
                    imgWebpMediaMax1023X2: "img/content/tablet/12-colors/1/1-2x.webp",
                    imgJpgMediaMax1023X1: "img/content/tablet/12-colors/1/1-1x.jpg",
                    imgJpgMediaMax1023X2: "img/content/tablet/12-colors/1/1-2x.jpg",
                    imgWebpMediaMaxDeskX1: "img/content/desktop/12-colors/1/1-1x.webp",
                    imgWebpMediaMaxDeskX2: "img/content/desktop/12-colors/1/1-2x.webp",
                    imgjpgMediaMaxDeskX1: "img/content/desktop/12-colors/1/1-1x.jpg",
                    imgjpgMediaMaxDeskX2: "img/content/desktop/12-colors/1/1-2x.jpg",
                    mark: "",
                    markModification: "",
                    title: "Sonata S3",
                    nameRadio: "card38",
                    idRadio1: 'doors39',
                    idRadio2: "doors40",
                    idRadio3: "doors41",
                    idRadio4: 'doors42',
                    idRadio5: "doors43",
                    idRadio6: "doors44",
                },
                {
                    imgWebpMediaMax767X1: "img/content/mobile/12-colors/2/3-1x.webp",
                    imgWebpMediaMax767X2: "img/content/mobile/12-colors/2/3-2x.webp",
                    imgJpgMediaMax767X1: "img/content/mobile/12-colors/2/3-1x.jpg",
                    imgJpgMediaMax767X2: "img/content/mobile/12-colors/2/3-2x.jpg",
                    imgWebpMediaMax1023X1: "img/content/tablet/12-colors/2/1-1x.webp",
                    imgWebpMediaMax1023X2: "img/content/tablet/12-colors/2/2-2x.webp",
                    imgJpgMediaMax1023X1: "img/content/tablet/12-colors/2/1-1x.jpg",
                    imgJpgMediaMax1023X2: "img/content/tablet/12-colors/2/2-2x.jpg",
                    imgWebpMediaMaxDeskX1: "img/content/desktop/12-colors/2/1-1x.webp",
                    imgWebpMediaMaxDeskX2: "img/content/desktop/12-colors/2/1-2x.webp",
                    imgjpgMediaMaxDeskX1: "img/content/desktop/12-colors/2/1-1x.jpg",
                    imgjpgMediaMaxDeskX2: "img/content/desktop/12-colors/2/1-2x.jpg",
                    mark: "",
                    markModification: "b-doors__mark--orange",
                    title: "Sonata S3",
                    nameRadio: "card1",
                    idRadio1: 'doors45',
                    idRadio2: "doors46",
                    idRadio3: "doors47",
                    idRadio4: 'doors48',
                    idRadio5: "doors49",
                    idRadio6: "doors50",
                },
            ])
        .b-card-doors__pagination
            .b-card-doors__elements
                span.b-card-doors__elements-displayed 8
                span.b-card-doors__elements-total /14
            a.b-card-doors__link(href="javascript:void(0);" title="Показать ещё")
                span.b-card-doors__link-descr ПОКАЗАТЬ ЕЩЕ
                img.b-card-doors__link-img(src="img/icons/down-green.svg")