.b-breadcrumb {
  position: absolute;
  top: 100px;
  left: 59px;
  display: block;
    &__item {
      &:not(:last-child):after {
        content: '—';
        margin-right: 10px;
        margin-left: 5px;
        color: @whiteFF;
      }
      &:last-child {
        font-weight: 700;
        color: @whiteFF;
      }
    }
    &__link {
      color: @whiteFF;
      font-weight: 300;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    &__link--current {
      font-weight: 700;
      color: @whiteFF
    }
    &__list {
      list-style-type: none;
      padding: 0;
      display: flex;
    }

  }
