.b-card-img, .b-container{
    margin: 0;
    display: flex;
}
.b-card-icon{
    display: none;
}
.b-card-img--palitra{
    order: 1;
    width:50%;
    height: 362px;
    position: relative;
    padding: 0 0 29px 0;
    text-decoration: none;
    margin-right: auto;
}
.b-title--palitra{
    width: 147px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    color:#ffffff;
    margin-left: auto;
    margin-top: 43px;
    margin-right: 43px;
}
.b-card-img--skorob{
    order: 3;
    width: 50%;
    height: 362px;
    text-decoration: none;
    margin-bottom: -112px;
}
.b-card-img--skorob img{
    object-fit: cover;
    width: 50%;
    margin-left: 50%;
}
.b-card-img--reiki{
    order:4;
    width: 50%;
    height: 362px;
    text-decoration: none;
    margin-bottom: -112px;
}
.b-card-img--reiki img{
    object-fit: cover;
    width: 50%;
    margin-right:100%;
}
.b-title--reiki{
    width: 136px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
    color:#ffffff;
    text-align: left;
    margin-right: 55%;
}
.b-card-descr--reiki {
    order: 6;
    width: 239px;
    height: 260px;
    text-align: right;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 82px;
    margin-right: 0;
    margin-top: -50px;
}
.b-card-img--sliding{
    order: 5;
    width: 50%;
    height: 341px;
    background-color: @greyF0;
    position: relative;
    text-decoration: none;
    padding-top: 30px;
    margin-top: 110px;
}
.b-card-img--sliding::before{
    content:"";
    position: absolute;
    background-image:url(../../img/content/mobile/2-door-types/4/1.svg);
    background-size: 100%;
    width: 216px;
    height: 452px;
    z-index: 1;
    bottom:0;
    left:0;
}
.b-card-img--holz{
    position: relative;
    order:2;
    width: 50%;
    height:224px;
    text-decoration: none;
    margin-top: 138px;
}
.b-card-img--holz img{
    width: 50%;
    object-fit: cover;
    margin-left: 50%;
}
.b-title--holz{
    position: absolute;
    width:105px;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: #ffffff;
    top:18px;
    right:173px;
    margin: 0;
}
.b-card-descr--holz {
    order: 8;
    width: 239px;
    height: 175px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color:@grey3C;
    margin: 0;
    margin-right: 60px;
    margin-top: 126px;
}
.b-card-img--verso{
    order: 7;
    width: 100%;
    height: 311px;
    position: relative;
    padding: 0 0 42px 0;
    text-decoration: none; 
    margin-left: 50%;
    margin-top: -120px;
}
.b-card-img--corso{
    order: 8;
    width: 50%;
    height: 225px;
    position: relative;
    text-decoration: none;
}
.b-card-img--corso img{
    object-fit: cover;
    width: 50%;
    height: 100%;
    margin-right: 50%;
}
.b-card-img--janelle{
    order: 9;
    width: 50%;
    height: 225px;
    position: relative;
    text-decoration: none;
    margin-left: auto;
    margin-top: -75px;
}
.b-card-img--janelle img{
    object-fit: cover;
    width: 50%;
    height: 100%;
    margin-right: 100%;
}
.b-title--janelle{
    position: absolute;
    width: 91px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color:#ffffff;
    left:108px;
}



