mixin b-card__img()
    section.b-card-doortypes
        .b-container.b-container--no-padd-mobile
            a(href="javascript: void(0);", title="Перейти в каталог").b-card-doortypes__img.b-card-doortypes__img--palitra
                picture.b-card-doortypes__picture.b-card-doortypes__picture--palitra
                    source(type="image/webp" srcset="img/content/mobile/2-door-types/1/2-1x.webp 1x, img/content/mobile/2-door-types/1/2-2x.webp 2x" media="(max-width: 767px)")
                    source(type="image/jpeg" srcset="img/content/mobile/2-door-types/1/2-1x.jpg 1x, img/content/mobile/2-door-types/1/2-2x.jpg 2x" media="(max-width: 767px)")
                    source(type="image/webp" srcset="img/content/tablet/2-door-types/1/1-1x.webp 1x, img/content/tablet/2-door-types/1/1-2x.webp 2x" media="(max-width: 1023px)")
                    source(type="image/jpeg" srcset="img/content/tablet/2-door-types/1/1-1x.jpg 1x, img/content/tablet/2-door-types/1/1-2x.jpg 2x" media="(max-width: 1023px)")
                    source(type="image/webp" srcset="img/content/desktop/2-door-types/1/1-1x.webp 1x, img/content/desktop/2-door-types/1/1-2x.webp 2x")
                    source(type="image/jpeg" srcset="img/content/desktop/2-door-types/1/1-1x.jpg 1x, img/content/desktop/2-door-types/1/1-2x.jpg 2x")
                    img(src="img/content/desktop/2-door-types/1/1-1x.jpg" alt="Межкомнатные двери")
                .b-title.b-title--palitra Межкомнатные двери
                .b-card-doortypes-icon.b-card-doortypes-icon--palitra
                    img(src="img/icons/go-to.svg", alt="Перейти")
            .b-card-doortypes__img.b-card-doortypes__img--skorob
                a(href="javascript: void(0);", title="Перейти в каталог")
                    picture.b-card-doortypes__picture.b-card-doortypes__picture--skorob
                        source(type="image/webp" srcset="img/content/mobile/2-door-types/2/3-1x.webp 1x, img/content/mobile/2-door-types/2/3-2x.webp 2x" media="(max-width: 767px)")
                        source(type="image/jpeg" srcset="img/content/mobile/2-door-types/2/3-1x.jpg 1x, img/content/mobile/2-door-types/2/3-2x.jpg 2x" media="(max-width: 767px)")
                        source(type="image/webp" srcset="img/content/tablet/2-door-types/2/2-1x.webp 1x, img/content/tablet/2-door-types/2/2-2x.webp 2x" media="(max-width: 1023px)")
                        source(type="image/jpeg" srcset="img/content/tablet/2-door-types/2/2-1x.jpg 1x, img/content/tablet/2-door-types/2/2-2x.jpg 2x" media="(max-width: 1023px)")
                        source(type="image/webp" srcset="img/content/desktop/2-door-types/2/1-1x.webp 1x, img/content/desktop/2-door-types/2/1-2x.webp 2x")
                        source(type="image/jpeg" srcset="img/content/desktop/2-door-types/2/1-1x.jpg 1x, img/content/desktop/2-door-types/2/1-2x.jpg 2x")
                        img(src="img/content/desktop/2-door-types/2/1-1x.jpg" alt="Скрытые двери")
                .b-title.b-title--skorob Скрытые двери
                .b-card-doortypes-icon.b-card-doortypes-icon--skorob
                    img(src="img/icons/go-to.svg", alt="Перейти")
            .b-card-doortypes__img.b-card-doortypes__img--reiki
                a(href="javascript: void(0);", title="Перейти в каталог")
                    picture.b-card-doortypes__picture.b-card-doortypes__picture--reiki
                        source(type="image/webp" srcset="img/content/mobile/2-door-types/3/4-1x.webp 1x, img/content/mobile/2-door-types/3/4-2x.webp 2x" media="(max-width: 767px)")
                        source(type="image/jpeg" srcset="img/content/mobile/2-door-types/3/4-1x.jpg 1x, img/content/mobile/2-door-types/3/4-2x.jpg 2x" media="(max-width: 767px)")
                        source(type="image/webp" srcset="img/content/tablet/2-door-types/3/3-1x.webp 1x, img/content/tablet/2-door-types/3/3-2x.webp 2x" media="(max-width: 1023px)")
                        source(type="image/jpeg" srcset="img/content/tablet/2-door-types/3/3-1x.jpg 1x, img/content/tablet/2-door-types/3/3-2x.jpg 2x" media="(max-width: 1023px)")
                        source(type="image/webp" srcset="img/content/desktop/2-door-types/3/1-1x.webp 1x, img/content/desktop/2-door-types/3/1-2x.webp 2x")
                        source(type="image/jpeg" srcset="img/content/desktop/2-door-types/3/1-1x.jpg 1x, img/content/desktop/2-door-types/3/1-2x.jpg 2x")
                        img(src="img/content/desktop/2-door-types/3/1-1x.jpg" alt="Декоративные рейки")
                .b-title.b-title--reiki Декоративные рейки
                .b-card-doortypes-icon.b-card-doortypes-icon--reiki
                    img(src="img/icons/go-to.svg", alt="Перейти")
            .b-card-doortypes__descr.b-card-doortypes__descr--reiki В компании ESTET вы можете купить качественные межкомнатные двери. Богатый выбор   является гарантией того, что вы обязательно найдете модель, оптимально соответствующую вашим потребностям, пожеланиям и финансовым возможностям.
            a(href="javascript: void(0);", title="Перейти в каталог").b-card-doortypes__img.b-card-doortypes__img--sliding
                .b-title.b-title--sliding Раздвижные двери
                .b-card-doortypes-icon.b-card-doortypes-icon--sliding
                    img(src="img/icons/go-to.svg", alt="Перейти")
            .b-card-doortypes__img.b-card-doortypes__img--holz
                .b-card-doortypes__img.b-card-doortypes__img--holz
                    a(href="javascript: void(0);", title="Перейти в каталог")
                        picture.b-card-doortypes__picture.b-card-doortypes__picture--holz
                            source(type="image/webp" srcset="img/content/mobile/2-door-types/5/6-1x.webp 1x, img/content/mobile/2-door-types/5/6-2x.webp 2x" media="(max-width: 767px)")
                            source(type="image/jpeg" srcset="img/content/mobile/2-door-types/5/6-1x.jpg 1x, img/content/mobile/2-door-types/5/6-2x.jpg 2x" media="(max-width: 767px)")
                            source(type="image/webp" srcset="img/content/tablet/2-door-types/5/5-1x.webp 1x, img/content/tablet/2-door-types/5/5-2x.webp 2x" media="(max-width: 1023px)")
                            source(type="image/jpeg" srcset="img/content/tablet/2-door-types/5/5-1x.jpg 1x, img/content/tablet/2-door-types/5/5-2x.jpg 2x" media="(max-width: 1023px)")
                            source(type="image/webp" srcset="img/content/desktop/2-door-types/5/1-1x.webp 1x, img/content/desktop/2-door-types/5/1-2x.webp 2x")
                            source(type="image/jpeg" srcset="img/content/desktop/2-door-types/5/1-1x.jpg 1x, img/content/desktop/2-door-types/5/1-2x.jpg 2x")
                            img(src="img/content/desktop/2-door-types/5/1-1x.jpg" alt="Входные двери")
                    .b-title.b-title--holz Входные двери
                    .b-card-doortypes-icon.b-card-doortypes-icon--holz
                        img(src="img/icons/go-to.svg", alt="Перейти")
            .b-card-doortypes__descr.b-card-doortypes__descr--holz Мы украшаем жизнь покупателей своей качественной продукцией, даря тепло и уют в их дома, создаем все условия для самореализации сотрудников и успеха партнеров.
            a(href="javascript: void(0);", title="Перейти в каталог").b-card-doortypes__img.b-card-doortypes__img--verso
                picture.b-card-doortypes__picture.b-card-doortypes__picture--verso
                    source(type="image/webp" srcset="img/content/mobile/2-door-types/6/7-1x.webp 1x, img/content/mobile/2-door-types/6/7-2x.webp 2x" media="(max-width: 767px)")
                    source(type="image/jpeg" srcset="img/content/mobile/2-door-types/6/7-1x.jpg 1x, img/content/mobile/2-door-types/6/7-2x.jpg 2x" media="(max-width: 767px)")
                    source(type="image/webp" srcset="img/content/tablet/2-door-types/6/6-1x.webp 1x, img/content/tablet/2-door-types/6/6-2x.webp 2x" media="(max-width: 1023px)")
                    source(type="image/jpeg" srcset="img/content/tablet/2-door-types/6/6-1x.jpg 1x, img/content/tablet/2-door-types/6/6-2x.jpg 2x" media="(max-width: 1023px)")
                    source(type="image/webp" srcset="img/content/desktop/2-door-types/6/1-1x.webp 1x, img/content/desktop/2-door-types/6/1-2x.webp 2x")
                    source(type="image/jpeg" srcset="img/content/desktop/2-door-types/6/1-1x.jpg 1x, img/content/desktop/2-door-types/6/1-2x.jpg 2x")
                    img(src="img/content/desktop/2-door-types/6/1-1x.jpg" alt="Межкомнатные перегородки")
                .b-card-doortypes-icon.b-card-doortypes-icon--verso
                    img(src="img/icons/go-to.svg", alt="Перейти")
                .b-title.b-title--verso Межкомнатные перегородки
            .b-card-doortypes__img.b-card-doortypes__img--corso
                a(href="javascript: void(0);", title="Перейти в каталог")
                    picture.b-card-doortypes__picture.b-card-doortypes__picture--corso
                        source(type="image/webp" srcset="img/content/mobile/2-door-types/7/8-1x.webp 1x, img/content/mobile/2-door-types/7/8-2x.webp 2x" media="(max-width: 767px)")
                        source(type="image/jpeg" srcset="img/content/mobile/2-door-types/7/8-1x.jpg 1x, img/content/mobile/2-door-types/7/8-2x.jpg 2x" media="(max-width: 767px)")
                        source(type="image/webp" srcset="img/content/tablet/2-door-types/7/7-1x.webp 1x, img/content/tablet/2-door-types/7/7-2x.webp 2x" media="(max-width: 1023px)")
                        source(type="image/jpeg" srcset="img/content/tablet/2-door-types/7/7-1x.jpg 1x, img/content/tablet/2-door-types/7/7-2x.jpg 2x" media="(max-width: 1023px)")
                        source(type="image/webp" srcset="img/content/desktop/2-door-types/7/1-1x.webp 1x, img/content/desktop/2-door-types/7/1-2x.webp 2x")
                        source(type="image/jpeg" srcset="img/content/desktop/2-door-types/7/1-1x.jpg 1x, img/content/desktop/2-door-types/7/1-2x.jpg 2x")
                        img(src="img/content/desktop/2-door-types/7/1-1x.jpg" alt="Стеновые панели")
                .b-card-doortypes-icon.b-card-doortypes-icon--corso
                        img(src="img/icons/go-to.svg", alt="Перейти")
                .b-title.b-title--corso Стеновые панели
            .b-card-doortypes__img.b-card-doortypes__img--janelle
                a(href="javascript: void(0);", title="Перейти в каталог")
                    picture.b-card-doortypes__picture.b-card-doortypes__picture--janelle
                        source(type="image/webp" srcset="img/content/mobile/2-door-types/8/9-1x.webp 1x, img/content/mobile/2-door-types/8/9-2x.webp 2x" media="(max-width: 767px)")
                        source(type="image/jpeg" srcset="img/content/mobile/2-door-types/8/9-1x.jpg 1x, img/content/mobile/2-door-types/8/9-2x.jpg 2x" media="(max-width: 767px)")
                        source(type="image/webp" srcset="img/content/tablet/2-door-types/8/8-1x.webp 1x, img/content/tablet/2-door-types/8/8-2x.webp 2x" media="(max-width: 1023px)")
                        source(type="image/jpeg" srcset="img/content/tablet/2-door-types/8/8-1x.jpg 1x, img/content/tablet/2-door-types/8/8-2x.jpg 2x" media="(max-width: 1023px)")
                        source(type="image/webp" srcset="img/content/desktop/2-door-types/8/1-1x.webp 1x, img/content/desktop/2-door-types/8/1-2x.webp 2x")
                        source(type="image/jpeg" srcset="img/content/desktop/2-door-types/8/1-1x.jpg 1x, img/content/desktop/2-door-types/8/1-2x.jpg 2x")
                        img(src="img/content/desktop/2-door-types/8/1-1x.jpg" alt="Плинтусы")
                .b-card-doortypes-icon.b-card-doortypes-icon--janelle
                    img(src="img/icons/go-to.svg", alt="Перейти")
                .b-title.b-title--janelle Плинтусы