.b-logo {
    width: 57px;
    height: 57px;
    &--header {
        margin: 0 70px 0 89px;
    }
    &--aside {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 160px;
        height: 160px;
        background-color: @green47;
        &:hover .b-logo__img--aside {
            transform: scale(1.2);
        }
    }
    &__img {
        &--aside {
            width: 57px;
            height: 57px;
            transition: transform 0.2s;
        }
    }
    &--technology {
        width: 15%;
        height: 27%;
        position: relative;
        order: 3;
        transition: background-color 0.5s ease-in-out;
        fill: white;
    }
    &__svg-technology {
        transition: fill 0.5s ease-in-out;
    }
}