.b-logo {
    width: 57px;
    height: 57px;
    &--technology {
        &__svg-technology {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            fill: aliceblue;
        }
    }
}

.b-logo--technology {
    height: auto;
    display: inline-block;
    background-color: @green47;
    order: 7;
    width: 30%;
    position: relative;
}

.b-logo__svg-technology {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    fill: aliceblue;
}
