include ../../blocks/b-picture/b-picture.pug
mixin b-doors(doors)
    each item in doors
        .b-doors(class= item.doorsModification ? item.doorsModification: "")
            .b-doors__img-background
                +b-picture([
                    {
                        pictureClass: "b-picture--doors",
                        imgWebpMediaMax767X1: item.imgWebpMediaMax767X1,
                        imgWebpMediaMax767X2: item.imgWebpMediaMax767X2,
                        imgJpgMediaMax767X1: item.imgJpgMediaMax767X1,
                        imgJpgMediaMax767X2: item.imgJpgMediaMax767X2,
                        imgWebpMediaMax1023X1: item.imgWebpMediaMax1023X1,
                        imgWebpMediaMax1023X2: item.imgWebpMediaMax1023X2,
                        imgJpgMediaMax1023X1: item.imgJpgMediaMax1023X1,
                        imgJpgMediaMax1023X2: item.imgJpgMediaMax1023X2,
                        imgWebpMediaMaxDeskX1: item.imgWebpMediaMaxDeskX1,
                        imgWebpMediaMaxDeskX2: item.imgWebpMediaMaxDeskX2,
                        imgjpgMediaMaxDeskX1: item.imgjpgMediaMaxDeskX1,
                        imgjpgMediaMaxDeskX2: item.imgjpgMediaMaxDeskX2,
                        imgClass: "b-picture__img--dors",
                        alt: "Дверь",
                    }
                ])
            .b-doors__mark-top
                .b-doors__mark-wrapper-heart
                    img.b-doors__heart-img(src="img/icons/heart-green.svg", alt="")
                .b-doors__mark(class=  item.markModification) !{item.mark}
            .b-title.b-title--doors !{item.title}
            .b-doors__price
                .b-doors__price-actual от 7 500 ₽
                .b-doors__price-irrelevant 9 900 ₽
            hr.b-doors__line
            .b-doors__choice-wrapper
                input.b-doors__choice(type="radio" id= item.idRadio1 name= item.nameRadio value="color")
                label(for= item.idRadio1)
                    img.b-doors__choice-textures(src="img/textures/black.png", alt="")
                input.b-doors__choice(type="radio" id= item.idRadio2 name= item.nameRadio value="color")
                label(for= item.idRadio2)
                    img.b-doors__choice-textures(src="img/textures/beige.png", alt="")
                input.b-doors__choice(type="radio" id= item.idRadio3 name= item.nameRadio value="color")
                label(for= item.idRadio3)
                    img.b-doors__choice-textures(src="img/textures/light-beige.png", alt="")
                input.b-doors__choice(type="radio" id= item.idRadio4 name= item.nameRadio value="color")
                label(for= item.idRadio4)
                    img.b-doors__choice-textures(src="img/textures/grey.png", alt="")
                input.b-doors__choice(type="radio" id= item.idRadio5 name= item.nameRadio value="color")
                label(for= item.idRadio5)
                    img.b-doors__choice-textures(src="img/textures/marble.png", alt="")
                input.b-doors__choice(type="radio" id= item.idRadio6 name= item.nameRadio value="color")
                label(for= item.idRadio6)
                    img.b-doors__choice-textures(src="img/textures/grey-tree.png", alt="")
                button.b-doors__choice-button +5