.b-doors {
    width: 25%;
    padding: 14px 53px 24px 16px;
    background-color: @whiteFF;
    max-height: 603px;
    cursor: pointer;
    &:nth-child(4n+2), &:nth-child(4n+3) {
        background-color: @whiteFF;
    }
    &:nth-child(8n+5),
    &:nth-child(8n+3),
    &:nth-child(8n),
    &:nth-child(8n+6) {
        background-color: @whiteF7;
    }

    &:hover {
        background-color: @green47;
    }
    &:hover .b-title--doors, &:hover &__price, &:hover &__choice-button, &:hover &__price-irrelevant {
        color: @whiteFF;
        visibility: visible;
        text-decoration-color: @whiteFF;
    }

    &--intro {
        width: 50%;
    }

    &__price {
        display: flex;
    }

    &__mark {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 3.18182px;
        &-top {
            margin-bottom: 13px;
        }
    }
    &__img-background {
        padding-left: 44px;
        margin-bottom: 17px;
    }
    &__choice-button {
        margin-right: -28px;
    }
}

@media (max-width: 1279px) {
    .b-doors {
        &__img-background {
            padding: 5px 5px 5px 24px;
        }
        &__price {
            &-actual {
                font-size: 12px;
                padding-right: 2px;
            }
            &-irrelevant {
                font-size: 10px;
            }
        }
    }
}