mixin b-button-collection
    nav.b-button-collection__navigation
        button.b-button-collection__button Коллекции
        button.b-button-collection__button.active Все двери
        .b-button-collection__filter
            img(src="../../img/icons/filter.svg", alt="filter")