mixin b-switcher-city--white()
    .b-switcher-city--white
        img.b-switcher-city__icon(src="../../img/icons/geo.svg", alt="")
        select.b-switcher-city__inner--white
            option.b-switcher-city__item Нижний Новгород
            option.b-switcher-city__item Нижний Новгород
            option.b-switcher-city__item Нижний Новгород