mixin b-switcher-city()
    .b-switcher-city
        img.b-switcher-city__icon(src="../../img/icons/geo-green.svg", alt="")
        select.b-switcher-city__inner
            option.b-switcher-city__item Нижний Новгород
            option.b-switcher-city__item Нижний Новгород
            option.b-switcher-city__item Нижний Новгород