mixin b-switcher-city(city)
    .b-switcher-city(class!= city.modificationElements)
        img.b-switcher-city__icon(src= city.imgGeo, alt="")
        select.b-switcher-city__inner(class =city.modificationSelect)
            option.b-switcher-city__item Нижний Новгород
            option.b-switcher-city__item Нижний Новгород
            option.b-switcher-city__item Нижний Новгород