include ../../elements/b-button/b-button.pug
mixin b-doors-nav(active)
    nav.b-doors-nav
        +b-button({
            btn: {
                button: {
                    classBtn: `b-button--collection ${active.collection?active.collection:''}`,
                    descrBtn: 'Коллекции',
                    titleBtn: 'Коллекции'
                }
            }
        })
        +b-button({
            btn: {
                button: {
                    classBtn: `b-button--collection ${active.doors?active.doors:''}`,
                    descrBtn: 'Все двери',
                    titleBtn: 'Все двери'
                }
            }
        })
        .b-doors-nav__filter
            img(src="img/icons/filter.svg", alt="filter")