include ../../elements/b-button/b-button.pug
mixin b-doors-nav
    nav.b-doors-nav
        +b-button({
            btn: {
                button: {
                    classBtn: 'b-button-collection__button',
                    descrBtn: 'Коллекции',
                }
            }
        })
        +b-button({
            btn: {
                button: {
                    classBtn: 'b-button-collection__button active',
                    descrBtn: 'Все двери',
                }
            }
        })
        .b-doors-nav__filter
            img(src="img/icons/filter.svg", alt="filter")