.b-card-address__item {
    width: 230px;
    height: 119px;

    font-family: 'Open Sans';
    color: @grey3C;
}

.b-card-address__item-title {
    margin-bottom: 23px;

    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -.4px;
}

.b-card-address__item-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}
