mixin b-card-address__item()
    .b-card-address__item
        .b-card-address__title Фирменный салон ESTET
        .b-card-address__text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3 