.b-card-address__item {
    width: 180px;

    color: @grey3C;

    &-title {
        margin-bottom: 12px;

        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: -.4px;
    }

    &-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
    }
}