.b-button-rect {
    color: @green47;
    width: 325px;
    min-height: 60px;
    border: none;
    border-top: 1px solid @green47;
    cursor:pointer;
    background-color: transparent;
    font-size: 18px;
    line-height: 21px;
}