.b-price-item {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    &__info {
        width: 50%;
        padding-left: 21px;
    }
    &__price {
        display: inline-block;
        font-weight: 400;
        font-size: 14px;
        line-height: 19.07px;
        color: @grey99;
        margin-bottom: 55%;
    }
    &__post {
        display: none;
    }
    &--renaissance {
        flex-direction: row-reverse;
    }
    &--sonata-pad {
        padding-top: 80px;
    }
    &--sonata-margin {
        margin-bottom: 47px;
    }
    &--renaissance-ord2 {
        padding-top: 44px;
    }
    &--sonata-ord {
        padding-top: 47px;
        display: block;
        display: flex;
    }
    &--genesis {
        display: none;
    }
}

.b-picture--price {
    width: 50%;
}

.b-title--price-door {
    font-size: 18px;
    line-height: 21px;
    color: @grey3C;
    font-weight: 600;
    margin-bottom: 5px;
}


