.b-price-item {
    width: 50%;
    &--renaissance-order4 {
        order: 4;
        padding-bottom: 80px;
    }
    &--padding-top {
        padding-top: 80px;
    }
    &--info-padding {
        padding-top: 80px;
    }
    &--renaissance-ord {
        order: 13;
        padding-bottom: 80px;
    }
    &--renaissance-ord2 {
        order: 10;
        width: 50%;
        background-color: @whiteFF;
        padding-bottom: 0;
        padding-top: 80px;
    }
    &--genesis-ord {
        order: 3;
        width: 50%;
        margin-bottom: 0;
        padding-bottom: 80px;
        background-color: @whiteF7;
    }
    &--sonata-ord {
        order: 6;
        width: 50%;
        padding-top: 80px;
    }
    &--renaissance-ord3 {
        order: 16;
        width: 100%;
        height: 50%;
        padding-bottom: 0;
        padding-top: 80px;
    }
    &--genesis-ord1 {
        order: 12;
        width: 100%;
    }
    &--pad-bot {
        padding-bottom: 80px;
    }
}

