include ../../elements/b-link-and-switcher/b-link-and-switcher.pug
mixin b-card-news()
    section.b-card-news
        .b-container
            .b-card-news__header
                .b-title.b-title--main  Новости и советы
                .b-card-news__nav
                    .b-card-news__button-news.active Новости
                    .b-card-news__button-tips Советы
            a(href="javascript: void(0);", title="Go to Exhibitions").b-card-news__elegant
                picture.b-card-news.b-card-news__elegant-picture
                    source(type="image/webp" srcset="img/content/tablet/8-news/3/1-1x.webp 1x, img/content/tablet/8-news/3/1-2x.webp 2x")
                    source(type="image/jpg" srcset="img/content/tablet/8-news/3/1-1x.jpg 1x, img/content/tablet/8-news/3/1-2x.jpg 2x")
                    img(src="img/content/mobile/8-news/3/1-1x.jpg" alt="News")
                .b-card-news__text
                    .b-title.b-title--elegant Новости и СМИ о нас
                    .b-card-news__elegant-description Новые продукты ‒ коллекция покрытий Boonlayer Ultratex и Boonlayer Original
                    .b-card-news__elegant-date
                        time(datetime="2021-01-25") 25  января 2021 г.
            .b-card-news__news.active
                .b-card-news__wrapper
                    a(href="javascript: void(0);", title="Go to Exhibitions").b-card-news__item
                        picture.b-card-news__picture
                            source(type="image/webp" srcset="img/content/mobile/8-news/1/15-1x.webp 1x, img/content/mobile/8-news/1/15-2x.webp 2x" media="(max-width: 767px)")
                            source(type="image/webp" srcset="img/content/mobile/8-news/1/15-1x.jpg 1x, img/content/mobile/8-news/1/15-2x.jpg 2x" media="(max-width: 767px)")
                            source(type="image/webp" srcset="img/content/tablet/8-news/1/1-1x.webp 1x, img/content/tablet/8-news/1/1-2x.webp 2x" media="(max-width: 1023px)")
                            source(type="image/jpg" srcset="img/content/tablet/8-news/1/1-1x.jpg 1x, img/content/tablet/8-news/1/1-2x.jpg 2x" media="(max-width: 1023px)")
                            source(type="image/webp" srcset="img/content/desktop/8-news/1/1-1x.webp 1x, img/content/desktop/8-news/1/1-2x.webp 2x")
                            source(type="image/jpg" srcset="img/content/desktop/8-news/1/1-1x.jpg 1x, img/content/desktop/8-news/1/1-2x.jpg 2x")
                            img(src="img/content/desktop/8-news/1/1-1x.jpg" alt="Exhibitions")
                        .b-title.b-title--news Выставки
                        .b-card-news__description ESTET на Международной строительно-интерьерной выставке Batimat 2020
                        .b-card-news__date
                            time(datetime="2021-01-25") 25  января 2021 г.
                    a(href="javascript: void(0);", title="Go to news").b-card-news.b-card-news__item
                        picture.b-card-news__picture
                            source(type="image/webp" srcset="img/content/mobile/8-news/2/1-1x.webp 1x, img/content/mobile/8-news/2/1-2x.webp 2x" media="(max-width: 767px)")
                            source(type="image/webp" srcset="img/content/mobile/8-news/2/1-1x.jpg 1x, img/content/mobile/8-news/1/15-2x.jpg 2x" media="(max-width: 767px)")
                            source(type="image/webp" srcset="img/content/tablet/8-news/2/1-1x.webp 1x, img/content/tablet/8-news/2/1-2x.webp 2x" media="(max-width: 1023px)")
                            source(type="image/jpg" srcset="img/content/tablet/8-news/2/1-1x.jpg 1x, img/content/tablet/8-news/2/1-2x.jpg 2x" media="(max-width: 1023px)")
                            source(type="image/webp" srcset="img/content/desktop/8-news/2/1-1x.webp 1x, img/content/desktop/8-news/2/1-2x.webp 2x")
                            source(type="image/jpg" srcset="img/content/desktop/8-news/2/1-1x.jpg 1x, img/content/desktop/8-news/2/1-2x.jpg 2x")
                            img(src="img/content/desktop/8-news/2/1-1x.jpg" alt="News")
                        .b-title.b-title--news Новости и СМИ о нас
                        .b-card-news__description Жалюзные межкомнатные двери AIR поражают стилем и притягивают внимание
                        .b-card-news__date
                            time(datetime="2021-01-25") 25  января 2021 г.
                    a(href="javascript: void(0);", title="Play").b-card-news.b-card-news__item-video
                        .b-card-news__icon
                            img(src="img/icons/play.svg" alt="video")
                        .b-title.b-title--news Видео
                        .b-card-news__description Новые технологии производства коробов для скрытых дверей
                        .b-card-news__date
                            time(datetime="2021-01-25") 25  января 2021 г.
                    a(href="javascript: void(0);", title="Go to Exhibitions").b-card-news__item
                        picture.b-card-news__picture
                            source(type="image/webp" srcset="img/content/mobile/8-news/1/15-1x.webp 1x, img/content/mobile/8-news/1/15-2x.webp 2x" media="(max-width: 767px)")
                            source(type="image/webp" srcset="img/content/mobile/8-news/1/15-1x.jpg 1x, img/content/mobile/8-news/1/15-2x.jpg 2x" media="(max-width: 767px)")
                            source(type="image/webp" srcset="img/content/tablet/8-news/1/1-1x.webp 1x, img/content/tablet/8-news/1/1-2x.webp 2x" media="(max-width: 1023px)")
                            source(type="image/jpg" srcset="img/content/tablet/8-news/1/1-1x.jpg 1x, img/content/tablet/8-news/1/1-2x.jpg 2x" media="(max-width: 1023px)")
                            source(type="image/webp" srcset="img/content/desktop/8-news/1/1-1x.webp 1x, img/content/desktop/8-news/1/1-2x.webp 2x")
                            source(type="image/jpg" srcset="img/content/desktop/8-news/1/1-1x.jpg 1x, img/content/desktop/8-news/1/1-2x.jpg 2x")
                            img(src="img/content/desktop/8-news/1/1-1x.jpg" alt="Exhibitions")
                        .b-title.b-title--news Выставки
                        .b-card-news.b-card-news__description ESTET на Международной строительно-интерьерной выставке   Batimat 2020
                        .b-card-news.b-card-news__date
                            time(datetime="2021-01-25") 25  января 2021 г.
                    a(href="javascript: void(0);", title="Go to news").b-card-news__item
                        picture.b-card-news__picture
                            source(type="image/webp" srcset="img/content/mobile/8-news/2/1-1x.webp 1x, img/content/mobile/8-news/2/1-2x.webp 2x" media="(max-width: 767px)")
                            source(type="image/webp" srcset="img/content/mobile/8-news/2/1-1x.jpg 1x, img/content/mobile/8-news/1/15-2x.jpg 2x" media="(max-width: 767px)")
                            source(type="image/webp" srcset="img/content/tablet/8-news/2/1-1x.webp 1x, img/content/tablet/8-news/2/1-2x.webp 2x" media="(max-width: 1023px)")
                            source(type="image/jpg" srcset="img/content/tablet/8-news/2/1-1x.jpg 1x, img/content/tablet/8-news/2/1-2x.jpg 2x" media="(max-width: 1023px)")
                            source(type="image/webp" srcset="img/content/desktop/8-news/2/1-1x.webp 1x, img/content/desktop/8-news/2/1-2x.webp 2x")
                            source(type="image/jpg" srcset="img/content/desktop/8-news/2/1-1x.jpg 1x, img/content/desktop/8-news/2/1-2x.jpg 2x")
                            img(src="img/content/desktop/8-news/2/1-1x.jpg" alt="News")
                        .b-title.b-title--news Новости и СМИ о нас
                        .b-card-news__description Жалюзные межкомнатные двери AIR поражают стилем и притягивают внимание
                        .b-card-news__date
                            time(datetime="2021-01-25") 25  января 2021 г.
                    a(href="javascript: void(0);", title="Go to news").b-card-news__item
                        picture.b-card-news__picture
                            source(type="image/webp" srcset="img/content/mobile/8-news/2/1-1x.webp 1x, img/content/mobile/8-news/2/1-2x.webp 2x" media="(max-width: 767px)")
                            source(type="image/webp" srcset="img/content/mobile/8-news/2/1-1x.jpg 1x, img/content/mobile/8-news/1/15-2x.jpg 2x" media="(max-width: 767px)")
                            source(type="image/webp" srcset="img/content/tablet/8-news/2/1-1x.webp 1x, img/content/tablet/8-news/2/1-2x.webp 2x" media="(max-width: 1023px)")
                            source(type="image/jpg" srcset="img/content/tablet/8-news/2/1-1x.jpg 1x, img/content/tablet/8-news/2/1-2x.jpg 2x" media="(max-width: 1023px)")
                            source(type="image/webp" srcset="img/content/desktop/8-news/2/1-1x.webp 1x, img/content/desktop/8-news/2/1-2x.webp 2x")
                            source(type="image/jpg" srcset="img/content/desktop/8-news/2/1-1x.jpg 1x, img/content/desktop/8-news/2/1-2x.jpg 2x")
                            img(src="img/content/desktop/8-news/2/1-1x.jpg" alt="News")
                        .b-title.b-title--news Новости и СМИ о нас
                        .b-card-news__description-six Введены новые оригинальные покрытия серии BOONLAYER
                        .b-card-news__date
                            time(datetime="2021-01-25") 25  января 2021 г.
            .b-card-news__news
                .b-card-news__wrapper
                    a(href="javascript: void(0);", title="Go to Exhibitions").b-card-news__item
                        picture.b-card-news__picture
                            source(type="image/webp" srcset="img/content/mobile/8-news/1/15-1x.webp 1x, img/content/mobile/8-news/1/15-2x.webp 2x" media="(max-width: 767px)")
                            source(type="image/webp" srcset="img/content/mobile/8-news/1/15-1x.jpg 1x, img/content/mobile/8-news/1/15-2x.jpg 2x" media="(max-width: 767px)")
                            source(type="image/webp" srcset="img/content/tablet/8-news/1/1-1x.webp 1x, img/content/tablet/8-news/1/1-2x.webp 2x" media="(max-width: 1023px)")
                            source(type="image/jpg" srcset="img/content/tablet/8-news/1/1-1x.jpg 1x, img/content/tablet/8-news/1/1-2x.jpg 2x" media="(max-width: 1023px)")
                            source(type="image/webp" srcset="img/content/desktop/8-news/1/1-1x.webp 1x, img/content/desktop/8-news/1/1-2x.webp 2x")
                            source(type="image/jpg" srcset="img/content/desktop/8-news/1/1-1x.jpg 1x, img/content/desktop/8-news/1/1-2x.jpg 2x")
                            img(src="img/content/desktop/8-news/1/1-1x.jpg" alt="Exhibitions")
                        .b-title.b-title--news Выставки
                        .b-card-news__description ESTET на Международной строительно-интерьерной выставке Batimat 2020
                        .b-card-news__date
                            time(datetime="2021-01-25") 25  января 2021 г.
                    a(href="javascript: void(0);", title="Go to news").b-card-news__item
                        picture.b-card-news__picture
                            source(type="image/webp" srcset="img/content/mobile/8-news/2/1-1x.webp 1x, img/content/mobile/8-news/2/1-2x.webp 2x" media="(max-width: 767px)")
                            source(type="image/webp" srcset="img/content/mobile/8-news/2/1-1x.jpg 1x, img/content/mobile/8-news/1/15-2x.jpg 2x" media="(max-width: 767px)")
                            source(type="image/webp" srcset="img/content/tablet/8-news/2/1-1x.webp 1x, img/content/tablet/8-news/2/1-2x.webp 2x" media="(max-width: 1023px)")
                            source(type="image/jpg" srcset="img/content/tablet/8-news/2/1-1x.jpg 1x, img/content/tablet/8-news/2/1-2x.jpg 2x" media="(max-width: 1023px)")
                            source(type="image/webp" srcset="img/content/desktop/8-news/2/1-1x.webp 1x, img/content/desktop/8-news/2/1-2x.webp 2x")
                            source(type="image/jpg" srcset="img/content/desktop/8-news/2/1-1x.jpg 1x, img/content/desktop/8-news/2/1-2x.jpg 2x")
                            img(src="img/content/desktop/8-news/2/1-1x.jpg" alt="News")
                        .b-title.b-title--news Новости и СМИ о нас
                        .b-card-news__description Жалюзные межкомнатные двери AIR поражают стилем и притягивают внимание
                        .b-card-news__date
                            time(datetime="2021-01-25") 25  января 2021 г.
                    a(href="javascript: void(0);", title="Play").b-card-news.b-card-news__item-video
                        .b-card-news__icon
                            img(src="img/icons/play.svg" alt="video")
                        .b-title.b-title--news Видео
                        .b-card-news__description Новые технологии производства коробов для скрытых дверей
                        .b-card-news__date
                            time(datetime="2021-01-25") 25  января 2021 г.
                    a(href="javascript: void(0);", title="Go to Exhibitions").b-card-news__item
                        picture.b-card-news__picture
                            source(type="image/webp" srcset="img/content/mobile/8-news/1/15-1x.webp 1x, img/content/mobile/8-news/1/15-2x.webp 2x" media="(max-width: 767px)")
                            source(type="image/webp" srcset="img/content/mobile/8-news/1/15-1x.jpg 1x, img/content/mobile/8-news/1/15-2x.jpg 2x" media="(max-width: 767px)")
                            source(type="image/webp" srcset="img/content/tablet/8-news/1/1-1x.webp 1x, img/content/tablet/8-news/1/1-2x.webp 2x" media="(max-width: 1023px)")
                            source(type="image/jpg" srcset="img/content/tablet/8-news/1/1-1x.jpg 1x, img/content/tablet/8-news/1/1-2x.jpg 2x" media="(max-width: 1023px)")
                            source(type="image/webp" srcset="img/content/desktop/8-news/1/1-1x.webp 1x, img/content/desktop/8-news/1/1-2x.webp 2x")
                            source(type="image/jpg" srcset="img/content/desktop/8-news/1/1-1x.jpg 1x, img/content/desktop/8-news/1/1-2x.jpg 2x")
                            img(src="img/content/desktop/8-news/1/1-1x.jpg" alt="Exhibitions")
                        .b-title.b-title--news Выставки
                        .b-card-news__description ESTET на Международной строительно-интерьерной выставке Batimat 2020
                        .b-card-news__date
                            time(datetime="2021-01-25") 25  января 2021 г.
                    a(href="javascript: void(0);", title="Go to news").b-card-news__item
                        picture.b-card-news__picture
                            source(type="image/webp" srcset="img/content/mobile/8-news/2/1-1x.webp 1x, img/content/mobile/8-news/2/1-2x.webp 2x" media="(max-width: 767px)")
                            source(type="image/webp" srcset="img/content/mobile/8-news/2/1-1x.jpg 1x, img/content/mobile/8-news/1/15-2x.jpg 2x" media="(max-width: 767px)")
                            source(type="image/webp" srcset="img/content/tablet/8-news/2/1-1x.webp 1x, img/content/tablet/8-news/2/1-2x.webp 2x" media="(max-width: 1023px)")
                            source(type="image/jpg" srcset="img/content/tablet/8-news/2/1-1x.jpg 1x, img/content/tablet/8-news/2/1-2x.jpg 2x" media="(max-width: 1023px)")
                            source(type="image/webp" srcset="img/content/desktop/8-news/2/1-1x.webp 1x, img/content/desktop/8-news/2/1-2x.webp 2x")
                            source(type="image/jpg" srcset="img/content/desktop/8-news/2/1-1x.jpg 1x, img/content/desktop/8-news/2/1-2x.jpg 2x")
                            img(src="img/content/desktop/8-news/2/1-1x.jpg" alt="News")
                        .b-title.b-title--news Новости и СМИ о нас
                        .b-card-news__description Жалюзные межкомнатные двери AIR поражают стилем и притягивают внимание
                        .b-card-news__date
                            time(datetime="2021-01-25") 25  января 2021 г.
                    a(href="javascript: void(0);", title="Go to news").b-card-news__item
                        .b-title.b-title--news Новости и СМИ о нас
                        .b-card-news__description-six Введены новые оригинальные покрытия серии BOONLAYER
                        .b-card-news__date
                            time(datetime="2021-01-25") 25  января 2021 г.
            .b-card-news__button-switcher
                +b-link-and-switcher("Все новости")