.b-card-news{
    display: flex;
}
.b-card-news .b-conteiner{
    margin: 0 auto;
    width: 100%;
}
.b-card-news__title h2{
    width: 272px;
    font-size: 30px;
    line-height: 35px;
    font-weight: 600;
    color: @grey3C;
    margin-bottom: 30px;
}
.b-card-news__button{
    display: flex;
    width: 170px;
    height:24px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    color:@grey3C;
    margin-bottom: 40px;
}
.b-card-news__button .news.active{
    width:85px ;
    text-align: left;
    border-bottom: 1px solid @greyCD;
}
.b-card-news__button .tips{
    width:84px ;
    padding-left: 22px;
    border-bottom: 1px solid @greyCD;
}
.b-card-news__button .news.active:active{
    color:@green47;
    border-color:@green47;
}
.b-card-news__item{
    display: block;
    margin-bottom: 54px;
    text-decoration: none;
}
.b-card-news__item img{
    margin-bottom: 17px;
}
.b-card-news__item .title{
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color:@green47;
    margin-bottom: 12px;
}
.b-card-news__item .description{
    width: 258px;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    color:@grey3C;
    margin-bottom: 24px;
}
.b-card-news__item .date{
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color:@grey99;
}
.b-card-news__item.video img{
    margin-bottom: 50px;
}

