.b-card-news{
    & .b-container{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-right: 0;
    }
    &__header{
        width: calc(100% - 240px);
    }
    &__nav{
        margin-left: auto;
    }
    &__button{
        &-active{
            width:85px;
            height: auto;
            text-align: left;
            border-bottom: 1px solid @greyCD;
        }
        &-switcher{
            width: 100%;
            margin-left: auto;
            margin-right: 280px;
        }
    }
    &__elegant{
        display: block;
        width: 40%;
        text-decoration: none;
        margin-right: 62px;
        & img{
            object-fit: cover;
            width: 558px;
            height: 439px;
        }
    }
    &__news{
        &.active {
            overflow:hidden;
            width: calc(60% - 62px);;
            height: 700px;
            position: relative;
        }
        &::before{
            width: 295px;
        }
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        flex-shrink: 0;
    }
    &__item{
        height: calc(50% - 36px);
        margin-right: 37px;
        margin-bottom:23px;
    }
    &__tips{
        display: none;
    }
    &__description{
        &-six{
            width: 258px;
            font-size: 16px;
            font-weight: 600;
            line-height: 23px;
            color:@grey3C;
            margin-bottom: 47px;
        }
    }
    &__text{
        margin-left: 0;
    }
    &__icon{
        & picture{
            width:calc(100% - 37px);
            height: calc(100% - 48px);
        }
    }
    & .slick-track, & .slick-list{
        height: 100%;
    }
    & .slick-track {
        flex-wrap: wrap;
        flex-direction: column;
    }
}

