.b-card-news{
    padding-right: 0;
    & .b-container{
        margin: 0 auto;
        width: 100%;
        padding-right: 0;
        max-width: none;
    }
    &__header{
        width: 170px;
        font-size: 16px;
        line-height: 18px;
        font-weight: 600;
        color:@grey3C;
    }
    &__nav{
        display: flex;
        width: 100%;
        height: auto;
        margin-bottom: 41px;
        cursor: pointer;
    }
    &__button{
        &-news {
            width:85px;
            height: 25px;
            text-align: left;
            border-bottom: 1px solid @greyCD;
            transition: opacity 0.2s;
            &.active{
                color:@green47;
                border-color:@green47;
            }
            &:hover {
                opacity: 0.7;
            }
        }
        &-tips{
            width:84px ;
            padding-left: 22px;
            border-bottom: 1px solid @greyCD;
            transition: opacity 0.2s;
            &.active{
                color:@green47;
                border-color:@green47;
            }
            &:hover {
                opacity: 0.7;
            }
        }
        &-switcher{
            padding-right: 25px;
            margin-bottom: 67px;
        }
    }
    &__elegant {
        display: none;
    }
    &__news{
        display:none;
        &.active {
            display: block;
            overflow:hidden;
            width: 100%;
            position: relative;
        }
    }
    &__wrapper{
        display: flex;
        width: 100%;
    }
    &__item{
        display: block;
        width: 250px;
        margin-right: 36px;
        margin-bottom: 56px;
        text-decoration: none;
        opacity: .5;
        & img{
            object-fit:cover;
            width: 100%;
        }
        &-video{
            text-decoration: none;
            width: 250px;
            & img{
                object-fit: cover;
                width: 32px;
                height: 32px;
            }
        }
    }
    &__icon {
        height: 140px;
        margin-bottom: 17px;
    }
    &__picture {
        width:100%;
        margin-bottom: 17px;
    }
    &__description{
        width: 92%;
        font-size: 16px;
        font-weight: 600;
        line-height: 23px;
        color:@grey3C;
        margin-bottom: 24px;
        &-six{
            width: 258px;
            font-size: 16px;
            font-weight: 600;
            line-height: 23px;
            color:@grey3C;
            margin-bottom: 47px;
        }
    }
    &__date{
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color:@grey99;
    }

    & .slick-active {
        opacity: 1;
    }
}