.b-button-green {
    border: 1px solid @whiteFF;
    width: 325px;
    height: 60px;
    background-color: @green47;
    color: @whiteFF;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}