.b-card-service {

    &__picture {
        width: calc(100% - 19px);
        height: 561px;

        margin-top: 110px;
        margin-left: 19px;
    }

    &__content {
        margin-left: 69px;
        margin-top: -148px;
        margin-right: 60px;
    }

    &__text {
        margin-bottom: 59px;
        margin-left: 2px;
    }

    .b-button {
        width: 250px;
    }
}