include ../../elements/b-button/b-button
include ../../blocks/b-picture/b-picture

mixin b-card-service()
    .b-card-service
        +b-picture([
            {
                pictureClass: "b-card-service__picture",
                imgWebpMediaMax767X1: "img/content/mobile/5-services/1/12-1x.webp",
                imgWebpMediaMax767X2: "img/content/mobile/5-services/1/12-2x.webp",
                imgJpgMediaMax767X1: "img/content/mobile/5-services/1/12-1x.jpg",
                imgJpgMediaMax767X2: "img/content/mobile/5-services/1/12-2x.jpg",
                imgWebpMediaMax1023X1: "img/content/tablet/5-services/1/1-1x.webp",
                imgWebpMediaMax1023X2: "img/content/tablet/5-services/1/1-2x.webp",
                imgJpgMediaMax1023X1: "img/content/tablet/5-services/1/1-1x.jpg",
                imgJpgMediaMax1023X2: "img/content/tablet/5-services/1/1-2x.jpg",
                imgWebpMediaMaxDeskX1: "img/content/desktop/5-services/1/1-1x.webp",
                imgWebpMediaMaxDeskX2: "img/content/desktop/5-services/1/1-2x.webp",
                imgjpgMediaMaxDeskX1: "img/content/desktop/5-services/1/1-1x.jpg",
                imgjpgMediaMaxDeskX2: "img/content/desktop/5-services/1/1-2x.jpg",
                imgClass: "b-card-service__img",
                alt: "Комната с дверями",
            }
        ])
        .b-card-service__content
            h2.b-title--card-service Сервис
            .b-card-service__text Мы предоставляем клиентам выезд на замер, консультации на объекте; доставку и подъем продукции; врезку фурнитуры на профессиональном оборудовании; демонтаж и установку межкомнатных дверей; укладку массивной и паркетной доски.
            +b-button({
                btn: {
                    button: {
                        descrBtn: "Заказать замер",
                        classBtn: "b-button--rect"
                    }
                }
            })