include ../../elements/b-button-rect--top/b-button-rect--top

mixin b-card-service()
    picture.b-card-service__picture
        source(type="image/webp" srcset="../../img/content/mobile/5-services/1/12-1x.webp 1x, ../../img/content/mobile/5-services/1/12-2x.webp 2x")
        source(type="image/jpeg" srcset="../../img/content/mobile/5-services/1/12-1x.jpg 1x, ../../img/content/mobile/5-services/1/12-2x.jpg 2x")
        img.b-card-service__img(src="../../img/content/mobile/5-services/1/12-1x.jpg", alt="woman talking about doors")
    .b-card-service__content
        .b-card-service__title Сервис
        .b-card-service__text Мы предоставляем клиентам выезд на замер, консультации на объекте; доставку и подъем продукции; врезку фурнитуры на профессиональном оборудовании; демонтаж и установку межкомнатных дверей; укладку массивной и паркетной доски.
    +b-button-rect({
        description: "Заказать замер"
    })