.b-card-service {

    &__picture {
        width: calc(100% - 13px);
        height: 361px;

        margin-top: 70px;
        margin-left: 13px;
    }

    &__content {
        margin-left: 44px;
        margin-top: -103px;
        margin-right: 50px;
    }

    &__title {
        margin-bottom: 95px;

        font-size: 48px;
    }

    &__text {
        margin-bottom: 42px;

        font-size: 16px;
        line-height: 38px;
    }
}

.b-button-rect {
    width: 255px;
}