include mixin-catalog/sonata.pug
include mixin-catalog/renaissance.pug
mixin price 
    section.b-price
        .b-price__wrap
            //- +sonata
            +renaissance
        .b-price__wrap.b-price__wrap--second
            //- +sonata
            +renaissance
        .b-price__wrap.b-price__wrap--post
            span.b-price__post В&nbsp;компании ESTET вы&nbsp;можете купить качественные межкомнатные двери. Богатый выбор является гарантией того, что вы&nbsp;обязательно найдете модель, оптимально соответствующую вашим потребностям, пожеланиям и&nbsp;финансовым возможностям.
        +sonata({
            padding_top_text: 'b-sonata-padding-top-text',
            margin_bottom: "b-sonata-margin-bottom"
        })
        picture.b-picture.b-picture--renaissance-collection
            source(type="image/webp" srcset="../img/content/mobile/9-price/3/7-1x.webp 1x, ../img/content/mobile/9-price/3/7-2x.webp 2x") 
            source(type="image/webp" srcset="../img/content/mobile/9-price/3/7-1x.jpg 1x, ../img/content/mobile/9-price/3/7-2x.jpg 2x") 
            img(src="../img/content/desktop/9-price/3/1-1x.jpg" width="370" height="450")
            .b-title.b-title--renaissance-collection RENAISSANCE COLLECTION
        +renaissance
        .b-price__wrap-option 
            .b-price__wrap-option__number 25
            .b-price__wrap-option__post коллекций и&nbsp;более 300 опций
        //- +sonata
        +renaissance(class="b-title--not-padding")
        //- +sonata
        .b-price__modern Современные материалы и&nbsp;инновационные покрытия
        picture.b-picture.b-picture--modern
            source(type="image/webp" srcset="../img/content/mobile/9-price/4/12-1x.webp 1x, ../img/content/mobile/9-price/4/12-2x.webp 2x") 
            source(type="image/webp" srcset="../img/content/mobile/9-price/4/12-1x.jpg 1x, ../img/content/mobile/9-price/4/12-2x.jpg 2x") 
            img(src="../img/content/desktop/9-price/4/1-1x.jpg" width="375" height="531")
            .b-price__modern__number 5
            .b-price__modern__post лет гарантии на&nbsp;любую продукцию ESTET
        +renaissance(class="b-price--not-padding")
        //- +sonata(class="b-price--not-padding-top b-mixin-price--margin")
        +sonata({
            padding_top_text: 'b-sonata-padding-top-text'
        })

        
