.b-price__margin {
    margin-bottom: 53px;
}

.b-price__wrap {
    padding-bottom: 47px;
    padding-top: 47px;
    background-color: @whiteF7;
    &--second {
        background-color: @whiteFF;
    }
}