include mixin-catalog/sonata.pug
include mixin-catalog/renaissance.pug
mixin price 
    section.b-price
        .b-price__wrap
            +sonata
            +renaissance
        .b-price__wrap.b-price__wrap--second
            +sonata
            +renaissance
        
