.b-intro__footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}
.b-switcher__wrap {
    margin: 0;
    padding: 0;
    margin-left: 26px;
}