.b-collection-item {
    &--sonata-none {
        display: none;
    }
    &--renaissance-ord {
        order: 12;
    }
    &--renaissance-ord2 {
        order: 10;
        width: 100%;
        background-color: @whiteFF;
        padding-top: 80px;
    }
    &--genesis-ord {
        order: 5;
        padding-bottom: 80px;
        width: 100%;
        background-color: @whiteF7;
    }
    &--info-padding {
        padding-top: 80px;
    }
    &--sonata-ord {
        order: 7;
        width: 100%;
    }
    &--genesis {
        display: flex;
    }
    &--genesis-ord1 {
        order: 15;
        width: 100%;
    }
    &--tabl-none {
        display: none;
    }
    &--genesis-ord2 {
        order: 11;
        width: 100%;
        padding-top: 80px;
    }
    &--renaissance-ord4 {
        order: 4;
        width: 100%;
        padding-top: 80px;
        background-color: @whiteFF;
    }
    &--genesis-ord3 {
        order: 15;
        width: 100%;
    }
    &--sonata-pad {
        padding-top: 80px;
    }
    &--padd-bot-47 {
        padding-bottom: 80px;
    }
    &--pad-0 {
        padding-bottom: 0;
    }
}

