.b-collection-item {
    width: 50%;
    transition: background-color 0.3s ease-in-out;
    &--renaissance-order4 {
        order: 4;
        padding-bottom: 80px;
    }
    &--padding-top {
        padding-top: 80px;
    }
    &--info-padding {
        padding-top: 80px;
    }
    &--renaissance-ord {
        order: 13;
        padding-bottom: 80px;
    }
    &--renaissance-ord2 {
        order: 10;
        width: 50%;
        background-color: @whiteFF;
        padding-bottom: 0;
        padding-top: 80px;
    }
    &--genesis-ord {
        order: 3;
        width: 50%;
        margin-bottom: 0;
        padding-bottom: 80px;
        background-color: @whiteF7;
    }
    &--sonata-ord {
        order: 6;
        width: 50%;
        padding-top: 80px;
    }
    &--renaissance-ord3 {
        order: 16;
        width: 100%;
        height: 50%;
        padding-bottom: 0;
    }
    &--genesis-ord1 {
        order: 12;
        width: 100%;
    }
    &--pad-bot {
        padding-bottom: 80px;
    }
    &--tabl-none {
        display: flex;
    }
    &--genesis-ord2 {
        order: 11;
        width: 50%;
    }
    &--sonata-ord1 {
        width: 50%;
        order: 2;
        padding-top: 80px;
    }
    &--renaissance-ord4 {
        width: 50%;
        position: absolute;
        right: 0;
        background-color: white;
        bottom: 100%;
        height: 12%;
    }
    &--pad-top-desk {
        padding-top: 80px;
    }
    &--desk-none {
        display: none;
    }
    &--genesis-ord3 {
        order: 12;
        width: 50%;
        background-color: @whiteF7;
    }
    &__post {
        display: block;
        color: transparent;
        transition: color 0.3s ease-in-out;
        padding-right: 4%;
    }
    &__price {
        transition: color 0.3s ease-in-out;
    }
    &:hover {
        background-color: @green47;
    }
    &:hover .b-collection-item__post,
    &:hover .b-title--price-door,
    &:hover .b-price{
        color: @whiteFF
    }
    &__price--margin {
        margin-bottom: 20%;
    }
}

.b-title--price-door {
    transition: color 0.3s ease-in-out;
}
