mixin b-switcher-left()
    a(class="b-switcher-left", href="javascript:void(0);", title="switch to right")
        img(class="b-switcher-left__img",src="../../img/icons/right-white.svg", alt="switcher")