.b-switcher-right {
    text-decoration: none;
    background: transparent;
    display: inline-block;
    margin-left: 45px;
    border: none;
}
.b-switcher-left__img {
    display: block;
    margin: 0 auto;
}