mixin b-switcher-right()
    a(class="b-switcher-right", href="javascript:void(0);", title="switch to right")
        img(class="b-switcher-right__img",src="../../img/icons/right-white.svg", alt="switcher")