.b-card-advertising {
    padding-top: 50px;
    margin-left: -25px;
    width: 1222px;
}
.b-picture--aside {
    margin-bottom: 15px;
    height: 511px;
    width: 1212px;
}
.b-picture--aside img {
    max-width: 100%;
    height: 100%;
}