.b-card-advertising {
    width: 100%px;
}

.b-picture--aside img {
    width: 100%;
    height: 100%;
}

.b-card-advertising__wrap {
    position: absolute;
    right: 40%;
    top: 15%;
}

.b-card-advertising__post {
    position: absolute;
    right: -115%;
    top: 40%;
    &--margin {
        top: 20%;
        right: -80%;
    }
    &--border {
        padding-bottom: 7px;
        border-bottom: 1px solid @whiteFF;
    }
}

.b-card-advertising__title,.b-card-advertising__wrapper {
    padding-left: 0;
}

.b-card-advertising__title {
    padding-right: 5%;
}

.b-card-advertising__wrapper {
    position: relative;
}

.b-card-advertising__stock {
    position: absolute;
    right: 0;
    top: -130%;
    color: @grey99;
}

.b-card-advertising .b-button-white--left {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%,0%);
}

.b-advertising-collection__wrap {
    background-color: @whiteFF;
    height: 191px;
    padding-top: 50px;
    padding-left: 25px;
}

.b-advertising-collection_8 {
    font-size: 24px;
    line-height: 28.13px;
    color: @grey3C;
}

.b-advertising-collection_14 {
    font-size: 16px;
    line-height: 18.75px;
    color: @grey99;
}

.b-advertising-collection__margin {
    margin-bottom: 12px;
}

.b-advertising-collection_link {
    display: block;
    color: @green47;
    text-decoration: none;
}

.b-advertising-collection_link svg {
    margin-left: 28px;
    fill: @green47;
}