@media (min-width: 1463px) {
    .b-card-video {
    margin-left: 200px;
    width: calc(100% - 200px);
    max-width: 1400px;
    height: 840px;

    &__title {
        padding-left: 1px;
        margin-bottom: 8px;

        font-family: 'Open Sans';
        font-size: 36px;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: 1px;
        word-spacing: -2px;

        color: @grey3C;
    }

    &__grey {
        width: 660px;
        height: 662px;

        margin-left: 320px;
        margin-bottom: -563px;

        background: linear-gradient(180deg, #F9F9F9 0%, #FFFFFF 100%);;
    }

    &__container {
        display: flex;
        position: relative;
    }

    &__picture {
        position: relative;
        width: 1000px;
    }

    &__box {
        display: flex;
        justify-content: space-between;

        margin-top: -152px;
        margin-bottom: 10px;
        margin-left: -237px;

        height: 826px;
        width: calc(100% - 763px);
        min-width: 500px;

        background-color: @green47;

        overflow: hidden;
        text-overflow: clip;
    }

    &__inner {
        display: block;

        padding-top: 153px;
        margin-left: 207px;
    }

    &__item {
        position: relative;
        margin-bottom: 33px;
        margin-left: 25px;
    }

    &__box-switcher-position {
        display: block;
        position: absolute;
        top: 154px;
        right: 0;
    }

    &-youtube {
        position: absolute;
        bottom: 10px;
        left: 0;

        width: 258px;
        height: 112px;

        margin-top: -131px;
        margin-left: 743px;
        padding-top: 30px;

        background-color: @whiteFF;

        z-index: 1;
    }
}

.b-button-white--up:first-child {
    display: block;

    transform: rotate(0deg);
}

.b-button-green--down {
    transform: rotate(0deg);
}

.b-button-white--up:last-child {
    display: none;
}
}