.b-card-video__title {
    padding-left: 25px;
    margin-bottom: 23px;

    font-size: 30px;
    line-height: 35px;

    color: @grey3C;
}

.b-card-video__picture {
    width: 100%;
}

.b-card-video__img {
    width: 100%;
}

.b-card-video__box {
    background-color: @green47;
    display: flex;
    justify-content: space-between;

    height: 315px;

    overflow: hidden;
    text-overflow: clip;
}

.b-card-video__inner {
    padding-top: 30px;
}

.b-card-video__item {
    margin-bottom: 20px;
    margin-left: 25px;
}