.b-card-video {

    &__box {
        height: 377px;

        margin-bottom: 30px;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        padding-top: 82px;
        padding-left: 34px;
    }

    &__item {
        margin-bottom: 31px;
        margin-left: 25px;
    }

    &__box-switcher {
        position: relative;
    }

    &__box-switcher-position {
        display: flex;
        transform: rotate(180deg);
    }

    & .b-button-square:first-child {
        transform: rotate(-90deg);
    }

    & .b-button-square:nth-child(2) {
        transform: rotate(-90deg);
    }
}