include ../../elements/b-button-square/b-button-square.pug

mixin b-card-video()
    section.b-card-video
        h2.b-title--card-video Видео обзор
        .b-card-video__grey
        .b-card-video__container
            .b-card-video__slider
                picture.b-card-video__picture
                    source(type="image/webp" srcset="img/content/mobile/6-review/1/13-1x.webp 1x, img/content/mobile/6-review/1/13-2x.webp 2x" media="(max-width: 767px)")
                    source(type="image/jpeg" srcset="img/content/mobile/6-review/1/13-1x.jpg 1x, img/content/mobile/6-review/1/13-2x.jpg 2x" media="(max-width: 767px)")
                    source(type="image/webp" srcset="img/content/tablet/6-review/1/1-1x.webp 1x, img/content/tablet/6-review/1/1-2x.webp 2x" media="(max-width: 1023px)")
                    source(type="image/jpeg" srcset="img/content/tablet/6-review/1/1-1x.jpg 1x, img/content/tablet/6-review/1/1-2x.jpg 2x" media="(max-width: 1023px)")
                    source(type="image/webp" srcset="img/content/desktop/6-review/1/1-1x.webp 1x, img/content/desktop/6-review/1/1-2x.webp 2x")
                    source(type="image/jpeg" srcset="img/content/desktop/6-review/1/1-1x.jpg 1x, img/content/desktop/6-review/1/1-2x.jpg 2x")
                    img.b-card-video__img(src="img/content/desktop/6-review/1/1-1x.jpg", alt="Женщина рассказывает о дверях")
                picture.b-card-video__picture
                    source(type="image/webp" srcset="img/content/mobile/6-review/1/13-1x.webp 1x, img/content/mobile/6-review/1/13-2x.webp 2x" media="(max-width: 767px)")
                    source(type="image/jpeg" srcset="img/content/mobile/6-review/1/13-1x.jpg 1x, img/content/mobile/6-review/1/13-2x.jpg 2x" media="(max-width: 767px)")
                    source(type="image/webp" srcset="img/content/tablet/6-review/1/1-1x.webp 1x, img/content/tablet/6-review/1/1-2x.webp 2x" media="(max-width: 1023px)")
                    source(type="image/jpeg" srcset="img/content/tablet/6-review/1/1-1x.jpg 1x, img/content/tablet/6-review/1/1-2x.jpg 2x" media="(max-width: 1023px)")
                    source(type="image/webp" srcset="img/content/desktop/6-review/1/1-1x.webp 1x, img/content/desktop/6-review/1/1-2x.webp 2x")
                    source(type="image/jpeg" srcset="img/content/desktop/6-review/1/1-1x.jpg 1x, img/content/desktop/6-review/1/1-2x.jpg 2x")
                    img.b-card-video__img(src="img/content/desktop/6-review/1/1-1x.jpg", alt="Женщина рассказывает о дверях")
                picture.b-card-video__picture
                    source(type="image/webp" srcset="img/content/mobile/6-review/1/13-1x.webp 1x, img/content/mobile/6-review/1/13-2x.webp 2x" media="(max-width: 767px)")
                    source(type="image/jpeg" srcset="img/content/mobile/6-review/1/13-1x.jpg 1x, img/content/mobile/6-review/1/13-2x.jpg 2x" media="(max-width: 767px)")
                    source(type="image/webp" srcset="img/content/tablet/6-review/1/1-1x.webp 1x, img/content/tablet/6-review/1/1-2x.webp 2x" media="(max-width: 1023px)")
                    source(type="image/jpeg" srcset="img/content/tablet/6-review/1/1-1x.jpg 1x, img/content/tablet/6-review/1/1-2x.jpg 2x" media="(max-width: 1023px)")
                    source(type="image/webp" srcset="img/content/desktop/6-review/1/1-1x.webp 1x, img/content/desktop/6-review/1/1-2x.webp 2x")
                    source(type="image/jpeg" srcset="img/content/desktop/6-review/1/1-1x.jpg 1x, img/content/desktop/6-review/1/1-2x.jpg 2x")
                    img.b-card-video__img(src="img/content/desktop/6-review/1/1-1x.jpg", alt="Женщина рассказывает о дверях")
                picture.b-card-video__picture
                    source(type="image/webp" srcset="img/content/mobile/6-review/1/13-1x.webp 1x, img/content/mobile/6-review/1/13-2x.webp 2x" media="(max-width: 767px)")
                    source(type="image/jpeg" srcset="img/content/mobile/6-review/1/13-1x.jpg 1x, img/content/mobile/6-review/1/13-2x.jpg 2x" media="(max-width: 767px)")
                    source(type="image/webp" srcset="img/content/tablet/6-review/1/1-1x.webp 1x, img/content/tablet/6-review/1/1-2x.webp 2x" media="(max-width: 1023px)")
                    source(type="image/jpeg" srcset="img/content/tablet/6-review/1/1-1x.jpg 1x, img/content/tablet/6-review/1/1-2x.jpg 2x" media="(max-width: 1023px)")
                    source(type="image/webp" srcset="img/content/desktop/6-review/1/1-1x.webp 1x, img/content/desktop/6-review/1/1-2x.webp 2x")
                    source(type="image/jpeg" srcset="img/content/desktop/6-review/1/1-1x.jpg 1x, img/content/desktop/6-review/1/1-2x.jpg 2x")
                    img.b-card-video__img(src="img/content/desktop/6-review/1/1-1x.jpg", alt="Женщина рассказывает о дверях")
                picture.b-card-video__picture
                    source(type="image/webp" srcset="img/content/mobile/6-review/1/13-1x.webp 1x, img/content/mobile/6-review/1/13-2x.webp 2x" media="(max-width: 767px)")
                    source(type="image/jpeg" srcset="img/content/mobile/6-review/1/13-1x.jpg 1x, img/content/mobile/6-review/1/13-2x.jpg 2x" media="(max-width: 767px)")
                    source(type="image/webp" srcset="img/content/tablet/6-review/1/1-1x.webp 1x, img/content/tablet/6-review/1/1-2x.webp 2x" media="(max-width: 1023px)")
                    source(type="image/jpeg" srcset="img/content/tablet/6-review/1/1-1x.jpg 1x, img/content/tablet/6-review/1/1-2x.jpg 2x" media="(max-width: 1023px)")
                    source(type="image/webp" srcset="img/content/desktop/6-review/1/1-1x.webp 1x, img/content/desktop/6-review/1/1-2x.webp 2x")
                    source(type="image/jpeg" srcset="img/content/desktop/6-review/1/1-1x.jpg 1x, img/content/desktop/6-review/1/1-2x.jpg 2x")
                    img.b-card-video__img(src="img/content/desktop/6-review/1/1-1x.jpg", alt="Женщина рассказывает о дверях")
                picture.b-card-video__picture
                    source(type="image/webp" srcset="img/content/mobile/6-review/1/13-1x.webp 1x, img/content/mobile/6-review/1/13-2x.webp 2x" media="(max-width: 767px)")
                    source(type="image/jpeg" srcset="img/content/mobile/6-review/1/13-1x.jpg 1x, img/content/mobile/6-review/1/13-2x.jpg 2x" media="(max-width: 767px)")
                    source(type="image/webp" srcset="img/content/tablet/6-review/1/1-1x.webp 1x, img/content/tablet/6-review/1/1-2x.webp 2x" media="(max-width: 1023px)")
                    source(type="image/jpeg" srcset="img/content/tablet/6-review/1/1-1x.jpg 1x, img/content/tablet/6-review/1/1-2x.jpg 2x" media="(max-width: 1023px)")
                    source(type="image/webp" srcset="img/content/desktop/6-review/1/1-1x.webp 1x, img/content/desktop/6-review/1/1-2x.webp 2x")
                    source(type="image/jpeg" srcset="img/content/desktop/6-review/1/1-1x.jpg 1x, img/content/desktop/6-review/1/1-2x.jpg 2x")
                    img.b-card-video__img(src="img/content/desktop/6-review/1/1-1x.jpg", alt="Женщина рассказывает о дверях")
                picture.b-card-video__picture
                    source(type="image/webp" srcset="img/content/mobile/6-review/1/13-1x.webp 1x, img/content/mobile/6-review/1/13-2x.webp 2x" media="(max-width: 767px)")
                    source(type="image/jpeg" srcset="img/content/mobile/6-review/1/13-1x.jpg 1x, img/content/mobile/6-review/1/13-2x.jpg 2x" media="(max-width: 767px)")
                    source(type="image/webp" srcset="img/content/tablet/6-review/1/1-1x.webp 1x, img/content/tablet/6-review/1/1-2x.webp 2x" media="(max-width: 1023px)")
                    source(type="image/jpeg" srcset="img/content/tablet/6-review/1/1-1x.jpg 1x, img/content/tablet/6-review/1/1-2x.jpg 2x" media="(max-width: 1023px)")
                    source(type="image/webp" srcset="img/content/desktop/6-review/1/1-1x.webp 1x, img/content/desktop/6-review/1/1-2x.webp 2x")
                    source(type="image/jpeg" srcset="img/content/desktop/6-review/1/1-1x.jpg 1x, img/content/desktop/6-review/1/1-2x.jpg 2x")
                    img.b-card-video__img(src="img/content/desktop/6-review/1/1-1x.jpg", alt="Женщина рассказывает о дверях")
                picture.b-card-video__picture
                    source(type="image/webp" srcset="img/content/mobile/6-review/1/13-1x.webp 1x, img/content/mobile/6-review/1/13-2x.webp 2x" media="(max-width: 767px)")
                    source(type="image/jpeg" srcset="img/content/mobile/6-review/1/13-1x.jpg 1x, img/content/mobile/6-review/1/13-2x.jpg 2x" media="(max-width: 767px)")
                    source(type="image/webp" srcset="img/content/tablet/6-review/1/1-1x.webp 1x, img/content/tablet/6-review/1/1-2x.webp 2x" media="(max-width: 1023px)")
                    source(type="image/jpeg" srcset="img/content/tablet/6-review/1/1-1x.jpg 1x, img/content/tablet/6-review/1/1-2x.jpg 2x" media="(max-width: 1023px)")
                    source(type="image/webp" srcset="img/content/desktop/6-review/1/1-1x.webp 1x, img/content/desktop/6-review/1/1-2x.webp 2x")
                    source(type="image/jpeg" srcset="img/content/desktop/6-review/1/1-1x.jpg 1x, img/content/desktop/6-review/1/1-2x.jpg 2x")
                    img.b-card-video__img(src="img/content/desktop/6-review/1/1-1x.jpg", alt="Женщина рассказывает о дверях")
            .b-card-video__box
                .b-card-video__inner
                    a.b-card-video__item(href="javascript: void(0);")
                        img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                        div.b-card-video__text Современный ремонт квартиры-студии!
                    a.b-card-video__item(href="javascript: void(0);")
                        img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                        div.b-card-video__text ESTET воплощает мечты
                    a.b-card-video__item(href="javascript: void(0);")
                        img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                        div.b-card-video__text Двери ESTET. Жизнь фабрики.
                    a.b-card-video__item(href="javascript: void(0);")
                        img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                        div.b-card-video__text Современный ремонт квартиры-студии!
                    a.b-card-video__item(href="javascript: void(0);")
                        img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                        div.b-card-video__text Современный ремонт квартиры-студии!
                    a.b-card-video__item(href="javascript: void(0);")
                        img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                        div.b-card-video__text ESTET воплощает мечты
                    a.b-card-video__item(href="javascript: void(0);")
                        img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                        div.b-card-video__text Двери ESTET. Жизнь фабрики.
                    a.b-card-video__item(href="javascript: void(0);")
                        img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                        div.b-card-video__text Современный ремонт квартиры-студии!
                .b-card-video__box-switcher
                    .b-card-video__box-switcher-position
                        +b-button-square({
                            modificationColor: "white",
                            modificationArrow: "up",
                            modificationTitle: "Назад",
                        })
                        +b-button-square({
                            modificationColor: "green",
                            modificationArrow: "down",
                            modificationTitle: "Далее",
                        })
            .b-card-video-youtube
                img.b-card-video-youtube__img(src="img/icons/youtube-green.svg", width="20", height="16" alt="")
                .b-card-video-youtube__text
                    | Еще больше новых обзоров вы найдете на нашем&nbsp;
                    a.b-card-video-youtube__link(href="javascript: void(0);", title="Больше обзоров") Youtube
                    | &nbsp;канале