.b-card-video {

    &__title {
        padding-left: 82px;
        margin-bottom: 55px;

        font-size: 36px;
        line-height: 42px;
        letter-spacing: .7px;
    }

    &__box {
        height: 377px;

        margin-bottom: 30px;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        padding-top: 82px;
        padding-left: 34px;
    }

    &__item {
        margin-bottom: 31px;
        margin-left: 25px;
    }

    &__box-switcher {
        position: relative;
    }

    &__box-switcher-position {
        display: flex;
    }
}

.b-button-white--up:first-child {
    display: none;
}

.b-button-white--up:last-child {
    display: block;
}

.b-button-green--down {
    transform: rotate(90deg);
}

.b-button-white--up {
    transform: rotate(90deg);
}