include ../../elements/b-button-square/b-button-square
include ../../blocks/b-picture/b-picture

mixin b-card-video()
    section.b-card-video
        h2.b-title--card-video Видео обзор
        .b-card-video__grey
        .b-card-video__container
            .b-card-video__slider
                +b-picture([
                    {
                        pictureClass: "b-card-video__picture",
                        imgWebpMediaMax767X1: "img/content/mobile/6-review/1/13-1x.webp",
                        imgWebpMediaMax767X2: "img/content/mobile/6-review/1/13-2x.webp",
                        imgJpgMediaMax767X1: "img/content/mobile/6-review/1/13-1x.jpg",
                        imgJpgMediaMax767X2: "img/content/mobile/6-review/1/13-2x.jpg",
                        imgWebpMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.webp",
                        imgWebpMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.webp",
                        imgJpgMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.jpg",
                        imgJpgMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.jpg",
                        imgWebpMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.webp",
                        imgWebpMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.webp",
                        imgjpgMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.jpg",
                        imgjpgMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.jpg",
                        imgClass: "b-card-video__img",
                        alt: "Женщина рассказывает о дверях",
                    }
                ])
                +b-picture([
                    {
                        pictureClass: "b-card-video__picture",
                        imgWebpMediaMax767X1: "img/content/mobile/6-review/1/13-1x.webp",
                        imgWebpMediaMax767X2: "img/content/mobile/6-review/1/13-2x.webp",
                        imgJpgMediaMax767X1: "img/content/mobile/6-review/1/13-1x.jpg",
                        imgJpgMediaMax767X2: "img/content/mobile/6-review/1/13-2x.jpg",
                        imgWebpMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.webp",
                        imgWebpMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.webp",
                        imgJpgMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.jpg",
                        imgJpgMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.jpg",
                        imgWebpMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.webp",
                        imgWebpMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.webp",
                        imgjpgMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.jpg",
                        imgjpgMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.jpg",
                        imgClass: "b-card-video__img",
                        alt: "Женщина рассказывает о дверях",
                    }
                ])
                +b-picture([
                    {
                        pictureClass: "b-card-video__picture",
                        imgWebpMediaMax767X1: "img/content/mobile/6-review/1/13-1x.webp",
                        imgWebpMediaMax767X2: "img/content/mobile/6-review/1/13-2x.webp",
                        imgJpgMediaMax767X1: "img/content/mobile/6-review/1/13-1x.jpg",
                        imgJpgMediaMax767X2: "img/content/mobile/6-review/1/13-2x.jpg",
                        imgWebpMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.webp",
                        imgWebpMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.webp",
                        imgJpgMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.jpg",
                        imgJpgMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.jpg",
                        imgWebpMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.webp",
                        imgWebpMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.webp",
                        imgjpgMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.jpg",
                        imgjpgMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.jpg",
                        imgClass: "b-card-video__img",
                        alt: "Женщина рассказывает о дверях",
                    }
                ])
                +b-picture([
                    {
                        pictureClass: "b-card-video__picture",
                        imgWebpMediaMax767X1: "img/content/mobile/6-review/1/13-1x.webp",
                        imgWebpMediaMax767X2: "img/content/mobile/6-review/1/13-2x.webp",
                        imgJpgMediaMax767X1: "img/content/mobile/6-review/1/13-1x.jpg",
                        imgJpgMediaMax767X2: "img/content/mobile/6-review/1/13-2x.jpg",
                        imgWebpMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.webp",
                        imgWebpMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.webp",
                        imgJpgMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.jpg",
                        imgJpgMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.jpg",
                        imgWebpMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.webp",
                        imgWebpMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.webp",
                        imgjpgMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.jpg",
                        imgjpgMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.jpg",
                        imgClass: "b-card-video__img",
                        alt: "Женщина рассказывает о дверях",
                    }
                ])
                +b-picture([
                    {
                        pictureClass: "b-card-video__picture",
                        imgWebpMediaMax767X1: "img/content/mobile/6-review/1/13-1x.webp",
                        imgWebpMediaMax767X2: "img/content/mobile/6-review/1/13-2x.webp",
                        imgJpgMediaMax767X1: "img/content/mobile/6-review/1/13-1x.jpg",
                        imgJpgMediaMax767X2: "img/content/mobile/6-review/1/13-2x.jpg",
                        imgWebpMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.webp",
                        imgWebpMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.webp",
                        imgJpgMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.jpg",
                        imgJpgMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.jpg",
                        imgWebpMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.webp",
                        imgWebpMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.webp",
                        imgjpgMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.jpg",
                        imgjpgMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.jpg",
                        imgClass: "b-card-video__img",
                        alt: "Женщина рассказывает о дверях",
                    }
                ])
                +b-picture([
                    {
                        pictureClass: "b-card-video__picture",
                        imgWebpMediaMax767X1: "img/content/mobile/6-review/1/13-1x.webp",
                        imgWebpMediaMax767X2: "img/content/mobile/6-review/1/13-2x.webp",
                        imgJpgMediaMax767X1: "img/content/mobile/6-review/1/13-1x.jpg",
                        imgJpgMediaMax767X2: "img/content/mobile/6-review/1/13-2x.jpg",
                        imgWebpMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.webp",
                        imgWebpMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.webp",
                        imgJpgMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.jpg",
                        imgJpgMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.jpg",
                        imgWebpMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.webp",
                        imgWebpMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.webp",
                        imgjpgMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.jpg",
                        imgjpgMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.jpg",
                        imgClass: "b-card-video__img",
                        alt: "Женщина рассказывает о дверях",
                    }
                ])
                +b-picture([
                    {
                        pictureClass: "b-card-video__picture",
                        imgWebpMediaMax767X1: "img/content/mobile/6-review/1/13-1x.webp",
                        imgWebpMediaMax767X2: "img/content/mobile/6-review/1/13-2x.webp",
                        imgJpgMediaMax767X1: "img/content/mobile/6-review/1/13-1x.jpg",
                        imgJpgMediaMax767X2: "img/content/mobile/6-review/1/13-2x.jpg",
                        imgWebpMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.webp",
                        imgWebpMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.webp",
                        imgJpgMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.jpg",
                        imgJpgMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.jpg",
                        imgWebpMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.webp",
                        imgWebpMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.webp",
                        imgjpgMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.jpg",
                        imgjpgMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.jpg",
                        imgClass: "b-card-video__img",
                        alt: "Женщина рассказывает о дверях",
                    }
                ])
                +b-picture([
                    {
                        pictureClass: "b-card-video__picture",
                        imgWebpMediaMax767X1: "img/content/mobile/6-review/1/13-1x.webp",
                        imgWebpMediaMax767X2: "img/content/mobile/6-review/1/13-2x.webp",
                        imgJpgMediaMax767X1: "img/content/mobile/6-review/1/13-1x.jpg",
                        imgJpgMediaMax767X2: "img/content/mobile/6-review/1/13-2x.jpg",
                        imgWebpMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.webp",
                        imgWebpMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.webp",
                        imgJpgMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.jpg",
                        imgJpgMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.jpg",
                        imgWebpMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.webp",
                        imgWebpMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.webp",
                        imgjpgMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.jpg",
                        imgjpgMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.jpg",
                        imgClass: "b-card-video__img",
                        alt: "Женщина рассказывает о дверях",
                    }
                ])
            .b-card-video__box
                .b-card-video__inner
                    a.b-card-video__item(href="javascript: void(0);")
                        img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                        div.b-card-video__text Современный ремонт квартиры-студии!
                    a.b-card-video__item(href="javascript: void(0);")
                        img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                        div.b-card-video__text
                            span(lang="en") ESTET 
                            |воплощает мечты
                    a.b-card-video__item(href="javascript: void(0);")
                        img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                        div.b-card-video__text
                            |Двери 
                            span(lang="en") ESTET. 
                            |Жизнь фабрики.
                    a.b-card-video__item(href="javascript: void(0);")
                        img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                        div.b-card-video__text Современный ремонт квартиры-студии!
                    a.b-card-video__item(href="javascript: void(0);")
                        img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                        div.b-card-video__text Современный ремонт квартиры-студии!
                    a.b-card-video__item(href="javascript: void(0);")
                        img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                        div.b-card-video__text
                            span(lang="en") ESTET 
                            |воплощает мечты
                    a.b-card-video__item(href="javascript: void(0);")
                        img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                        div.b-card-video__text
                            |Двери 
                            span(lang="en") ESTET. 
                            |Жизнь фабрики.
                    a.b-card-video__item(href="javascript: void(0);")
                        img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                        div.b-card-video__text Современный ремонт квартиры-студии!
                .b-card-video__box-switcher
                    .b-card-video__box-switcher-position
                        +b-button-square({
                            modificationColor: "white",
                            modificationArrow: "up",
                            modificationTitle: "Назад",
                        })
                        +b-button-square({
                            modificationColor: "green",
                            modificationArrow: "down",
                            modificationTitle: "Далее",
                        })
            .b-card-video-youtube
                img.b-card-video-youtube__img(src="img/icons/youtube-green.svg", width="20", height="16" alt="")
                .b-card-video-youtube__text
                    | Еще больше новых обзоров вы найдете на нашем&nbsp;
                    a.b-card-video-youtube__link(href="javascript: void(0);", title="Больше обзоров" lang="en") Youtube
                    | &nbsp;канале