include ../../elements/b-button/b-button
include ../../blocks/b-picture/b-picture

mixin b-card-video()
    section.b-card-video
        .b-container.b-container--no-padd-mobile.b-container--no-padd-table.b-container--no-padd-desktop
            h2.b-title--card-video Видео обзор
            .b-card-video__grey
            .b-card-video__container
                .b-card-video__slider
                    +b-picture([
                        {
                            pictureClass: "b-card-video__picture",
                            imgWebpMediaMax767X1: "img/content/mobile/6-review/1/13-1x.webp",
                            imgWebpMediaMax767X2: "img/content/mobile/6-review/1/13-2x.webp",
                            imgJpgMediaMax767X1: "img/content/mobile/6-review/1/13-1x.jpg",
                            imgJpgMediaMax767X2: "img/content/mobile/6-review/1/13-2x.jpg",
                            imgWebpMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.webp",
                            imgWebpMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.webp",
                            imgJpgMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.jpg",
                            imgJpgMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.jpg",
                            imgWebpMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.webp",
                            imgWebpMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.webp",
                            imgjpgMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.jpg",
                            imgjpgMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.jpg",
                            imgClass: "b-card-video__img",
                            alt: "Женщина рассказывает о дверях",
                        }
                    ])
                    +b-picture([
                        {
                            pictureClass: "b-card-video__picture",
                            imgWebpMediaMax767X1: "img/content/mobile/6-review/1/13-1x.webp",
                            imgWebpMediaMax767X2: "img/content/mobile/6-review/1/13-2x.webp",
                            imgJpgMediaMax767X1: "img/content/mobile/6-review/1/13-1x.jpg",
                            imgJpgMediaMax767X2: "img/content/mobile/6-review/1/13-2x.jpg",
                            imgWebpMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.webp",
                            imgWebpMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.webp",
                            imgJpgMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.jpg",
                            imgJpgMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.jpg",
                            imgWebpMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.webp",
                            imgWebpMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.webp",
                            imgjpgMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.jpg",
                            imgjpgMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.jpg",
                            imgClass: "b-card-video__img",
                            alt: "Женщина рассказывает о дверях",
                        }
                    ])
                    +b-picture([
                        {
                            pictureClass: "b-card-video__picture",
                            imgWebpMediaMax767X1: "img/content/mobile/6-review/1/13-1x.webp",
                            imgWebpMediaMax767X2: "img/content/mobile/6-review/1/13-2x.webp",
                            imgJpgMediaMax767X1: "img/content/mobile/6-review/1/13-1x.jpg",
                            imgJpgMediaMax767X2: "img/content/mobile/6-review/1/13-2x.jpg",
                            imgWebpMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.webp",
                            imgWebpMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.webp",
                            imgJpgMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.jpg",
                            imgJpgMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.jpg",
                            imgWebpMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.webp",
                            imgWebpMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.webp",
                            imgjpgMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.jpg",
                            imgjpgMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.jpg",
                            imgClass: "b-card-video__img",
                            alt: "Женщина рассказывает о дверях",
                        }
                    ])
                    +b-picture([
                        {
                            pictureClass: "b-card-video__picture",
                            imgWebpMediaMax767X1: "img/content/mobile/6-review/1/13-1x.webp",
                            imgWebpMediaMax767X2: "img/content/mobile/6-review/1/13-2x.webp",
                            imgJpgMediaMax767X1: "img/content/mobile/6-review/1/13-1x.jpg",
                            imgJpgMediaMax767X2: "img/content/mobile/6-review/1/13-2x.jpg",
                            imgWebpMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.webp",
                            imgWebpMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.webp",
                            imgJpgMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.jpg",
                            imgJpgMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.jpg",
                            imgWebpMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.webp",
                            imgWebpMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.webp",
                            imgjpgMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.jpg",
                            imgjpgMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.jpg",
                            imgClass: "b-card-video__img",
                            alt: "Женщина рассказывает о дверях",
                        }
                    ])
                    +b-picture([
                        {
                            pictureClass: "b-card-video__picture",
                            imgWebpMediaMax767X1: "img/content/mobile/6-review/1/13-1x.webp",
                            imgWebpMediaMax767X2: "img/content/mobile/6-review/1/13-2x.webp",
                            imgJpgMediaMax767X1: "img/content/mobile/6-review/1/13-1x.jpg",
                            imgJpgMediaMax767X2: "img/content/mobile/6-review/1/13-2x.jpg",
                            imgWebpMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.webp",
                            imgWebpMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.webp",
                            imgJpgMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.jpg",
                            imgJpgMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.jpg",
                            imgWebpMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.webp",
                            imgWebpMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.webp",
                            imgjpgMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.jpg",
                            imgjpgMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.jpg",
                            imgClass: "b-card-video__img",
                            alt: "Женщина рассказывает о дверях",
                        }
                    ])
                    +b-picture([
                        {
                            pictureClass: "b-card-video__picture",
                            imgWebpMediaMax767X1: "img/content/mobile/6-review/1/13-1x.webp",
                            imgWebpMediaMax767X2: "img/content/mobile/6-review/1/13-2x.webp",
                            imgJpgMediaMax767X1: "img/content/mobile/6-review/1/13-1x.jpg",
                            imgJpgMediaMax767X2: "img/content/mobile/6-review/1/13-2x.jpg",
                            imgWebpMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.webp",
                            imgWebpMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.webp",
                            imgJpgMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.jpg",
                            imgJpgMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.jpg",
                            imgWebpMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.webp",
                            imgWebpMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.webp",
                            imgjpgMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.jpg",
                            imgjpgMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.jpg",
                            imgClass: "b-card-video__img",
                            alt: "Женщина рассказывает о дверях",
                        }
                    ])
                    +b-picture([
                        {
                            pictureClass: "b-card-video__picture",
                            imgWebpMediaMax767X1: "img/content/mobile/6-review/1/13-1x.webp",
                            imgWebpMediaMax767X2: "img/content/mobile/6-review/1/13-2x.webp",
                            imgJpgMediaMax767X1: "img/content/mobile/6-review/1/13-1x.jpg",
                            imgJpgMediaMax767X2: "img/content/mobile/6-review/1/13-2x.jpg",
                            imgWebpMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.webp",
                            imgWebpMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.webp",
                            imgJpgMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.jpg",
                            imgJpgMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.jpg",
                            imgWebpMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.webp",
                            imgWebpMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.webp",
                            imgjpgMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.jpg",
                            imgjpgMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.jpg",
                            imgClass: "b-card-video__img",
                            alt: "Женщина рассказывает о дверях",
                        }
                    ])
                    +b-picture([
                        {
                            pictureClass: "b-card-video__picture",
                            imgWebpMediaMax767X1: "img/content/mobile/6-review/1/13-1x.webp",
                            imgWebpMediaMax767X2: "img/content/mobile/6-review/1/13-2x.webp",
                            imgJpgMediaMax767X1: "img/content/mobile/6-review/1/13-1x.jpg",
                            imgJpgMediaMax767X2: "img/content/mobile/6-review/1/13-2x.jpg",
                            imgWebpMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.webp",
                            imgWebpMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.webp",
                            imgJpgMediaMax1023X1: "img/content/tablet/6-review/1/1-1x.jpg",
                            imgJpgMediaMax1023X2: "img/content/tablet/6-review/1/1-2x.jpg",
                            imgWebpMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.webp",
                            imgWebpMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.webp",
                            imgjpgMediaMaxDeskX1: "img/content/desktop/6-review/1/1-1x.jpg",
                            imgjpgMediaMaxDeskX2: "img/content/desktop/6-review/1/1-2x.jpg",
                            imgClass: "b-card-video__img",
                            alt: "Женщина рассказывает о дверях",
                        }
                    ])
                .b-card-video__box
                    .b-card-video__inner
                        a.b-card-video__item(href="javascript: void(0);" title="Воспроизвести")
                            img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                            div.b-card-video__text Современный ремонт квартиры-студии!
                        a.b-card-video__item(href="javascript: void(0);" title="Воспроизвести")
                            img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                            div.b-card-video__text
                                span(lang="en") ESTET 
                                |воплощает мечты
                        a.b-card-video__item(href="javascript: void(0);" title="Воспроизвести")
                            img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                            div.b-card-video__text
                                |Двери 
                                span(lang="en") ESTET. 
                                |Жизнь фабрики.
                        a.b-card-video__item(href="javascript: void(0);" title="Воспроизвести")
                            img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                            div.b-card-video__text Современный ремонт квартиры-студии!
                        a.b-card-video__item(href="javascript: void(0);" title="Воспроизвести")
                            img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                            div.b-card-video__text Современный ремонт квартиры-студии!
                        a.b-card-video__item(href="javascript: void(0);" title="Воспроизвести")
                            img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                            div.b-card-video__text
                                span(lang="en") ESTET 
                                |воплощает мечты
                        a.b-card-video__item(href="javascript: void(0);" title="Воспроизвести")
                            img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                            div.b-card-video__text
                                |Двери 
                                span(lang="en") ESTET. 
                                |Жизнь фабрики.
                        a.b-card-video__item(href="javascript: void(0);" title="Воспроизвести")
                            img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                            div.b-card-video__text Современный ремонт квартиры-студии!
                        a.b-card-video__item(href="javascript: void(0);" title="Воспроизвести")
                            img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                            div.b-card-video__text Современный ремонт квартиры-студии!
                        a.b-card-video__item(href="javascript: void(0);" title="Воспроизвести")
                            img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                            div.b-card-video__text
                                span(lang="en") ESTET 
                                |воплощает мечты
                        a.b-card-video__item(href="javascript: void(0);" title="Воспроизвести")
                            img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                            div.b-card-video__text
                                |Двери 
                                span(lang="en") ESTET. 
                                |Жизнь фабрики.
                        a.b-card-video__item(href="javascript: void(0);" title="Воспроизвести")
                            img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                            div.b-card-video__text Современный ремонт квартиры-студии!
                        a.b-card-video__item(href="javascript: void(0);" title="Воспроизвести")
                            img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                            div.b-card-video__text Современный ремонт квартиры-студии!
                        a.b-card-video__item(href="javascript: void(0);" title="Воспроизвести")
                            img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                            div.b-card-video__text
                                span(lang="en") ESTET 
                                |воплощает мечты
                        a.b-card-video__item(href="javascript: void(0);" title="Воспроизвести")
                            img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                            div.b-card-video__text
                                |Двери 
                                span(lang="en") ESTET. 
                                |Жизнь фабрики.
                        a.b-card-video__item(href="javascript: void(0);" title="Воспроизвести")
                            img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
                            div.b-card-video__text Современный ремонт квартиры-студии!
                    .b-card-video__box-switcher
                        .b-card-video__box-switcher-position
                            +b-button({
                                btn: {
                                    button: {
                                        classBtn: 'b-button--square b-button--square-white',
                                        titleBtn: 'Назад',
                                        svg: `svg.b-button--square__img(class= "b-button--square__img-up" width="26" height="9" viewBox="0 0 26 9" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M25.5 4.5H0.5H25.5Z")
                                        path(d="M25.5 4H26V5H25.5V4ZM0.146446 4.85355C-0.0488148 4.65829 -0.0488148 4.34171 0.146446 4.14645L3.32843 0.964466C3.52369 0.769204 3.84027 0.769204 4.03553 0.964466C4.2308 1.15973 4.2308 1.47631 4.03553 1.67157L1.20711 4.5L4.03553 7.32843C4.2308 7.52369 4.2308 7.84027 4.03553 8.03553C3.84027 8.2308 3.52369 8.2308 3.32843 8.03553L0.146446 4.85355ZM25.5 5H0.5V4H25.5V5Z")`,
                                        svgClass: 'b-button__img--square b-button__img--square-up'
                                    },
                                }
                            })
                            +b-button({
                                btn: {
                                    button: {
                                        classBtn: 'b-button--square b-button--square-green',
                                        titleBtn: 'Далее',
                                        svg: `svg.b-button--square__img(class= "b-button--square__img-down" width="26" height="9" viewBox="0 0 26 9" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M25.5 4.5H0.5H25.5Z")
                                        path(d="M25.5 4H26V5H25.5V4ZM0.146446 4.85355C-0.0488148 4.65829 -0.0488148 4.34171 0.146446 4.14645L3.32843 0.964466C3.52369 0.769204 3.84027 0.769204 4.03553 0.964466C4.2308 1.15973 4.2308 1.47631 4.03553 1.67157L1.20711 4.5L4.03553 7.32843C4.2308 7.52369 4.2308 7.84027 4.03553 8.03553C3.84027 8.2308 3.52369 8.2308 3.32843 8.03553L0.146446 4.85355ZM25.5 5H0.5V4H25.5V5Z")`,
                                        svgClass: 'b-button__img--square b-button__img--square-down'
                                    },
                                }
                            })
                .b-card-video-youtube
                    img.b-card-video-youtube__img(src="img/icons/youtube-green.svg", width="20", height="16" alt="")
                    .b-card-video-youtube__text
                        | Еще больше новых обзоров вы найдете на нашем&nbsp;
                        a.b-card-video-youtube__link(href="javascript: void(0);", title="Больше обзоров" lang="en") Youtube
                        | &nbsp;канале