mixin b-card-video__item(name)
    a.b-card-video__item(href="javascript: void(0);" title="Воспроизвести")
        img.b-card-video__icon(src="img/icons/play-white.svg" alt="")
        div.b-card-video__text= name
