.b-mixin-price {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
	flex-wrap: nowrap;
	margin: 0;
	padding: 0;
	flex-direction: row;
    background-color: @whiteFF;
    padding-top: 47px;
}

.b-picture--sonata {
    display: inline-block;
    width: 50%;
}

.b-mixin-price__wrap {
    display: inline-block;
    width: 50%;
}

.b-picture--sonata img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.b-mixin-price__price {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.07px;
    color: @grey99;
    margin-bottom: 55%;
}

.b-card-icon--palitra:hover {
    opacity: 0.8;
} 

.b-mixin-price--padding {
    padding-top: 47px;
}

.b-mixin-price--margin {
    margin-bottom: 47px;
}

.b-price--not-padding-top {
    padding-top: 0;
}

.b-price--title-padding-top {
    padding-top: 43px;
}