.b-button-rect__box {
    display: flex;
}

.b-button-rect__left-arrow {
    position: relative;
    height: 60px;
    width: 60px;
}

.b-button-rect__left-arrow-img {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.b-button-rect__right-arrow {
    position: relative;
    height: 60px;
    width: 60px;

    background-color: @green47;
}

.b-button-rect__right-arrow-img {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: rotate(180deg) translate(50%, 50%);
}