mixin btn()
    div.b-button-rect__box
        div.b-button-rect__left-arrow
            img.b-button-rect__left-arrow-img(src="../../img/icons/left green.svg", alt="")
        div.b-button-rect__right-arrow
            img.b-button-rect__right-arrow-img(src="../../img/icons/left white.svg", alt="")