include ../b-language/b-language.pug
mixin b-hamburger()
    .b-hamburger
        ul.b-hamburger__header
            li.b-hamburger__header-item.b-hamburger__header-item--search
                a.b-hamburger__header-link(href="javascript:void(0);" title="Поиск")
                    img(src="img/icons/glass-white.svg", alt="")
            li.b-hamburger__header-item.b-hamburger__header-item--language
                +b-language({
                    modification: "b-language--hamburger"
                })
            li.b-hamburger__header-item.b-hamburger__header-item--geo
                a.b-hamburger__header-link(href="javascript:void(0);" title="Наши магазины")
                    img(src="img/icons/geo.svg", alt="")
        a.b-hamburger__button(href="javascript:void(0);" title="Обратный звонок")
            img.b-hamburger__button-img(src="img/icons/shape.svg", alt="")
            div.b-hamburger__button-descr Обратный звонок
        .b-hamburger__choice
            a.b-hamburger__choice-link(href="javascript:void(0);" title="Избранное")
                img.b-hamburger__choice-img(src="img/icons/heart-white.svg", alt="")
            a.b-hamburger__choice-link(href="javascript:void(0);" title="Корзина")
                img.b-hamburger__choice-img(src="img/icons/basket-white.svg", alt="")
        .b-hamburger__menu
            ul.b-hamburger__menu-product
                li.b-hamburger__menu-product-item
                    a(href="javascript:void(0);" title="Каталог").b-hamburger__menu-product-link Каталог
                li.b-hamburger__menu-product-item
                    a(href="javascript:void(0);" title="Коллекции").b-hamburger__menu-product-link Коллекции
                li.b-hamburger__menu-product-item
                    a(href="javascript:void(0);" title="Покупателям").b-hamburger__menu-product-link Покупателям
                li.b-hamburger__menu-product-item
                    a(href="javascript:void(0);" title="Компания").b-hamburger__menu-product-link Компания
            ul.b-hamburger__menu-info
                li.b-hamburger__menu-info-item.b-hamburger__menu-info-item--designers
                    a.b-hamburger__menu-info-link(href="javascript:void(0);" title="Дизайнерам") Дизайнерам
                li.b-hamburger__menu-info-item.b-hamburger__menu-info-item--address
                    a.b-hamburger__menu-info-link(href="javascript:void(0);" title="ГДЕ КУПИТЬ") ГДЕ КУПИТЬ
                        img.b-hamburger__menu-info-arrow(src="img/icons/line.svg", alt="arrow")
        .b-hamburger__footer
            a.b-hamburger__footer-number(href="tel:+78005513240" title="8 800 551 32 40") 8 800 551 32 40
            ul.b-hamburger__footer-social
                li.b-hamburger__footer-social-item
                    a.b-hamburger__footer-social-link(href="javascript:void(0);" title="Избранное")
                        img(src="img/icons/heart-mobile.svg", alt="")
                li.b-hamburger__footer-social-item
                    a.b-hamburger__footer-social-link(href="javascript:void(0);" title="Telegram")
                        img(src="img/icons/telegram-mobile.svg", alt="")
                li.b-hamburger__footer-social-item
                    a.b-hamburger__footer-social-link(href="javascript:void(0);" title="ВКонтакте")
                        img(src="img/icons/vk-mobile.svg", alt="")
                li.b-hamburger__footer-social-item
                    a.b-hamburger__footer-social-link(href="javascript:void(0);" title="Facebook")
                        img(src="img/icons/facebook-mobile.svg", alt="")
                li.b-hamburger__footer-social-item
                    a.b-hamburger__footer-social-link(href="javascript:void(0);" title="Instagram")
                        img(src="img/icons/instagram-mobile.svg", alt="")