mixin b-card-video-youtube()
    .b-card-video-youtube
        img.b-card-video-youtube__img(src="img/icons/youtube-green.svg", width="20", height="16" alt="")
        .b-card-video-youtube__text
            | Еще больше новых обзоров вы найдете на нашем&nbsp;
            a.b-card-video-youtube__link(href="javascript: void(0);", title="Больше обзоров") Youtube
            | &nbsp;канале