.b-card-address {
    padding-left: 78px;
    padding-bottom: 83px;

    &__title-box {
        display: flex;
        justify-content: space-between;
        width: 630px;
        padding-top: 45px;
        margin-bottom: 26px;
    }

    &__inner {
        flex-direction: column;
        flex-wrap: wrap;
        height: 658px;
        width: 100%;
        margin-bottom: 43px;
        margin-left: -13px;
        background-color: @whiteFF;
    }

    &__item {
        margin: 0;
        padding: 49px 0 20px 52px;

        // &:nth-child(n+5) {
        //     padding-left: 0px;
        //     margin-left: -4px;
        // }
    }
}

.b-switcher-city__position {
    padding-top: 62px;
    padding-left: 10px;
}

.b-switcher-city__inner {
    font-weight: 400;
}

.b-link-and-switcher {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__container {
        margin-right: 84px;
    }
}