.b-card-address {
    position: relative;
    justify-content: flex-start;
    padding-left: 200px;
    padding-bottom: 50px;

    background-color: @whiteF9;

    overflow: hidden;

    &__img {
        width: 1400px;
    }

    &__picture {
        display: block;
        margin-left: -200px;
    }

    &__title {
        letter-spacing: -1.1px;

        &-box {
            width: 100%;
            justify-content: flex-start;
            padding-top: 61px;
            margin-bottom: 8px;
        }
    }

    &__inner {
        flex-wrap: nowrap;
        flex-direction: row;

        height: 0;
        min-height: 206px;

        margin-left: 0;
        margin-bottom: 25px;
    }

    &__item {
        flex-shrink: 0;

        padding: 48px 0 0 70px;
        box-sizing: content-box;

        background-color: @whiteFF;

        &:first-child {
            padding-left: 39px;
        }
    }
}

.b-button-show-map {
    display: none;
}

.b-map-marker {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: @whiteFF;

    &__1 {
        top: 186px;
        left: 617px;
    }

    &__2 {
        top: 226px;
        left: 1068px;
    }

    &__3 {
        top: 336px;
        left: 830px;
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 23px;
        height: 23px;

        transform: translate(-50%, -50%);
    }
}

.b-switcher-city__position {
    margin-bottom: 28px;
    margin-left: 187px;
    padding-top: 16px;

}

.b-link-and-switcher {
    justify-content: end;

    &__container {
        margin-right: 200px;
    }

    &__box {
        margin-left: 68px;
    }
}