.b-card-address {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 78px;
    padding-bottom: 83px;



    &__title-box {
        display: flex;
        justify-content: space-between;
        width: 517px;
        padding-top: 61px;
        margin-bottom: 29px;
    }

    &__item {
        margin: 0;
        padding: 48px 0 21px 27px;
        box-sizing: content-box;

        background-color: @whiteFF;

        &:nth-child(n+5) {
            padding-left: 51px;
        }

        &:last-child {
            padding: 37px 0 0px 70px;
        }
    }
}

.b-switcher-city__position {
    padding-top: 15px;
}

.b-switcher-city__inner {
    font-weight: 400;
}

.b-link-and-switcher {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__container {
        width: 100%;

        margin-right: 84px;
    }
}

.slick {
    &-track {
        display: flex;
        flex-wrap: wrap;
        align-content: start;

        height: 660px;

        margin-bottom: 44px;

        background-color: @whiteFF;
        flex-direction: column;
    }
}