include ../../blocks/b-switcher-city/b-switcher-city
include ../../blocks/b-link-and-switcher/b-link-and-switcher
include ../../blocks/b-picture/b-picture
include ../../elements/b-button/b-button

mixin b-card-address(date)
    section.b-card-address(class=date.modification?date.modification:'').b-container.b-container--no-padd-mobile.b-container--no-padd-table.b-container--no-padd-desktop
        .b-card-address__container
            .b-card-address__box
                +b-button({
                    btn: {
                        link: {
                            classLink: 'b-button--show-map',
                            classTitle: 'Показать на карте',
                            descrLink: 'Показать на карте',
                            imgAfter: 'img/icons/local.svg',
                            imgAfterClass: 'b-button__img--show-map',
                        }
                    }
                })
            .b-card-address__map
                +b-picture([
                    {
                        pictureClass: "b-card-address__picture",
                        imgWebpMediaMaxDeskX1: "img/content/desktop/11-materials/6/1-1x.webp",
                        imgWebpMediaMaxDeskX2: "img/content/desktop/11-materials/6/1-2x.webp",
                        imgjpgMediaMaxDeskX1: "img/content/desktop/11-materials/6/1-1x.jpg",
                        imgjpgMediaMaxDeskX2: "img/content/desktop/11-materials/6/1-2x.jpg",
                        imgClass: "b-card-address__img",
                        alt: "Карта с адресами",
                    }
                ])
                .b-map-marker.b-map-marker__1
                    img.b-map-marker__img(src="img/icons/logo-green.svg", alt="Логотип Эстет")
                .b-map-marker.b-map-marker__2
                    img.b-map-marker__img(src="img/icons/logo-green.svg", alt="Логотип Эстет")
                .b-map-marker.b-map-marker__3
                    img.b-map-marker__img(src="img/icons/logo-green.svg", alt="Логотип Эстет")
            .b-card-address__title-box
                h2.b-title--card-address= date.title
                +b-switcher-city({
                    Elements: "",
                    Select: "",
                    imgGeo: "img/icons/geo-green.svg"
                })
            .b-card-address__inner
                a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                    .b-card-address__item-title
                        |Фирменный салон
                        span(lang="en") ESTET
                    .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
                a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                    .b-card-address__item-title
                        |Фирменный салон
                        span(lang="en") ESTET
                    .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
                a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                    .b-card-address__item-title
                        |Фирменный салон
                        span(lang="en") ESTET
                    .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
                a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                    .b-card-address__item-title
                        |Фирменный салон
                        span(lang="en") ESTET
                    .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
                a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                    .b-card-address__item-title
                        |Фирменный салон
                        span(lang="en") ESTET
                    .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
                a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                    .b-card-address__item-title
                        |Фирменный салон
                        span(lang="en") ESTET
                    .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
                a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                    .b-card-address__item-title
                        |Фирменный салон
                        span(lang="en") ESTET
                    .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
                a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                    .b-card-address__item-title
                        |Фирменный салон
                        span(lang="en") ESTET
                    .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
                a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                    .b-card-address__item-title
                        |Фирменный салон
                        span(lang="en") ESTET
                    .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
                a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                    .b-card-address__item-title
                        |Фирменный салон
                        span(lang="en") ESTET
                    .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
                a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                    .b-card-address__item-title
                        |Фирменный салон
                        span(lang="en") ESTET
                    .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
                a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                    .b-card-address__item-title
                        |Фирменный салон
                        span(lang="en") ESTET
                    .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
            +b-link-and-switcher({
                Value: "Все салоны",
                Title: "Показать все адреса магазинов",
            })