include ../../elements/b-switcher-city/b-switcher-city
include ../../elements/b-card-address__item/b-card-address__item
include ../../elements/b-link-and-switcher/b-link-and-switcher
include ../../elements/b-button-show-map/b-button-show-map

mixin b-card-address--buy(title)
    section.b-card-address
        +b-button-show-map
        picture.b-card-address__picture
            source(type="image/webp" srcset="img/content/desktop/11-materials/6/1-1x.webp 1x, img/content/desktop/11-materials/6/1-2x.webp 2x")
            source(type="image/jpeg" srcset="img/content/desktop/11-materials/6/1-1x.jpg 1x, img/content/desktop/11-materials/6/1-2x.jpg 2x")
            img.b-card-address__img(src="img/content/desktop/11-materials/6/1-1x.jpg" alt="Карта с адресами")
        .b-map-marker.b-map-marker__1
            img.b-map-marker__img(src="img/icons/logo-green.svg", alt="Логотип Эстет")
        .b-map-marker.b-map-marker__2
            img.b-map-marker__img(src="img/icons/logo-green.svg", alt="Логотип Эстет")
        .b-map-marker.b-map-marker__3
            img.b-map-marker__img(src="img/icons/logo-green.svg", alt="Логотип Эстет")
        .b-card-address__title-box
            h2.b-title--card-address--buy= title
            +b-switcher-city({
                modificationElements: "",
                modificationSelect: "",
                imgGeo: "img/icons/geo-green.svg"
            })
        .b-card-address__inner
            +b-card-address__item
            +b-card-address__item
            +b-card-address__item
            +b-card-address__item
            +b-card-address__item
            +b-card-address__item
            +b-card-address__item
            +b-card-address__item
        +b-link-and-switcher({
            modificationValue: "Все салоны",
            modificationTitle: "Показать все адреса магазинов",
        })