include ../../elements/b-switcher-city/b-switcher-city
include ../../elements/b-card-address__item/b-card-address__item
include ../../elements/b-link-and-switcher/b-link-and-switcher
include ../../elements/b-button-show-map/b-button-show-map

mixin b-card-address--buy(title)
    .b-card-address
        +b-button-show-map
        .b-card-address__title.b-card-address__title-show-map= title
        +b-switcher-city
        .b-card-address__inner
            +b-card-address__item
            +b-card-address__item
            +b-card-address__item
            +b-card-address__item
            +b-card-address__item
            +b-card-address__item
            +b-card-address__item
            +b-card-address__item
        +b-link-and-switcher("Все салоны")