.b-card-address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 52px;
    padding-left: 80px;
    padding-bottom: 83px;

    background-color: @whiteF9;

    &__picture, .b-map-marker {
        display: block;
    }

    &__title {
        margin-bottom: 27px;
        padding-top: 46px;

        font-family: 'Open Sans';
        font-size: 36px;
        font-weight: 700;
        letter-spacing: -.8px;
        color: @grey3C;
    }

    &__item {
        flex-shrink: 0;

        margin: 0;
        padding: 37px 0 0px 39px;
        box-sizing: content-box;

        background-color: @whiteFF;

        &:nth-child(n+4) {
            padding-left: 45px;
        }

        &:last-child {
            padding: 37px 0 0px 51px;
        }
    }
}

.b-map-marker {
    display: block;
}

.b-switcher-city {
    padding-top: 61px;
    padding-right: 176px;
    margin-bottom: 39px;
}

.b-link-and-switcher {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__container {
        width: 100%;

        margin-right: 84px;
    }
}