.b-card-address {
    padding-left: 200px;
    padding-bottom: 50px;

    &__title {
        letter-spacing: -1.1px;

        &-box {
            padding-top: 62px;
            margin-bottom: -10px;
        }
    }

    &__inner {
        height: 0;
        min-height: 206px;

        margin-bottom: 24px;
    }

    &__item {
        flex-shrink: 0;

        padding: 48px 0 0 39px;
        box-sizing: content-box;

        background-color: @whiteFF;
    }
}

.b-switcher-city__inner {
    font-weight: 400;
}

.b-link-and-switcher {
    justify-content: end;

    &__box {
        margin-left: 68px;
    }
    &__container {
        margin-right: 200px;
    }
}

.slick {
    &-track {
        flex-wrap: nowrap;
        flex-direction: row;
        height: 0;
        min-height: 206px;
        margin-left: 0;
        margin-bottom: 24px;
    }
}