include ../../blocks/b-switcher-city/b-switcher-city
include ../../blocks/b-link-and-switcher/b-link-and-switcher

mixin b-card-address(title)
    section.b-card-address
        .b-card-address__title-box
            h2.b-title--card-address= title
            +b-switcher-city({
                Elements: "",
                Select: "",
                imgGeo: "img/icons/geo-green.svg"
            })
        .b-card-address__inner
            a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                .b-card-address__item-title Фирменный салон ESTET
                .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
            a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                .b-card-address__item-title Фирменный салон ESTET
                .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
            a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                .b-card-address__item-title Фирменный салон ESTET
                .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
            a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                .b-card-address__item-title Фирменный салон ESTET
                .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
            a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                .b-card-address__item-title Фирменный салон ESTET
                .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
            a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                .b-card-address__item-title Фирменный салон ESTET
                .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
            a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                .b-card-address__item-title Фирменный салон ESTET
                .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
            a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                .b-card-address__item-title Фирменный салон ESTET
                .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
            a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                .b-card-address__item-title Фирменный салон ESTET
                .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
            a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                .b-card-address__item-title Фирменный салон ESTET
                .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
            a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                .b-card-address__item-title Фирменный салон ESTET
                .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
            a.b-card-address__item(href="javascript:void(0);", title="Наш адресс")
                .b-card-address__item-title Фирменный салон ESTET
                .b-card-address__item-text Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
        +b-link-and-switcher({
                Value: "Все салоны",
                Title: "Показать все адреса магазинов",
            })