.b-card-address {
    justify-content: flex-start;
    padding-left: 200px;
    padding-bottom: 50px;

    background-color: @whiteF9;

    overflow: hidden;
}

.b-button-show-map {
    margin-left: auto;
    margin-bottom: 23px;
}

.b-card-address__title {
    margin-bottom: 20px;
    padding-top: 62px;

    font-family: 'Open Sans';
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.1px;
    color: @grey3C;
}

.b-switcher-city {
    margin-bottom: 28px;
    margin-left: 135px;
    padding-top: 77px;

}

.b-card-address__inner {
    flex-wrap: nowrap;
    flex-direction: row;

    height: 0;
    min-height: 206px;

    margin-left: 0;
    margin-bottom: 28px;
}

.b-card-address__item {
    flex-shrink: 0;

    padding: 48px 0 0 70px;
    box-sizing: content-box;

    background-color: @whiteFF;
}

.b-card-address__item:first-child {
    padding-left: 39px;
}

.b-card-address__item:last-child {
    padding: 49px 37px 38px 43px;
}

.b-link-and-switcher {
    justify-content: end;
    margin-right: 200px;
    padding: 0;
}

.b-link-and-switcher__box {
    margin-left: 68px;
}