.b-card-address {
    padding-left: 25px;
    padding-bottom: 56px;

    background-color: @whiteF9;

    &__title-box {
        padding-top: 46px;
        margin-bottom: 39px;
    }

    &__inner {
        margin-bottom: -3px;
        overflow: hidden;
    }

    &__item {
        flex-shrink: 0;

        margin-bottom: 29px;
        padding: 46px 0 38px 43px;
        box-sizing: content-box;

        background-color: @whiteFF;

        opacity: .5;
    }

    & .b-link-and-switcher {
        margin-right: 22px;
    }
}

.slick {
    &-list {
        overflow: hidden;
    }
    &-track {
        display: flex;
    }

    &-active {
        opacity: 1;
    }
}