.b-card-address {
    padding-left: 78px;
    padding-bottom: 83px;

    &__title-box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 45px;
        margin-bottom: 26px;
        padding-right: 63px;
        align-items: flex-end;
    }

    &__inner {
        height: 658px;
        width: 100%;
        margin-bottom: 43px;
        margin-left: -13px;
        background-color: @whiteFF;
        overflow: hidden;
    }

    &__item {
        padding: 49px 0 20px 52px;

        &-title {
            margin-bottom: 23px;
        }
    }

    & .b-switcher-city {
        padding-top: 0;
        padding-left: 10px;
    }

    & .b-link-and-switcher {
        display: flex;
        justify-content: space-between;
        width: 100%;

        margin-right: 84px;
    }
}