.b-card-address {

    &__container {
        padding-left: 25px;
        padding-bottom: 56px;

        background-color: @whiteF9;
    }

    &__map,
    & .b-button {
        display: none;
    }

    &__title-box {
        padding-top: 40px;
        margin-bottom: 40px;
    }

    &__inner {
        position: relative;
        margin-bottom: -3px;
        overflow: hidden;

        &::before {
            content:"";
            position: absolute;
            width: 170px;
            height: 100%;
            background-image: -webkit-gradient(to left, white 5%, transparent 100%);
            background-image: -webkit-linear-gradient(to left, white 5%, transparent 100%);
            background-image: -moz-linear-gradient(to left, white 5%, transparent 100%);
            background-image: -ms-linear-gradient(to left, white 5%, transparent 100%);
            background-image: -o-linear-gradient(to left, white 5%, transparent 100%);
            background: linear-gradient(to left, white 5%, transparent 100%);
            top:0;
            right: 0;
            z-index: 1;
            pointer-events: none;
        }
    }

    &__item {
        width: 180px;

        flex-shrink: 0;

        margin-bottom: 29px;
        padding: 46px 0 38px 43px;
        box-sizing: content-box;

        text-decoration: none;

        background-color: @whiteFF;

        color: @grey3C;
        transition: color .3s linear;

        &-title {
            margin-bottom: 12px;

            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: -.4px;
        }

        &-text {
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
        }

        &:hover {
            color: fade(@green47, 70%);
        }
    }

    & .b-link-and-switcher {
        margin-right: 22px;
    }
}

.slick {
    &-list {
        overflow: hidden;
    }
    &-track {
        display: flex;
    }
}