.b-card-address {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-left: 78px;
    padding-bottom: 83px;

    .b-card-address__map {
        display: none;
    }

    &__inner {
        &::before {
            width: 170px;
        }
    }

    &__item {
        width: 230px;

        margin: 0;
        padding: 48px 0 21px 27px;

        &-title {
            margin-bottom: 23px;
        }

        &:nth-child(n+5) {
            padding-left: 51px;
        }
    }

    .slick {
        &-track {
            display: flex;
            flex-wrap: wrap;
            align-content: start;

            height: 660px;

            margin-bottom: 44px;

            background-color: @whiteFF;
            flex-direction: column;
        }
    }

    & .b-switcher-city {
        margin-bottom: 0;
        padding-top: 75px;
        padding-left: 140px;

        & .b-switcher-city__inner {
            font-weight: 400;
        }
    }

    & .b-link-and-switcher {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &__container {
            width: 100%;

            margin-right: 84px;
        }
    }
}