.b-card-address {
    padding-left: 24px;
    padding-bottom: 54px;

    background-color: @whiteF9;

    &__picture {
        display: none;
    }

    &__title-box {
        padding-top: 22px;
        margin-bottom: 39px;
    }

    &__inner {
        display: flex;
        margin-bottom: -4px;
    }

    &__item {
        flex-shrink: 0;

        margin-bottom: 29px;
        padding: 49px 0 38px 43px;
        box-sizing: content-box;

        background-color: @whiteFF;

        &:last-child {
            padding: 49px 37px 38px 43px;
        }
    }
}

.b-button-show-map {
    margin-left: auto;
}

.b-map-marker {
    display: none;
}

.b-link-and-switcher__container {
    margin-right: 22px;
}

.b-card-address .slick-slide {
    height: auto;
}