include ../../elements/b-switcher-city/b-switcher-city
include ../../elements/b-card-address__item/b-card-address__item
include ../../elements/b-link-and-switcher/b-link-and-switcher

mixin b-card-address(title)
    .b-card-address
        .b-card-address__title= title
        +b-switcher-city
        .b-card-address__inner
            +b-card-address__item
            +b-card-address__item
            +b-card-address__item
            +b-card-address__item
            +b-card-address__item
            +b-card-address__item
            +b-card-address__item
            +b-card-address__item
        .b-link-and-switcher__container
            +b-link-and-switcher("Все салоны")