.b-card-address {

    &__container {
        padding-left: 200px;
        padding-bottom: 50px;
    }

    &__map {
        display: none;
    }

    &__title-box {
        padding-top: 60px;
        margin-bottom: 30px;
    }

    .b-switcher-city {
        padding-left: 130px;
    }

    &__inner {
        height: 0;
        min-height: 206px;

        margin-bottom: 24px;

        &::before {
            width: 340px;
        }
    }

    &__item {
        display: block;

        flex-shrink: 0;

        padding: 48px 0 0 39px;
        box-sizing: content-box;

        background-color: @whiteFF;

        color: @grey3C;
    }

    .slick {
        &-track {
            flex-wrap: nowrap;
            flex-direction: row;
            height: 0;
            min-height: 206px;
            margin-left: 0;
            margin-bottom: 24px;
        }
    }

    & .b-link-and-switcher {
        justify-content: end;

        margin-right: 200px;

        &__box {
            margin-left: 68px;
        }
    }
}