include ../../elements/b-button/b-button.pug
include ../b-switcher-city/b-switcher-city.pug
mixin b-intro-square()
    .b-intro-square
        .b-intro__contacts
            a.b-intro__contacts-number(href="tel:+78005513240") 8 800 551 32 40
            +b-switcher-city({
                    Elements: "",
                    Select: "b-switcher-city__inner--white",
                    imgGeo: "img/icons/geo.svg"
            })
            +b-button({
                btn: {
                    link: {
                        classLink: 'b-button--tel',
                        classTitle: 'Заказать звонок',
                        imgBeffore: 'img/icons/shape.svg',
                        imgBefforeClass: 'b-button__img--tel',
                        descr: 'Обратный звонок',
                        descrClass: 'b-button__descr--tel',
                    }
                }
            })