@whiteFF:#FFFFFF;
@green47:#1E8A47;
@grey3C:#3C3C3C;
@grey99:#999999;
@greyD8:#D8D8D8;
@black00:#000000;
@greyBA:#BABABA;
@greyCD:#CDCDCD;
@greyF0:#F0F0F0;
@whiteFE:#FEFEFE;
@green3E:#3BAC3E;
@green4F:#00694F;
@grey97:#979797;
@green4A:#00C34A;
@grey31:#313131;
@whiteF2:#F3F1F2;
@whiteF9:#F9F9F9;
@white8F9:#FAF8F9;
@whiteEO:#E0E0E0;
@whiteF7:#F7F7F7;