@whiteFF:rgb(255, 255, 255);
@green47:rgb(30, 138, 71);
@grey3C:rgb(60, 60, 60);
@grey99:rgb(153, 153, 153);
@greyD8:rgb(216, 216, 216);
@black00:rgb(0, 0, 0);
@greyBA:rgb(186, 186, 186);
@greyCD:rgb(205, 205, 205);
@greyF0:rgb(240, 240, 240);
@whiteFE:rgb(254, 254, 254);
@green3E:rgb(59, 172, 62);
@green4F:rgb(0, 105, 79);
@grey97:rgb(151, 151, 151);
@green4A:rgb(0, 195, 74);
@grey31:rgb(49, 49, 49);
@whiteF2:rgb(243, 241, 242);
@whiteF9:rgb(249, 249, 249);
@white8F9:rgb(250, 248, 249);
@whiteEO:rgb(224, 224, 224);
@whiteF7:rgb(247, 247, 247);
@orange00:rgb(255, 82, 0);
@greyE6: rgb(230, 230, 230);