.b-container {
    padding: 0 200px 0 200px;
    &--no-padd-desktop {
        padding: 0;
    }
    &--max-width {
        max-width: 1600px;
        margin: 0 auto;
        position: relative;
    }
}
@import url("color.less");
@import url("b-title/b-title-desktop.less");
@import url("../elements/b-doors/b-doors-desktop.less");
@import url("../blocks/b-card-doors/b-card-doors-desktop.less");