.b-container {
    padding: 0 25px 0 25px;
    &--no-padd-mobile {
        padding: 0;
    }
    &--max-width {
        min-width: 320px;
        background-color: @whiteFF;
    }
}
@import url("variables.less");
@import url("b-title/b-title-mobile.less");
@import url("../elements/b-button-order-size/b-button-order-size.less");
@import url("../blocks/b-doors/b-doors-mobile.less");
@import url("../blocks/b-hamburger/b-hamburger-mobile.less");
@import url("../blocks/b-doors-nav/b-doors-nav-mobile.less");
@import url("../elements/b-footer__nav-products-item/b-footer__nav-products-item-mobile.less");
@import url("../blocks/b-picture/b-picture-mobile.less");
@import url("../blocks/b-link-and-switcher/b-link-and-switcher-mobile.less");
@import url("../blocks/b-header-doors/b-header-doors-mobile.less");
@import url("../blocks/b-switcher-city/b-switcher-city-mobile.less");
@import url("../blocks/b-aside/b-aside-mobile.less");
@import url("../blocks/b-card-doors/b-card-doors-mobile.less");
@import url("../blocks/b-card-address/b-card-address--buy-mobile.less");
@import url("../blocks/b-intro-second/b-intro-second-mobile.less");
@import url("../blocks/b-card-modern/b-card-modern-mobile.less");
@import url("../blocks/b-slider-video/b-slider-video-mobile.less");
@import url("../blocks/b-footer/b-footer-mobile.less");
@import url("../blocks/b-advertising/b-advertising-main-mobile.less");
@import url("../elements/b-button/b-button-mobile.less");