.b-container {
    padding: 0 200px 0 200px;
    &--no-padd-desktop {
        padding: 0;
    }
    &--max-width {
        max-width: 1600px;
        margin: 0 auto;
        position: relative;
        background-color: transparent;
    }
}
@import url("variables.less");
@import url("b-title/b-title-desktop.less");
@import url("../elements/b-button-order-size/b-button-order-size-desktop-doors.less");
@import url("../elements/b-doors/b-doors-desktop.less");
@import url("../elements/b-button-order-size/b-button-order-size-desktop-doors.less");
@import url("../elements/b-doors/b-doors-desktop.less");
@import url("../elements/b-button-collection/b-button-collection-desktop.less");
@import url("../elements/b-footer__nav-products-item/b-footer__nav-products-item-desktop.less");
@import url("../elements/b-button-help/b-button-help-desktop.less");
@import url("../blocks/b-card-doors/b-card-doors-desktop.less");
@import url("../blocks/b-aside/b-aside-desktop.less");
@import url("../blocks/b-header-doors/b-header-doors-desktop.less");
@import url("../blocks/b-card-doors/b-card-doors-desktop.less");
@import url("../blocks/b-intro-third/b-intro-third-desktop.less");
@import url("../blocks/b-card-doors/b-card-doors-desktop.less");
@import url("../blocks/b-slider-video/b-slider-video-desktop.less");
@import url("../blocks/b-card-address/b-card-address-desktop.less");
@import url("../blocks/b-card-modern/b-card-modern-desktop.less");
@import url("../blocks/b-footer/b-footer-desktop.less");
@import url("../blocks/b-advertising/b-advertising-desktop-main.less");
@import url("../blocks/b-card-address/b-card-address--buy-desktop.less");

