.b-container {
    padding: 0 25px 0 25px;
    &--no-padd-mobile {
        padding: 0;
    }
    &--max-width {
        min-width: 320px;
        background-color: @whiteFF;
    }
}
@import url("variables.less");
@import url("b-title/b-title-mobile.less");
@import url("../elements/b-button-help/b-button-help-mobile.less");
@import url("../elements/b-footer__nav-products-item/b-footer__nav-products-item-mobile.less");
@import url("../elements/b-button-show-map/b-button-show-map-mobile.less");
@import url("../elements/b-switcher-city/b-switcher-city-mobile.less");
@import url("../elements/b-intro-square/b-intro-square-mobile.less");
@import url("../elements/b-card-address__item/b-card-address__item-mobile.less");
@import url("../elements/b-switcher-left-right/b-switcher-left-mobile.less");
@import url("../elements/b-switcher-left-right/b-switcher-right-mobile.less");
@import url("../elements/b-button-rect--top/b-button-rect--top.less");
@import url("../elements/b-button-square/b-button-square-mobile.less");
@import url("../elements/b-card-video__item/b-card-video__item-mobile.less");
@import url("../elements/b-card-video-youtube/b-card-video-youtube-mobile.less");
@import url("../elements/b-hamburger/b-hamburger-mobile.less");
@import url("../elements/b-button-tel/b-button-tel.less");
@import url("../elements/b-intro__footer/b-intro__footer-mobile.less");
@import url("../elements/b-link-and-switcher/b-link-and-switcher-mobile.less");
@import url("../elements/b-intro-square/b-intro-square-mobile.less");
@import url("../elements/b-button-help/b-button-help-mobile.less");
@import url("../elements/b-footer__nav-products-item/b-footer__nav-products-item-mobile.less");
@import url("../elements/b-intro__item/b-intro__item-mobile.less");
@import url("../blocks/b-advertising/b-advertising-main-mobile.less");
@import url("../blocks/b-header/b-header-mobile.less");
@import url("../blocks/b-card-img/b-card-img-mobile.less");
@import url("../blocks/b-card-select/b-card-select-mobile.less");
@import url("../blocks/b-card-news/b-card-news-mobile.less");
@import url("../blocks/b-card-video/b-card-video-mobile.less");
@import url("../blocks/b-card-guarantee/b-card-guarantee-mobile.less");
@import url("../blocks/b-intro/b-intro-mobile.less");
@import url("../blocks/b-card-service/b-card-service-mobile.less");
@import url("../blocks/b-card-address/b-card-address-mobile.less");
@import url("../blocks/b-footer/b-footer-mobile.less");
@import url("../blocks/b-technology/b-technology-mobile.less");
@import url("../blocks/b-footer/b-footer-mobile.less");
