@import url("variables/color.less");
.b-container {
    padding: 0 25px 0 25px;
    &--no-padd-mobile {
        padding: 0;
    }
}

.b-intro {
    margin: 0 auto;
}
@import url("variables/color.less");
@import url("../blocks/b-header/b-header-mobile.less");
@import url("../elements/b-hamburger-main/b-hamburger-main-mobile.less");
@import url("../blocks/b-card-img/b-card-img.less");
@import url("../elements/b-button-tel/b-button-tel.less");
@import url("../elements/b-button-rect--top/b-button-rect--top.less");
@import url("../blocks/aside/aside-mobile.less");
@import url("../blocks/aside/aside-desctop.less");
@import url("../blocks/b-card-img/b-card-img.less");
@import url("../elements/b-button-white-green/b-button-green--down.less");
@import url("../elements/b-button-white-green/b-button-green--right.less");
@import url("../elements/b-button-white-green/b-button-white--left.less");
@import url("../elements/b-button-white-green/b-button-white--up.less");
@import url("../elements/b-card-video__item/b-card-video__item.less");
@import url("../elements/b-card-video-youtube/b-card-video-youtube.less");
@import url("../blocks/b-card-video/b-card-video.less");
@import url("b-title/b-title-mobile.less");
@import url("../blocks/b-card-guarantee/b-card-guarantee.less");
@import url("../blocks/b-card-video/b-card-video.less");
@import url("../elements/b-switcher-left-right/b-switcher-left-mobile.less");
@import url("../elements/b-switcher-left-right/b-switcher-right-mobile.less");
@import url("../blocks/b-intro__footer/b-intro__footer-mobile.less");
@import url("../blocks/b-intro/b-intro-mobile.less");
@import url("../blocks/b-card-service/b-card-service.less");
@import url("../elements/b-switcher-city/b-switcher-city.less");
@import url("../elements/b-card-address__item/b-card-address__item.less");
@import url("../elements/b-link-and-switcher/b-link-and-switcher.less");
@import url("../blocks/b-card-address/b-card-address.less");
@import url("../blocks/b-footer/b-footer-mobile.less");
@import url("../elements/b-button-green/b-button-green-mobile.less");
@import url("../elements/b-link-and-switcher/b-link-and-switcher.less");
