@import url("variables.less");
@font-face {
    font-family: "Lora";
    src:url("../fonts/Lora-Regular.woff2") format("woff2"),
        url("../fonts/Lora-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Lora";
    src:url("../fonts/Lora-Bold.woff2") format("woff2"),
        url("../fonts/Lora-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    src:url("../fonts/OpenSans-Light.woff2") format("woff2"),
        url("../fonts/OpenSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: "Open Sans";
    src:url("../fonts/OpenSans-Regular.woff2") format("woff2"),
        url("../fonts/OpenSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: "Open Sans";
    src:url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
        url("../fonts/OpenSans-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: "Open Sans";
    src:url("../fonts/OpenSans-Bold.woff2") format("woff2"),
        url("../fonts/OpenSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    font-family: @main-font , sans-serif;
    box-sizing: border-box;
}
*::after {
    box-sizing: border-box;
}
*::before {
    box-sizing: border-box;
}
picture {
    display: block;
    line-height: 0;
}
li {
    list-style-type: none;
}
.b-container {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
}
body {
    background-color: @whiteF7;
}