@import url("variables/color.less");
.b-container {
    padding: 0 84px 0 84px;
    &--no-padd-table {
        padding: 0;
    }
}

.b-container--no-padd-table {
    padding: 0;
}


@import url("../blocks/b-header/b-header-table.less");
@import url("variables/color.less");
@import url("../elements/b-button-tel/b-button-tel-desk.less");
@import url("../blocks/b-footer/b-footer-table.less");
@import url("../elements/b-button-green/b-button-green-table.less");