.b-container {
    padding: 0 84px 0 84px;
    &--no-padd-table {
        padding: 0;
    }
}
.b-container--no-padd-table {
    padding: 0;
}

@import url("color.less");
@import url("../blocks/b-header/b-header-table.less");
@import url("../elements/b-button-tel/b-button-tel-desk.less");
@import url("../blocks/b-intro/b-intro-tablet.less");
@import url("../blocks/b-intro__footer/b-intro__footer-table.less");
@import url("../elements/b-switcher-left-right/b-switcher-left-mobile.less");
@import url("../elements/b-switcher-left-right/b-switcher-right-mobile.less");
@import url("../elements/b-intro-square/b-intro-square-tablet.less");
@import url("../blocks/b-footer/b-footer-table.less");
@import url("../elements/b-button-help/b-button-help-table.less");
@import url("../blocks/b-card-guarantee/b-card-guarantee-table.less");
@import url("../blocks/b-card-service/b-card-service-table.less");
@import url("../elements/b-switcher-city/b-switcher-city.less");
@import url("../elements/b-switcher-city/b-switcher-city--white.less");
@import url("../elements/b-button-white-green/b-button-green--down.less");
@import url("../elements/b-button-white-green/b-button-green--right.less");
@import url("../elements/b-button-white-green/b-button-white--left.less");
@import url("../elements/b-button-white-green/b-button-white--up.less");