mixin b-footer__nav-products-item(items)
    ul.b-footer__nav-products
        each item in items
            li.b-footer__nav-item
                a.b-footer__nav-link(href="javascript:void(0);" title="Подробнее")= item