.b-intro__item {
    width: 100%;
    height: 100%;
}
.b-intro__item .b-intro__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
// .b-intro__image:before {
//     content: "";
//     position:absolute;
//     top:0;
//     left:0;
//     width: 100%;
//     height: 100%;
//     background: #000;
//     opacity: 0.35;
//     z-index: 6;
// }