.b-language {
    display: none;
    &--hamburger  {
        display: flex;
        align-items: center;
        padding: 25px;
        height: 75px;
        transition: opacity 0.2s;
        width: auto;
        &:hover {
            opacity: 0.5;
        }
    }
}