.b-language {
    display: block;
    width: 29px;
    height: 26px;
    transition: opacity 0.2s;
    &:hover {
        opacity: 0.5;
    }
    &--hamburger  {
        display: flex;
        align-items: center;
        padding: 25px;
        height: 75px;
        transition: opacity 0.2s;
        width: auto;
        &:hover {
            opacity: 0.5;
        }
    }
    &--header-doors {
        width: auto;
    }
}