mixin b-button-order-size()
    a(class="b-button-order-size", href="#", title="go to order size")
        div(class="b-button-order-size__square")
            img(class="b-button-order-size__line", src="../../img/icons/ruler.svg")
            img(class="b-button-order-size__pensil", src="../../img/icons/pensil.svg")
        div(class="b-button-order-size__description") Заказать замер
        img(class="b-button-order-size__arrow", src="../../img/icons/right-white.svg")