.b-button-order-size {
    width: 100%;
    max-width: 375px;
    height: 60px;
    background: @green47;
    position: absolute;
    bottom:0;
    right:0;
    display:flex;
    justify-content: space-between;
    text-decoration: none;
    color: @whiteFF;
    box-sizing: border-box;
    padding: 13px 24px 13px 26px;
    z-index: 2;
    &__square {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    &__description {
    // font-family: @main-font;
    width: 121px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    font-weight: 300;
    }
    &__img {
    width: 23px;
    margin-right: 4px;
    }
    &__arrow {
    width: 44px;
    }
    &:hover {
        background: lighten(@green4A,20%);
    }
}