mixin b-button-order-size()
    a(class="b-button-order-size", href="javascript:void(0);", title="Заказать размер")
        div(class="b-button-order-size__square")
            img(class="b-button-order-size__img", src="img/icons/linepensil.svg")
        div(class="b-button-order-size__description") Заказать замер
        img(class="b-button-order-size__arrow", src="img/icons/right-white.svg", alt="")