mixin b-button-order-size()
    a(class="b-button-order-size", href="#", title="go to order size")
        img(class="b-button-order-size__icon", src="../../img/icons/")
        img(class="b-button-order-size__icon", src="../../img/icons/")