mixin b-button-white-green()
    div.b-button-white-green__box
        div.b-button-white-green__left-arrow
            img.b-button-white-green__left-arrow-img(src="../../img/icons/left green.svg", alt="")
        div.b-button-white-green__right-arrow
            img.b-button-white-green__right-arrow-img(src="../../img/icons/left white.svg", alt="")