.b-button-green--right {
    display: block;
    position: relative;
    height: 60px;
    width: 60px;

    background-color: @green47;
}

.b-button-green--right:hover {
    background-color: lighten(@green47, 20%);
}

.b-button-green--right-img {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: rotate(180deg) translate(50%, 50%);
}