.b-collection {
    width: 100%;
    &__21collection {
        padding-left: 25px;
    }
    & .b-button-collection__navigation {
        margin-bottom: 13px;
    }
    &__21collection {
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 35px;
        letter-spacing: 5px;
        color: @grey3C;
    }
    &__post {
        display: inline-block;
        padding: 39px 55px 60px 62px;
        font-size: 14px;
        line-height: 25px;
        color: @grey3C;
        background-color: @whiteFF;
    }
    &__wrap-option  {
        font-family: @second-font;
        font-weight: 700;
        padding: 44px 71px 38px 25px;
        max-width: 90%;
    }
    &__wrap-option__number,&__modern__number {
        font-family: @second-font;
        font-weight: 400;
        font-size: 100px;
        line-height: 128px;
    }
    &__wrap-option__post,&__modern__post {
        font-family: @second-font;
        font-weight: 400;
        font-size: 30px;
        line-height: 33px;
    }
    &__modern {
        // padding: 75px 71px 35px 25px;
        padding: 25px 0px 35px 25px;
        max-width: 50%;
        font-size: 30px;
        font-weight: 400;
        line-height: 33px;
        color: @grey3C;
    }
    &__modern__number,&__modern__post {
        position: absolute;
    }
    &__modern-number {
        top: 38%;
        left: 15%;
    }
    &__modern-post {
        top: 65%;
        left: 15%;
        width: 251px;
    }
    &__wrapper-doors-modern {
        width: 100%;
        position: relative;
    }
    &__wrap-warranty {
        position: absolute;
        top: 35%;
        left: 10%;
    }
    &__modern-number {
        font-family: @second-font;
        font-weight: 400;
        font-size: 100px;
        list-style: 128px;
    }
    &__modern-post {
        font-family: @second-font;
        font-weight: 400;
        font-size: 30px;
        list-style: 33px;
    }
    &__wrap-still-link {
        display: block;
        color: @green47;
        text-decoration: none;
        transition: opacity 0.3s ease-in-out;
        & img {
            margin-left: 28px;
        }
        &:hover {
            opacity: 0.7;
        }
    }
    &__wrap-still-8 {
        font-size: 24px;
        line-height: 28px;
        color: @grey3C;
        display: inline-block;
        margin-bottom: 12px;
    }
    &__wrap-still-14 {
        font-size: 16px;
        line-height: 18px;
        color: @grey99;
    }
    &__wrap-still {
        padding: 46px 0 86px 25px;
    }
    &__wrap-doors {
        height: 450px;
        width: 100%;
        position: relative;
    }
    &__information {
        display: none;
    }
}

.b-card-icon--palitra {
    margin: 0;
    transition: opacity 0.4s ease-in-out;
    &:hover {
        opacity: 0.6;
    }
}

@media (max-width: 767px) {
    .b-mixin-price--genesis {
        display: none;
    }
}
