include ../../blocks/b-picture/b-picture

mixin b-slider-video()
    section.b-slider-video.b-container.b-container--no-padd-mobile.b-container--no-padd-table
        +b-picture([
            {
                pictureClass: "b-slider-video__picture",
                imgWebpMediaMax767X1: "img/content/mobile/10-slider/1/16-1x.webp",
                imgWebpMediaMax767X2: "img/content/mobile/10-slider/1/16-2x.webp",
                imgJpgMediaMax767X1: "img/content/mobile/10-slider/1/16-1x.jpg",
                imgJpgMediaMax767X2: "img/content/mobile/10-slider/1/16-2x.jpg",
                imgWebpMediaMax1023X1: "img/content/tablet/10-slider/1/1-1x.webp",
                imgWebpMediaMax1023X2: "img/content/tablet/10-slider/1/1-2x.webp",
                imgJpgMediaMax1023X1: "img/content/tablet/10-slider/1/1-1x.jpg",
                imgJpgMediaMax1023X2: "img/content/tablet/10-slider/1/1-2x.jpg",
                imgWebpMediaMaxDeskX1: "img/content/desktop/10-slider/1/1-1x.webp",
                imgWebpMediaMaxDeskX2: "img/content/desktop/10-slider/1/1-2x.webp",
                imgjpgMediaMaxDeskX1: "img/content/desktop/10-slider/1/1-1x.jpg",
                imgjpgMediaMaxDeskX2: "img/content/desktop/10-slider/1/1-2x.jpg",
                imgClass: "b-slider-video__img",
                alt: "Дверь с красным и синим",
            }
        ])
        +b-picture([
            {
                pictureClass: "b-slider-video__picture",
                imgWebpMediaMax767X1: "img/content/mobile/10-slider/1/16-1x.webp",
                imgWebpMediaMax767X2: "img/content/mobile/10-slider/1/16-2x.webp",
                imgJpgMediaMax767X1: "img/content/mobile/10-slider/1/16-1x.jpg",
                imgJpgMediaMax767X2: "img/content/mobile/10-slider/1/16-2x.jpg",
                imgWebpMediaMax1023X1: "img/content/tablet/10-slider/1/1-1x.webp",
                imgWebpMediaMax1023X2: "img/content/tablet/10-slider/1/1-2x.webp",
                imgJpgMediaMax1023X1: "img/content/tablet/10-slider/1/1-1x.jpg",
                imgJpgMediaMax1023X2: "img/content/tablet/10-slider/1/1-2x.jpg",
                imgWebpMediaMaxDeskX1: "img/content/desktop/10-slider/1/1-1x.webp",
                imgWebpMediaMaxDeskX2: "img/content/desktop/10-slider/1/1-2x.webp",
                imgjpgMediaMaxDeskX1: "img/content/desktop/10-slider/1/1-1x.jpg",
                imgjpgMediaMaxDeskX2: "img/content/desktop/10-slider/1/1-2x.jpg",
                imgClass: "b-slider-video__img",
                alt: "Дверь с красным и синим",
            }
        ])
        +b-picture([
            {
                pictureClass: "b-slider-video__picture",
                imgWebpMediaMax767X1: "img/content/mobile/10-slider/1/16-1x.webp",
                imgWebpMediaMax767X2: "img/content/mobile/10-slider/1/16-2x.webp",
                imgJpgMediaMax767X1: "img/content/mobile/10-slider/1/16-1x.jpg",
                imgJpgMediaMax767X2: "img/content/mobile/10-slider/1/16-2x.jpg",
                imgWebpMediaMax1023X1: "img/content/tablet/10-slider/1/1-1x.webp",
                imgWebpMediaMax1023X2: "img/content/tablet/10-slider/1/1-2x.webp",
                imgJpgMediaMax1023X1: "img/content/tablet/10-slider/1/1-1x.jpg",
                imgJpgMediaMax1023X2: "img/content/tablet/10-slider/1/1-2x.jpg",
                imgWebpMediaMaxDeskX1: "img/content/desktop/10-slider/1/1-1x.webp",
                imgWebpMediaMaxDeskX2: "img/content/desktop/10-slider/1/1-2x.webp",
                imgjpgMediaMaxDeskX1: "img/content/desktop/10-slider/1/1-1x.jpg",
                imgjpgMediaMaxDeskX2: "img/content/desktop/10-slider/1/1-2x.jpg",
                imgClass: "b-slider-video__img",
                alt: "Дверь с красным и синим",
            }
        ])
        +b-picture([
            {
                pictureClass: "b-slider-video__picture",
                imgWebpMediaMax767X1: "img/content/mobile/10-slider/1/16-1x.webp",
                imgWebpMediaMax767X2: "img/content/mobile/10-slider/1/16-2x.webp",
                imgJpgMediaMax767X1: "img/content/mobile/10-slider/1/16-1x.jpg",
                imgJpgMediaMax767X2: "img/content/mobile/10-slider/1/16-2x.jpg",
                imgWebpMediaMax1023X1: "img/content/tablet/10-slider/1/1-1x.webp",
                imgWebpMediaMax1023X2: "img/content/tablet/10-slider/1/1-2x.webp",
                imgJpgMediaMax1023X1: "img/content/tablet/10-slider/1/1-1x.jpg",
                imgJpgMediaMax1023X2: "img/content/tablet/10-slider/1/1-2x.jpg",
                imgWebpMediaMaxDeskX1: "img/content/desktop/10-slider/1/1-1x.webp",
                imgWebpMediaMaxDeskX2: "img/content/desktop/10-slider/1/1-2x.webp",
                imgjpgMediaMaxDeskX1: "img/content/desktop/10-slider/1/1-1x.jpg",
                imgjpgMediaMaxDeskX2: "img/content/desktop/10-slider/1/1-2x.jpg",
                imgClass: "b-slider-video__img",
                alt: "Дверь с красным и синим",
            }
        ])
        +b-picture([
            {
                pictureClass: "b-slider-video__picture",
                imgWebpMediaMax767X1: "img/content/mobile/10-slider/1/16-1x.webp",
                imgWebpMediaMax767X2: "img/content/mobile/10-slider/1/16-2x.webp",
                imgJpgMediaMax767X1: "img/content/mobile/10-slider/1/16-1x.jpg",
                imgJpgMediaMax767X2: "img/content/mobile/10-slider/1/16-2x.jpg",
                imgWebpMediaMax1023X1: "img/content/tablet/10-slider/1/1-1x.webp",
                imgWebpMediaMax1023X2: "img/content/tablet/10-slider/1/1-2x.webp",
                imgJpgMediaMax1023X1: "img/content/tablet/10-slider/1/1-1x.jpg",
                imgJpgMediaMax1023X2: "img/content/tablet/10-slider/1/1-2x.jpg",
                imgWebpMediaMaxDeskX1: "img/content/desktop/10-slider/1/1-1x.webp",
                imgWebpMediaMaxDeskX2: "img/content/desktop/10-slider/1/1-2x.webp",
                imgjpgMediaMaxDeskX1: "img/content/desktop/10-slider/1/1-1x.jpg",
                imgjpgMediaMaxDeskX2: "img/content/desktop/10-slider/1/1-2x.jpg",
                imgClass: "b-slider-video__img",
                alt: "Дверь с красным и синим",
            }
        ])
    .b-slider-video__button-box
        .b-slider-video__background
        .b-slider-video__radio
        .b-slider-video__button