.b-slider-video {
    padding: 0 61px 0 66px;

    &__picture {
        height: 361px;

    & .slick-track {
        height: 0;
    }
    }
    & .slick-prev {
        right: 60px;
    }
    & .slick-next {
        right: 0px;
    }

    & .slick-dots {
        bottom: -34px;
        left: 66px;
    }

    &__button-box {
        margin-bottom: 90px;
    }

    &__background {
        width: 100%;
        height: 307px;

        margin-top: -406px;
        background-color: @whiteF7;
    }
}