mixin b-slider-video()
    section.b-slider-video
        picture.b-slider-video__picture
            source(type="image/webp" srcset="img/content/mobile/10-slider/1/16-1x.webp 1x, img/content/mobile/10-slider/1/16-2x.webp 2x" media="(max-width: 767px)")
            source(type="image/jpeg" srcset="img/content/mobile/10-slider/1/16-1x.jpg 1x, img/content/mobile/10-slider/1/16-2x.jpg 2x" media="(max-width: 767px)")
            source(type="image/webp" srcset="img/content/tablet/10-slider/1/1-1x.webp 1x, img/content/tablet/10-slider/1/1-2x.webp 2x" media="(max-width: 1023px)")
            source(type="image/jpeg" srcset="img/content/tablet/10-slider/1/1-1x.jpg 1x, img/content/tablet/10-slider/1/1-2x.jpg 2x" media="(max-width: 1023px)")
            source(type="image/webp" srcset="img/content/desktop/10-slider/1/1-1x.webp 1x, img/content/desktop/10-slider/1/1-2x.webp 2x")
            source(type="image/jpeg" srcset="img/content/desktop/10-slider/1/1-1x.jpg 1x, img/content/desktop/10-slider/1/1-2x.jpg 2x")
            img.b-slider-video__img(src="img/content/desktop/10-slider/1/1-1x.jpg", width="375", height="211" alt="Дверь с красным и синим")
        picture.b-slider-video__picture
            source(type="image/webp" srcset="img/content/mobile/10-slider/1/16-1x.webp 1x, img/content/mobile/10-slider/1/16-2x.webp 2x" media="(max-width: 767px)")
            source(type="image/jpeg" srcset="img/content/mobile/10-slider/1/16-1x.jpg 1x, img/content/mobile/10-slider/1/16-2x.jpg 2x" media="(max-width: 767px)")
            source(type="image/webp" srcset="img/content/tablet/10-slider/1/1-1x.webp 1x, img/content/tablet/10-slider/1/1-2x.webp 2x" media="(max-width: 1023px)")
            source(type="image/jpeg" srcset="img/content/tablet/10-slider/1/1-1x.jpg 1x, img/content/tablet/10-slider/1/1-2x.jpg 2x" media="(max-width: 1023px)")
            source(type="image/webp" srcset="img/content/desktop/10-slider/1/1-1x.webp 1x, img/content/desktop/10-slider/1/1-2x.webp 2x")
            source(type="image/jpeg" srcset="img/content/desktop/10-slider/1/1-1x.jpg 1x, img/content/desktop/10-slider/1/1-2x.jpg 2x")
            img.b-slider-video__img(src="img/content/desktop/10-slider/1/1-1x.jpg", width="375", height="211" alt="Дверь с красным и синим")
        picture.b-slider-video__picture
            source(type="image/webp" srcset="img/content/mobile/10-slider/1/16-1x.webp 1x, img/content/mobile/10-slider/1/16-2x.webp 2x" media="(max-width: 767px)")
            source(type="image/jpeg" srcset="img/content/mobile/10-slider/1/16-1x.jpg 1x, img/content/mobile/10-slider/1/16-2x.jpg 2x" media="(max-width: 767px)")
            source(type="image/webp" srcset="img/content/tablet/10-slider/1/1-1x.webp 1x, img/content/tablet/10-slider/1/1-2x.webp 2x" media="(max-width: 1023px)")
            source(type="image/jpeg" srcset="img/content/tablet/10-slider/1/1-1x.jpg 1x, img/content/tablet/10-slider/1/1-2x.jpg 2x" media="(max-width: 1023px)")
            source(type="image/webp" srcset="img/content/desktop/10-slider/1/1-1x.webp 1x, img/content/desktop/10-slider/1/1-2x.webp 2x")
            source(type="image/jpeg" srcset="img/content/desktop/10-slider/1/1-1x.jpg 1x, img/content/desktop/10-slider/1/1-2x.jpg 2x")
            img.b-slider-video__img(src="img/content/desktop/10-slider/1/1-1x.jpg", width="375", height="211" alt="Дверь с красным и синим")
        picture.b-slider-video__picture
            source(type="image/webp" srcset="img/content/mobile/10-slider/1/16-1x.webp 1x, img/content/mobile/10-slider/1/16-2x.webp 2x" media="(max-width: 767px)")
            source(type="image/jpeg" srcset="img/content/mobile/10-slider/1/16-1x.jpg 1x, img/content/mobile/10-slider/1/16-2x.jpg 2x" media="(max-width: 767px)")
            source(type="image/webp" srcset="img/content/tablet/10-slider/1/1-1x.webp 1x, img/content/tablet/10-slider/1/1-2x.webp 2x" media="(max-width: 1023px)")
            source(type="image/jpeg" srcset="img/content/tablet/10-slider/1/1-1x.jpg 1x, img/content/tablet/10-slider/1/1-2x.jpg 2x" media="(max-width: 1023px)")
            source(type="image/webp" srcset="img/content/desktop/10-slider/1/1-1x.webp 1x, img/content/desktop/10-slider/1/1-2x.webp 2x")
            source(type="image/jpeg" srcset="img/content/desktop/10-slider/1/1-1x.jpg 1x, img/content/desktop/10-slider/1/1-2x.jpg 2x")
            img.b-slider-video__img(src="img/content/desktop/10-slider/1/1-1x.jpg", width="375", height="211" alt="Дверь с красным и синим")
    .b-slider-video__button-box
        .b-slider-video__background
        .b-slider-video__radio
        .b-slider-video__button