.b-slider-video {
    padding: 0 200px;
    background-color: @whiteF7;

    &__picture {
        height: 676px;
    }

    & .slick-dots {
        bottom: -34px;
        left: 200px;
    }

    & .slick-prev {
        right: 260px;
    }
    & .slick-next {
        right: 200px;
    }

    &__button-box {
        padding-bottom: 91px;
        margin-bottom: 0;

        background-color: @whiteF7;
    }
}