mixin b-aside
    .b-aside__logo
        img(src="", alt="")
    .b-aside__btn
        img(src="", alt="")
    .b-aside__search
        img(src="", alt="")
    .b-aside__number
    nav.b-aside__filter
        h2.b-title КОЛЛЕКЦИИ
        ul.b-aside__list
            li.b-aside__item bliss
            li.b-aside__item urban
            li.b-aside__item perfect
            li.b-aside__item sonata
            li.b-aside__item novella
            li.b-aside__item mio
            li.b-aside__item ways
            li.b-aside__item royal
            li.b-aside__item perfect volume
        h2.b-title СТИЛЬ
        ul.b-aside__list
        h2.b-title ЦВЕТА
        ul.b-aside__list
        h2.b-title ОТДЕЛКА
        ul.b-aside__list
        h2.b-title ЦЕНА
        ul.b-aside__list
        .b-aside__reset
        input(type="checkbox" id="stock" name="stock")
        label(for="stock") Только по акции