.b-picture {
    display: block;
}

.b-picture--aside {
    padding-right: 60px;
    margin-bottom: 24px;
    margin-left: -25px;
    margin-right: -25px;
    width: 349px;
    height: 310px;
    display: flex;
}

.b-picture--aside img {
    max-width: 100%;
    max-height: 100%;
}

.b-card-advertising__caption {
    margin: 0;
    color: @grey3C;
    font-size: 21px;
    line-height: 24.61px;
}

.b-card-advertising__caption {
    margin-bottom: 22px;
}

.b-card-advertising__description {
    color: @grey99;
    font-size: 14px;
    line-height: 25px;
    display: block;
    margin-bottom: 21px;
}

.b-card-advertising__stock {
    font-size: 14px;
    line-height: 16.41px;
    color: @grey3C;
}

.b-button-green--right__aside {
    position: absolute;
}