include ./elements/b-button-white-green/b-button-green--right.pug
mixin aside
    aside.b-card-advertising
        picture.b-picture.b-picture--aside 
            source(type="image/webp" srcset="../img/content/desctop/3-search/11-1x.webp 1x, ../img/content/desctop/3-search/11-2x.webp 2x" media="min-width: 1024px")
            source(type="image/jpeg" srcset="../img/content/desctop/3-search/11-1x.jpg 1x, ../img/content/desctop/3-search/11-2x.jpg 2x" media="min-width: 1024px") 
            source(type="image/webp" srcset="../img/content/mobile/3-search/1/10-1x.webp 1x, ../img/content/mobile/3-search/1/10-2x.webp 2x" media="min-width: 375px") 
            source(type="image/jpeg" srcset="../img/content/mobile/3-search/1/10-1x.jpg 1x, ../img/content/mobile/3-search/1/10-2x.jpg 2x" media="min-width: 375px")
            img(src="../img/content/desctop/3-search/11-1x.jpg" width="1212", height="511")
            +b-button-green--right
        .b-card-advertising__wrap
            p.b-card-advertising__caption -20% на&nbsp;коллекции MIO, ENGLAND, FIGURE
            span.b-card-advertising__description Успейте купить межкомнатные двери классической коллекции со&nbsp;скидкой&nbsp;20% до&nbsp;середины февраля.
            span.b-card-advertising__stock Акция действует до&nbsp;15&nbsp;февраля 2021г