include ../../blocks/b-link-and-switcher/b-link-and-switcher.pug
include ../../blocks/b-modern/b-modern.pug
mixin b-card-modern
    section.b-card-modern
        .b-container
            .b-card-modern__header
                .b-title.b-title--modern-main  Современные технологии Lamell Tech <sup class="reg">&reg;</sup>
                .b-card-modern__description-main Инновационная технология изготовления бруса, применяемого в конструкции дверного полотна фабрикой ESTET. Брус изготавливается из отдельных реек, благодаря применению специальных смол, обеспечивается соединение реек на молекулярном уровне.
            .b-card-modern__button
                +b-link-and-switcher({
                Value: "Все технологии",
                Title: "Показать все технологии",
            })
            .b-card-modern__wrapper
                +b-modern([
                    {
                        modification: "",
                        imgWebpMediaMax767X1: "img/content/mobile/11-materials/1/17-1x.webp",
                        imgWebpMediaMax767X2: "img/content/mobile/11-materials/1/17-2x.webp",
                        imgJpgMediaMax767X1: "img/content/mobile/11-materials/1/17-1x.jpg",
                        imgJpgMediaMax767X2: "img/content/mobile/11-materials/1/17-2x.jpg",
                        imgWebpMediaMax1023X1: "img/content/tablet/11-materials/1/17-1x.webp",
                        imgWebpMediaMax1023X2: "img/content/tablet/11-materials/1/17-2x.webp",
                        imgJpgMediaMax1023X1: "img/content/tablet/11-materials/1/17-1x.jpg",
                        imgJpgMediaMax1023X2: "img/content/tablet/11-materials/1/17-2x.jpg",
                        imgWebpMediaMaxDeskX1: "img/content/desktop/11-materials/1/1-1x.webp",
                        imgWebpMediaMaxDeskX2: "img/content/desktop/11-materials/1/1-2x.webp",
                        imgjpgMediaMaxDeskX1: "img/content/desktop/11-materials/1/1-1x.jpg",
                        title: "Termofix",
                        descr: "Технология обеспечивает высокие изолирующие свойства за счет жесткой фиксации минерального утеплителя в полотне."
                    },
                    {
                        modification: "b-card-modern__item--long",
                        imgWebpMediaMax767X1: "img/content/mobile/11-materials/2/1-1x.webp",
                        imgWebpMediaMax767X2: "img/content/mobile/11-materials/2/1-2x.webp",
                        imgJpgMediaMax767X1: "img/content/mobile/11-materials/2/1-1x.jpg",
                        imgJpgMediaMax767X2: "img/content/mobile/11-materials/2/1-2x.jpg",
                        imgWebpMediaMax1023X1: "img/content/tablet/11-materials/2/1-1x.webp",
                        imgWebpMediaMax1023X2: "img/content/tablet/11-materials/2/1-2x.webp",
                        imgJpgMediaMax1023X1: "img/content/tablet/11-materials/2/1-1x.jpg",
                        imgJpgMediaMax1023X2: "img/content/tablet/11-materials/2/1-2x.jpg",
                        imgWebpMediaMaxDeskX1: "img/content/desktop/11-materials/2/1-1x.webp",
                        imgWebpMediaMaxDeskX2: "img/content/desktop/11-materials/2/1-2x.webp",
                        imgjpgMediaMaxDeskX1: "img/content/desktop/11-materials/2/1-1x.jpg",
                        title: "iSecurity",
                        descr: "Комплексная система защиты дверного блока от взлома разрушающими и вандальными методами"
                    },
                    {
                        modification: "b-card-modern__item--greyblock",
                        imgWebpMediaMax767X1: "img/content/mobile/11-materials/3/1-1x.webp",
                        imgWebpMediaMax767X2: "img/content/mobile/11-materials/3/1-2x.webp",
                        imgJpgMediaMax767X1: "img/content/mobile/11-materials/3/1-1x.jpg",
                        imgJpgMediaMax767X2: "img/content/mobile/11-materials/3/1-2x.jpg",
                        imgWebpMediaMax1023X1: "img/content/mobile/11-materials/3/1-1x.webp",
                        imgWebpMediaMax1023X2: "img/content/mobile/11-materials/3/1-2x.webp",
                        imgJpgMediaMax1023X1: "img/content/mobile/11-materials/3/1-1x.jpg",
                        imgJpgMediaMax1023X2: "img/content/mobile/11-materials/3/1-2x.jpg",
                        imgWebpMediaMaxDeskX1: "img/content/mobile/11-materials/3/1-1x.webp",
                        imgWebpMediaMaxDeskX2: "img/content/mobile/11-materials/3/1-2x.webp",
                        imgjpgMediaMaxDeskX1: "img/content/mobile/11-materials/3/1-1x.jpg",
                        title: "Q-system",
                        descr: "Технология дополнительной звукоизоляции, способная обеспечить максимально необходимый уровень комфорта"
                    },
                    {
                        modification: "b-card-modern__item--greylong",
                        imgWebpMediaMax767X1: "img/content/mobile/11-materials/4/1-1x.webp",
                        imgWebpMediaMax767X2: "img/content/mobile/11-materials/4/1-2x.webp",
                        imgJpgMediaMax767X1: "img/content/mobile/11-materials/4/1-1x.jpg",
                        imgJpgMediaMax767X2: "img/content/mobile/11-materials/4/1-2x.jpg",
                        imgWebpMediaMax1023X1: "img/content/tablet/11-materials/4/1-1x.webp",
                        imgWebpMediaMax1023X2: "img/content/tablet/11-materials/4/1-2x.webp",
                        imgJpgMediaMax1023X1: "img/content/tablet/11-materials/4/1-1x.jpg",
                        imgJpgMediaMax1023X2: "img/content/tablet/11-materials/4/1-2x.jpg",
                        imgWebpMediaMaxDeskX1: "img/content/desktop/11-materials/4/1-1x.webp",
                        imgWebpMediaMaxDeskX2: "img/content/desktop/11-materials/4/1-2x.webp",
                        imgjpgMediaMaxDeskX1: "img/content/desktop/11-materials/4/1-1x.png",
                        title: "ProfileSet",
                        descr: "Технология обеспечивает высокую прочность конструкции."
                    },
                    {
                        modification: "b-card-modern__item--block",
                        imgWebpMediaMax767X1: "img/content/mobile/11-materials/5/1-1x.webp",
                        imgWebpMediaMax767X2: "img/content/mobile/11-materials/5/1-2x.webp",
                        imgJpgMediaMax767X1: "img/content/mobile/11-materials/5/1-1x.jpg",
                        imgJpgMediaMax767X2: "img/content/mobile/11-materials/5/1-2x.jpg",
                        imgWebpMediaMax1023X1: "img/content/tablet/11-materials/5/1-1x.webp",
                        imgWebpMediaMax1023X2: "img/content/tablet/11-materials/5/1-2x.webp",
                        imgJpgMediaMax1023X1: "img/content/tablet/11-materials/5/1-1x.jpg",
                        imgJpgMediaMax1023X2: "img/content/tablet/11-materials/5/1-2x.jpg",
                        imgWebpMediaMaxDeskX1: "img/content/desktop/11-materials/5/1-1x.webp",
                        imgWebpMediaMaxDeskX2: "img/content/desktop/11-materials/5/1-2x.webp",
                        imgjpgMediaMaxDeskX1: "img/content/desktop/11-materials/5/1-1x.jpg",
                        title: "SQDR",
                        descr: "Технология обеспечивает высокие изолирующие свойства за счет жесткой фиксации минерального утеплителя в полотне."
                    }
                ])