.b-button {
    &--collection {
        height: 60px;
        width: 155px;
    }
    &--help {
        width: calc(100% - 310px);
        height: 60px;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
    }
    &--tel {
        display: flex;
        right: 0;
        position: absolute;
        bottom: 0;
        height: 209px;
        align-items: flex-start;
        width: 348px;
        background-color: @green4A;
        padding: 36px 54px 36px 36px;
        text-decoration: none;
        transition: background 0.3s linear;
        &:hover {
            background: lighten(@green4A,20%);
        }
    }
    &--order-size {
        width: 320px;
        height: 80px;
        background-color: @green47;
        position: absolute;
        bottom:0;
        right:0;
        &__square {
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
        & .b-button__descr--order-size {
        width: 121px;
        text-align: center;
        line-height: 50px;
        font-size: 16px;
        font-weight: 400;
        }
        &__line {
        width: 12px;
        margin-right: 4px;
        }
        &__pensil {
        width: 9px;
        }
        & .b-button__img--order-size {
        width: 44px;
        }
    }
    &__img {
        &--tel {
            width: 31px;
            height: 31px;
            margin-right: 37px;
        }
    }
    &__descr {
        &--tel {
            color: @whiteFF;
            font-size: 18px;
            text-transform: uppercase;
            display: block;
            line-height: 31px;
        }
    }
}