.b-button {
    &--collection {
        height: 60px;
        width: 155px;
    }
    &--help {
        width: calc(100% - 310px);
        height: 60px;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
    }
    &--tel {
        display: flex;
        right: 0;
        position: absolute;
        bottom: 0;
        height: 209px;
        align-items: flex-start;
        width: 348px;
        background-color: @green4A;
        padding: 36px 54px 36px 36px;
        text-decoration: none;
        transition: background 0.3s linear;
        &:hover {
            background: lighten(@green4A,20%);
        }
    }
    &__img {
        &--tel {
            width: 31px;
            height: 31px;
            margin-right: 37px;
        }
    }
    &__descr {
        &--tel {
            color: @whiteFF;
            font-size: 18px;
            text-transform: uppercase;
            display: block;
            line-height: 31px;
        }
    }
}