.b-button {
    &--help {
        margin-bottom: 109px;
        width: 100%;
    }
    &--tel {
        height: 103px;
    }
}

@media (max-width: 1281px) {
    .b-button--help {
        margin-bottom: 116px;
    }
}