.b-price__21collection {
    display: none;
}

.empty_block {
    width: 50%;
    order: 0;
}

.b-r-third-order {
    order: 1;
    width: 50%;
}

.b-sonata-padding-top-card {
    width: 50%;
    order: 2;
}

.b-padding_card_g {
    order: 3;
    width: 50%;
    margin-bottom: 0;
}

.b_background_color_renaissance_no_white {
    order: 4;
    width: 50%;
}

.b-price__wrap--post {
    order: 5;
    width: 50%;
    padding-left: 62px;
}

.b-sonata-six-order {
    order: 6;
    width: 50%;
    padding-top: 80px;
}


.b-picture--renaissance-collection {
    margin-bottom: 0;
    order: 7;
    width: 50%;
}

.b-price__wrap-option {
    order: 7;
    width: 50%;
    background-color: @whiteF7;
}

.b-ten-order-r {
    order: 10;
    width: 50%;
    background-color: @whiteFF;
}

.b-padding_card_g_twelve_order {
    order: 11;
    width: 50%;
    padding-top: 80px
}

.b-padding_card_g_last_order {
    order: 12;
    width: 50%;
}

.b-eleventh-order-r {
    order: 13;
}

.b-price__modern {
    order: 14;
    width: 50%;
}

.b-fourteenth-order-r {
    order: 16;
    width: 50%;
    height: 50%;
    padding-bottom: 0;
}

.b_tablet_none {
    order: 17;
}

.b-padding_text_g {
    width: 50%;
}

.b-price {
    position: relative;
}

.b_tablet_none {
    display: block;
}

.b-price__modern {
    order: 13;
    width: 50%;
}

.b-picture--modern {
    order: 14;
    margin-bottom: 0;
}

.wrap {
    order: 15;
    width: 50%;
    & .b-fourteenth-order-r {
        width: 100%;
    }
}

.b_tablet_none {
    width: 100%;
    display: flex;
    height: 50%;
    padding-bottom: 80px;
}

.b-renaissance-padding-top-text {
    width: 50%;
}

.b-picture--genesis img {
    height: 100%;
}

.wrapper {
    order: 14;
    width: 50%;
    height: auto;
    margin-bottom: 0;
}

.b-picture--modern {
    width: 100%;
}