.b-price {
    width: 100%;
    padding-top: 70px;
    // ПАДИНГ ПОТОМ НУЖНО УДАЛИТЬ
    &__mixin {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
    }
    &__mixin-wrap {
        display: inline-block;
        width: 48%;
        vertical-align: top;
        padding-left: 25px;
        padding-top: 47px;
    }
    &__21collection {
        padding-left: 25px;
    }
    & .b-button-collection__navigation {
        margin-bottom: 50px;
    }
    &__21collection {
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 35px;
        letter-spacing: 5px;
        color: @grey3C;
    }
    &__margin {
        margin-bottom: 53px;
    }
    &__post {
        display: inline-block;
        padding: 39px 55px 60px 62px;
        font-size: 14px;
        line-height: 25px;
        color: @grey3C;
        background-color: @whiteFF;
    }
    &__wrap-option  {
        padding: 44px 71px 38px 25px;
    }
    &__wrap-option__number,&__modern__number {
        font-weight: 400;
        font-size: 100px;
        line-height: 128px;
    }
    &__wrap-option__post,&__modern__post {
        font-family: @second-font;
        font-weight: 400;
        font-size: 30px;
        line-height: 33px;
    }
    &__modern {
        padding: 75px 71px 35px 25px;
        font-size: 30px;
        font-weight: 400;
        line-height: 33px;
        color: @grey3C;
    }
    &__modern__number,&__modern__post {
        position: absolute;
    }
    &__modern-number {
        top: 38%;
        left: 15%;
    }
    &__modern-post {
        top: 65%;
        left: 15%;
        width: 251px;
    }
    &__wrapper-doors-modern {
        width: 100%;
        position: relative;
        margin-bottom: 43px;
    }
    &__wrap-warranty {
        position: absolute;
        top: 35%;
        left: 10%;
    }
    &__modern-number {
        font-family: @second-font;
        font-weight: 400;
        font-size: 100px;
        list-style: 128px;
    }
    &__modern-post {
        font-family: @second-font;
        font-weight: 400;
        font-size: 30px;
        list-style: 33px;
    }
    &__wrap-still-link {
        display: block;
        color: @green47;
        text-decoration: none;
        transition: opacity 0.3s ease-in-out;
        & img {
            margin-left: 28px;
        }
        &:hover {
            opacity: 0.7;
        }
    }
    &__wrap-still-8 {
        font-size: 24px;
        line-height: 28px;
        color: @grey3C;
        display: inline-block;
        margin-bottom: 12px;
    }
    &__wrap-still-14 {
        font-size: 16px;
        line-height: 18px;
        color: @grey99;
    }
    &__sonata-padding-card {
        padding-top: 47px;
        display: block;
    }
    &__renaissance-padding-text {
        padding-top: 44px;
    }
    &___renaissance-no-white {
        background-color: @whiteF7;
        padding-bottom: 47px;
    }
    &__wrap-still {
        padding: 46px 0 86px 25px;
    }
    &__sonata-padding-text {
        padding-top: 43px;
    }
    &__sonata-margin {
        margin-bottom: 50px;
    }
    &__renaissance-not-pad-text {
        padding-top: 0;
    }
    &__padd-renaissance {
        padding-top: 44px;
    }
    &__padd-sonata {
        padding-bottom: 46px;
    }
    &__pad-none-sonata  {
        padding-bottom: 0;
    }
    &__renaissance-collection {
        position: relative;
    }
    &__information {
        display: none;
    }
}

.b-picture {
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &--renaissance-collection {
        height: 450px;
        width: 100%;
    }
}

.b-card-icon--palitra {
    margin: 0;
    transition: transform 0.4s ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
}

@media (max-width: 767px) {
    .b-mixin-price--genesis {
        display: none;
    }
}