.b-price {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    &__21collection {
        width: 100%;
        order: -1;
    }
    & .b-button-collection__navigation {
        width: 100%;
        padding-left: 25px;
        order: 0;
    }
    & .b-button-collection__filter {
        margin-right: 76px;
    }
    &__wrap {
        width: 100%;
        &__wrap--one {
            order: 1;
            &--post {
                order: 2;
            }
        }
    }
    &__wrap--second {
        order: 3;
    }
    &__post {
        padding: 0;
        color: @black00;
    }
}

.b_background_color_renaissance_no_white {
    padding-top: 80px;
    width: 100%;
}

.b-r-third-order {
    order: 3;
    width: 100%;
}

.b-picture--renaissance-collection {
    order: 5;
    margin-bottom: 80px;
}

.b-sonata-six-order {
    order: 6;
    width: 100%;
}

.b-price__wrap-option {
    order: 7;
}

.b-ten-order-r {
    order: 10;
    width: 100%;
    background-color: @whiteFF;
}

.b-price__modern {
    order: 12;
    padding: 89px 422px 71px 67px;
}

.b-picture--modern {
    order: 13;
    height: 100%;
}

.b-price__modern-number {
    font-size: 150px;
}

.b-price__modern-post {
    font-size: 30px;
    width: 60%;
}

.b-price__wrapper-doors {
    order: 14;
    width: 100%;
    padding-bottom: 0;
}

.b-sonata-none {
    display: none;
}

.b-price__wrap--post {
    padding: 100px 240px 50px 0;
    font-size: 16px;
    order: 3;
}

.b-price__wrapper-doors-modern {
    order: 13;
    margin-bottom: 0;
}

.b-padding_card_g {
    order: 4;
    margin-bottom: 80px;
    width: 100%;
}

.b-card-icon {
    display: none;
}

.b-padding_text_g {
    padding-top: 80px;
    padding-left: 38px;
}

.b-padding_card_g_twelve_order {
    order: 11;
    width: 100%;
    padding-top: 80px;
}

.b-padding_card_g_last_order {
    order: 15;
    width: 100%;
}

.b-eleventh-order-r {
    order: 12;
    padding-top: 0;
}

.b_tablet_none {
    display: none;
}

.b-price__wrap-warranty {
    top: 35%;
}

.b-price__wrap-still {
    order: 18;
    padding: 56px 0 0 0;
}