include ../../elements/b-button-collection/b-button-collection.pug
include b-mixin-catalog/b-sonata.pug
include b-mixin-catalog/b-renaissance.pug
include b-mixin-catalog/b-genesis.pug
mixin b-price
    section.b-price.b-container.b-container--no-padd-mobile.b-container--no-padd-desktop
        .b-price__21collection 21&nbsp;КОЛЛЕКЦИЯ
        +b-button-collection()
        +sonata({
        margin_padding_sonata: 'b-price__sonata-padding-card'
        })
        +renaissance({
        padding_renaissance_text: 'b-price__renaissance-padding-text',
        background_color_renaissance_no_white: 'b-price___renaissance-no-white'
        })
        +sonata({
        margin_padding_sonata: 'b-price__sonata-padding-card b-price__sonata-none'
        })
        +renaissance({
        padding_renaissance_text: 'b-price__renaissance-padding-text',
        background_color_renaissance_no_white: 'b-price___renaissance-no-white b-price__order-renaissance'
        })
        .b-price__wrap-post
            span.b-price__post В&nbsp;компании ESTET вы&nbsp;можете купить качественные межкомнатные двери. Богатый выбор является гарантией того, что вы&nbsp;обязательно найдете модель, оптимально соответствующую вашим потребностям, пожеланиям и&nbsp;финансовым возможностям.
        +sonata({
            padding_top_text: 'b-price__sonata-padding-text',
            margin_padding_sonata: "b-price__sonata-margin b-price__sonata-none"
        })
        picture.b-picture.b-picture--renaissance-collection
            source(type="image/webp" srcset="img/content/mobile/9-price/3/7-1x.webp 1x, img/content/mobile/9-price/3/7-2x.webp 2x" media="(max-width: 767px)")
            source(type="image/jpg" srcset="img/content/mobile/9-price/3/7-1x.jpg 1x, img/content/mobile/9-price/3/7-2x.jpg 2x" media="(max-width: 767px)")
            source(type="image/webp" srcset="img/content/tablet/9-price/3/1-1x.webp 1x, img/content/tablet/9-price/3/1-2x.webp 2x" media="(max-width: 1023px)")
            source(type="image/jpg" srcset="img/content/tablet/9-price/3/1-1x.jpg 1x, img/content/tablet/9-price/3/1-2x.jpg 2x" media="(max-width: 1023px)")
            source(type="image/webp" srcset="img/content/desktop/9-price/3/1-1x.webp 1x, img/content/tablet/9-price/3/1-2x.webp 2x")
            source(type="image/jpg" srcset="img/content/desktop/9-price/3/1-1x.jpg 1x, img/content/tablet/9-price/3/1-2x.jpg 2x")
            img(src="img/content/desktop/9-price/3/1-1x.jpg" width="370" height="450" alt="Колекция Ренесанс")
            .b-title.b-title--renaissance-collection RENAISSANCE COLLECTION
        +renaissance({
            padding_renaissance_text: 'b-price__renaissance-not-pad-text',
            background_color_renaissance_no_white: 'b-price___renaissance-no-white b-price__padd-renaissance b-price__renaissance-ord'
            })
        +genesis({
            padding_text_g: 'b-price__pad_text_genesis',
            padding_card_g: 'b-price__pad_card_genesis'
        })
        .b-price__wrap-option
            .b-price__wrap-option__number 25
            .b-price__wrap-option__post коллекций и&nbsp;более 300 опций
        +sonata({
        margin_padding_sonata: 'b-price__sonata-padding-card',
        margin_padding_sonata: 'b-price__sonata-order'
        })
        .b-price__wrapper-doors
            +renaissance({
                background_color_renaissance_no_white: 'b-price___renaissance-no-white b-price___ren-order b-price___renaissance-pad-top'
            })
            +genesis({
            padding_text_g: 'b-price__pad_text_genesis',
            padding_card_g: 'b-price__pad-card-gen-ord b-price__gen-tabl-none'
            })
        +genesis({
            padding_text_g: 'b-price__renaissance-not-pad-text',
            padding_card_g: 'b-price__pad-card-genesis-ord'
        })
        +sonata({
        margin_padding_sonata: 'b-price__sonata-padding-card b-price__sonata-none'
        })
        .b-price__modern Современные материалы и&nbsp;инновационные покрытия
        .b-price__wrapper-doors-modern
            picture.b-picture.b-picture--modern
                source(type="image/webp" srcset="img/content/mobile/9-price/4/12-1x.webp 1x, img/content/mobile/9-price/4/12-2x.webp 2x" media="(max-width: 767px)")
                source(type="image/jpg" srcset="img/content/mobile/9-price/4/12-1x.jpg 1x, img/content/mobile/9-price/4/12-2x.jpg 2x" media="(max-width: 767px)")
                source(type="image/webp" srcset="img/content/tablet/9-price/4/1-1x.webp 1x, img/content/tablet/9-price/4/1-2x.webp 2x" media="(max-width: 1023px)")
                source(type="image/jpg" srcset="img/content/tablet/9-price/4/1-1x.jpg 1x, img/content/tablet/9-price/4/1-2x.jpg 2x" media="(max-width: 1023px)")
                source(type="image/webp" srcset="img/content/desktop/9-price/4/1-1x.webp 1x, img/content/desktop/9-price/4/1-2x.webp 2x")
                source(type="image/jpg" srcset="img/content/desktop/9-price/4/1-1x.jpg 1x, img/content/desktop/9-price/4/1-2x.jpg 2x")
                img(src="img/content/desktop/9-price/4/1-1x.jpg" width="375" height="531" alt="Современные материалы")
            .b-price__wrap-warranty
                .b-price__modern-number 5
                .b-price__modern-post лет гарантии на&nbsp;любую продукцию ESTET
        +renaissance({
            padding_renaissance_text: 'b-price__renaissance-not-pad-text',
            background_color_renaissance_no_white: 'b-price__ren-order b-price__margin-hover',
            margin_price_ren: 'b-price__marg-pr-ren'
        })
        +sonata({
            padding_top_text: 'b-price__sonata-padding-text b-price__pad-none-sonata ',
            margin_padding_sonata: 'b-price___renaissance-no-white b-price__padd-sonata b-price__sonata-none'
        })
        +genesis({
            padding_text_g: 'b-price__pad_text_genesis',
            padding_card_g: 'b-price__pad-card-gen-ord'
        })
        .b-price__wrap-still
            span.b-price__wrap-still-8 8
            span.b-price__wrap-still-14 /14
            a(href="javascript:void(0);" title="Показать ещё").b-price__wrap-still-link ПОКАЗАТЬ ЕЩЕ
                img(src="img/icons/down-green.svg" width="7" height="18" alt="Показать ещё")