include ../b-doors-nav/b-doors-nav.pug
include ../b-price-item/b-price-item.pug
include ../../blocks/b-picture/b-picture.pug
mixin b-price
    section.b-price.b-container.b-container--no-padd-mobile.b-container--no-padd-desktop
        .b-price__21collection 21&nbsp;КОЛЛЕКЦИЯ
        +b-doors-nav()
        +b-price-item({
            b_price_item: 'b-price-item--sonata b-price-item--padding-top',
            imgWebpMediaMax767X1: 'img/content/mobile/9-price/1/2-1x.webp',
            imgWebpMediaMax767X2: 'img/content/mobile/9-price/1/2-2x.webp',
            imgJpgMediaMax767X1: 'img/content/mobile/9-price/1/2-1x.jpg',
            imgJpgMediaMax767X2: 'img/content/mobile/9-price/1/2-2x.jpg',
            imgWebpMediaMax1023X1: 'img/content/tablet/9-price/1/1-1x.webp',
            imgWebpMediaMax1023X2: 'img/content/tablet/9-price/1/1-2x.webp',
            imgJpgMediaMax1023X1: 'img/content/tablet/9-price/1/1-1x.jpg',
            imgJpgMediaMax1023X2: 'img/content/tablet/9-price/1/1-2x.jpg',
            imgWebpMediaMaxDeskX1: 'img/content/desktop/9-price/1/1-1x.webp',
            imgWebpMediaMaxDeskX2: 'img/content/desktop/9-price/1/1-2x.webp',
            imgjpgMediaMaxDeskX1: 'img/content/desktop/9-price/1/1-1x.jpg',
            imgjpgMediaMaxDeskX2: 'img/content/desktop/9-price/1/1-2x.jpg',
            alt: "SONATA",
            title: 'SONATA',
            price: 'от 7500 Р'
        })
        +b-price-item({
            b_price_item: 'b-price-item--renaissance b-price-item--renaissance-order4 b-price-item--padd-bot-47',
            imgWebpMediaMax767X1: 'img/content/mobile/9-price/2/3-1x.webp',
            imgWebpMediaMax767X2: 'img/content/mobile/9-price/2/3-2x.webp',
            imgJpgMediaMax767X1: 'img/content/mobile/9-price/2/3-1x.jpg',
            imgJpgMediaMax767X2: 'img/content/mobile/9-price/2/3-2x.jpg',
            imgWebpMediaMax1023X1: 'img/content/tablet/9-price/1/1-1x.webp',
            imgWebpMediaMax1023X2: 'img/content/tablet/9-price/1/1-2x.webp',
            imgJpgMediaMax1023X1: 'img/content/tablet/9-price/1/1-1x.jpg',
            imgJpgMediaMax1023X2: 'img/content/tablet/9-price/1/1-2x.jpg',
            imgWebpMediaMaxDeskX1: 'img/content/desktop/9-price/2/1-1x.webp',
            imgWebpMediaMaxDeskX2: 'img/content/desktop/9-price/2/1-2x.webp',
            imgjpgMediaMaxDeskX1: 'img/content/desktop/9-price/2/1-1x.jpg',
            imgjpgMediaMaxDeskX2: 'img/content/desktop/9-price/2/1-2x.jpg',
            alt: "RENAISSANCE",
            b_price_item_info: 'b-price-item--info-padding',
            title: 'RENAISSANCE',
            price: 'от 7500 Р'
        })
        +b-price-item({
            b_price_item: 'b-price-item--sonata b-price-item--sonata-none b-price-item--pad-top-47-80 b-price-item--sonata-pad',
            imgWebpMediaMax767X1: 'img/content/mobile/9-price/1/2-1x.webp',
            imgWebpMediaMax767X2: 'img/content/mobile/9-price/1/2-2x.webp',
            imgJpgMediaMax767X1: 'img/content/mobile/9-price/1/2-1x.jpg',
            imgJpgMediaMax767X2: 'img/content/mobile/9-price/1/2-2x.jpg',
            imgWebpMediaMax1023X1: 'img/content/tablet/9-price/1/1-1x.webp',
            imgWebpMediaMax1023X2: 'img/content/tablet/9-price/1/1-2x.webp',
            imgJpgMediaMax1023X1: 'img/content/tablet/9-price/1/1-1x.jpg',
            imgJpgMediaMax1023X2: 'img/content/tablet/9-price/1/1-2x.jpg',
            imgWebpMediaMaxDeskX1: 'img/content/desktop/9-price/1/1-1x.webp',
            imgWebpMediaMaxDeskX2: 'img/content/desktop/9-price/1/1-2x.webp',
            imgjpgMediaMaxDeskX1: 'img/content/desktop/9-price/1/1-1x.jpg',
            imgjpgMediaMaxDeskX2: 'img/content/desktop/9-price/1/1-2x.jpg',
            alt: "SONATA",
            title: 'SONATA',
            price: 'от 7500 Р'
        })
        +b-price-item({
            b_price_item: 'b-price-item--renaissance b-price-item--renaissance-ord b-price-item--padd-bot-47',
            imgWebpMediaMax767X1: 'img/content/mobile/9-price/2/3-1x.webp',
            imgWebpMediaMax767X2: 'img/content/mobile/9-price/2/3-2x.webp',
            imgJpgMediaMax767X1: 'img/content/mobile/9-price/2/3-1x.jpg',
            imgJpgMediaMax767X2: 'img/content/mobile/9-price/2/3-2x.jpg',
            imgWebpMediaMax1023X1: 'img/content/tablet/9-price/1/1-1x.webp',
            imgWebpMediaMax1023X2: 'img/content/tablet/9-price/1/1-2x.webp',
            imgJpgMediaMax1023X1: 'img/content/tablet/9-price/1/1-1x.jpg',
            imgJpgMediaMax1023X2: 'img/content/tablet/9-price/1/1-2x.jpg',
            imgWebpMediaMaxDeskX1: 'img/content/desktop/9-price/2/1-1x.webp',
            imgWebpMediaMaxDeskX2: 'img/content/desktop/9-price/2/1-2x.webp',
            imgjpgMediaMaxDeskX1: 'img/content/desktop/9-price/2/1-1x.jpg',
            imgjpgMediaMaxDeskX2: 'img/content/desktop/9-price/2/1-2x.jpg',
            alt: "RENAISSANCE",
            b_price_item_info: 'b-price-item--info-padding',
            title: 'RENAISSANCE',
            price: 'от 7500 Р'
        })
        .b-price__wrap-post
            span.b-price__post В&nbsp;компании ESTET вы&nbsp;можете купить качественные межкомнатные двери. Богатый выбор является гарантией того, что вы&nbsp;обязательно найдете модель, оптимально соответствующую вашим потребностям, пожеланиям и&nbsp;финансовым возможностям.
        +b-price-item({
            b_price_item: 'b-price-item--sonata b-price-item--sonata-none b-price-item--sonata-margin',
            imgWebpMediaMax767X1: 'img/content/mobile/9-price/1/2-1x.webp',
            imgWebpMediaMax767X2: 'img/content/mobile/9-price/1/2-2x.webp',
            imgJpgMediaMax767X1: 'img/content/mobile/9-price/1/2-1x.jpg',
            imgJpgMediaMax767X2: 'img/content/mobile/9-price/1/2-2x.jpg',
            imgWebpMediaMax1023X1: 'img/content/tablet/9-price/1/1-1x.webp',
            imgWebpMediaMax1023X2: 'img/content/tablet/9-price/1/1-2x.webp',
            imgJpgMediaMax1023X1: 'img/content/tablet/9-price/1/1-1x.jpg',
            imgJpgMediaMax1023X2: 'img/content/tablet/9-price/1/1-2x.jpg',
            imgWebpMediaMaxDeskX1: 'img/content/desktop/9-price/1/1-1x.webp',
            imgWebpMediaMaxDeskX2: 'img/content/desktop/9-price/1/1-2x.webp',
            imgjpgMediaMaxDeskX1: 'img/content/desktop/9-price/1/1-1x.jpg',
            imgjpgMediaMaxDeskX2: 'img/content/desktop/9-price/1/1-2x.jpg',
            alt: "SONATA",
            b_price_item_info: 'b-price-item--info-padding',
            title: 'SONATA',
            price: 'от 7500 Р'
        })
        .b-price__wrap-doors
            +b-picture([
                    {
                        pictureClass: "b-picture--renaissance-collection",
                        imgWebpMediaMax767X1: 'img/content/mobile/9-price/3/7-1x.webp',
                        imgWebpMediaMax767X2: 'img/content/mobile/9-price/3/7-2x.webp',
                        imgJpgMediaMax767X1: 'img/content/mobile/9-price/3/7-1x.jpg',
                        imgJpgMediaMax767X2: 'img/content/mobile/9-price/3/7-2x.jpg',
                        imgWebpMediaMax1023X1: 'img/content/tablet/9-price/3/1-1x.webp',
                        imgWebpMediaMax1023X2: 'img/content/tablet/9-price/3/1-2x.webp',
                        imgJpgMediaMax1023X1: 'img/content/tablet/9-price/3/1-1x.jpg',
                        imgJpgMediaMax1023X2: 'img/content/tablet/9-price/3/1-2x.jpg',
                        imgWebpMediaMaxDeskX1: 'img/content/tablet/9-price/3/1-1x.webp',
                        imgWebpMediaMaxDeskX2: 'img/content/tablet/9-price/3/1-2x.webp',
                        imgjpgMediaMaxDeskX1: 'img/content/tablet/9-price/3/1-1x.jpg',
                        imgjpgMediaMaxDeskX2: 'img/content/tablet/9-price/3/1-2x.jpg',
                        imgClass: "b-picture__img--renaissance-collection",
                        alt: "Коллекция Ренесанс",
                    }
                ])
            .b-title.b-title--renaissance-collection RENAISSANCE COLLECTION
        +b-price-item({
            b_price_item: 'b-price-item--renaissance b-price-item--renaissance-ord2',
            imgWebpMediaMax767X1: 'img/content/mobile/9-price/2/3-1x.webp',
            imgWebpMediaMax767X2: 'img/content/mobile/9-price/2/3-2x.webp',
            imgJpgMediaMax767X1: 'img/content/mobile/9-price/2/3-1x.jpg',
            imgJpgMediaMax767X2: 'img/content/mobile/9-price/2/3-2x.jpg',
            imgWebpMediaMax1023X1: 'img/content/tablet/9-price/1/1-1x.webp',
            imgWebpMediaMax1023X2: 'img/content/tablet/9-price/1/1-2x.webp',
            imgJpgMediaMax1023X1: 'img/content/tablet/9-price/1/1-1x.jpg',
            imgJpgMediaMax1023X2: 'img/content/tablet/9-price/1/1-2x.jpg',
            imgWebpMediaMaxDeskX1: 'img/content/desktop/9-price/2/1-1x.webp',
            imgWebpMediaMaxDeskX2: 'img/content/desktop/9-price/2/1-2x.webp',
            imgjpgMediaMaxDeskX1: 'img/content/desktop/9-price/2/1-1x.jpg',
            imgjpgMediaMaxDeskX2: 'img/content/desktop/9-price/2/1-2x.jpg',
            alt: "RENAISSANCE",
            title: 'RENAISSANCE',
            price: 'от 7500 Р',
            b_price_item_price: 'b-price-item__price--margin'
        })
        +b-price-item({
            b_price_item: 'b-price-item--genesis b-price-item--genesis-ord',
            imgWebpMediaMax1023X1: 'img/content/tablet/9-price/5/1-1x.webp',
            imgWebpMediaMax1023X2: 'img/content/tablet/9-price/5/2-2x.webp',
            imgJpgMediaMax1023X1: 'img/content/tablet/9-price/5/1-1x.jpg',
            imgJpgMediaMax1023X2: 'img/content/tablet/9-price/5/2-2x.jpg',
            imgWebpMediaMaxDeskX1: 'img/content/tablet/9-price/5/1-1x.webp',
            imgWebpMediaMaxDeskX2: 'img/content/tablet/9-price/5/2-2x.webp',
            imgjpgMediaMaxDeskX1: 'img/content/tablet/9-price/5/1-1x.jpg',
            imgjpgMediaMaxDeskX2: 'img/content/tablet/9-price/5/2-2x.jpg',
            alt: "GENESIS",
            b_price_item_info: 'b-price-item--info-padding',
            title: 'GENESIS',
            price: 'от 14 500 Р'
        })
        .b-price__wrap-option
            .b-price__wrap-option__number 25
            .b-price__wrap-option__post коллекций и&nbsp;более 300 опций
        +b-price-item({
            b_price_item: 'b-price-item--sonata b-price-item--sonata-ord b-price-item--sonata-pad b-price-item--pad-top-47-80',
            imgWebpMediaMax767X1: 'img/content/mobile/9-price/1/2-1x.webp',
            imgWebpMediaMax767X2: 'img/content/mobile/9-price/1/2-2x.webp',
            imgJpgMediaMax767X1: 'img/content/mobile/9-price/1/2-1x.jpg',
            imgJpgMediaMax767X2: 'img/content/mobile/9-price/1/2-2x.jpg',
            imgWebpMediaMax1023X1: 'img/content/tablet/9-price/1/1-1x.webp',
            imgWebpMediaMax1023X2: 'img/content/tablet/9-price/1/1-2x.webp',
            imgJpgMediaMax1023X1: 'img/content/tablet/9-price/1/1-1x.jpg',
            imgJpgMediaMax1023X2: 'img/content/tablet/9-price/1/1-2x.jpg',
            imgWebpMediaMaxDeskX1: 'img/content/desktop/9-price/1/1-1x.webp',
            imgWebpMediaMaxDeskX2: 'img/content/desktop/9-price/1/1-2x.webp',
            imgjpgMediaMaxDeskX1: 'img/content/desktop/9-price/1/1-1x.jpg',
            imgjpgMediaMaxDeskX2: 'img/content/desktop/9-price/1/1-2x.jpg',
            alt: "SONATA",
            title: 'SONATA',
            price: 'от 7500 Р'
        })
        .b-price__wrapper-doors
            +b-price-item({
            b_price_item: 'b-price-item--renaissance b-price-item--pad-top-desk b-price-item--renaissance-ord3 b-price-item--pad-0 b-price-item--sonata-pad b-price-item--padd-bot-47',
            imgWebpMediaMax767X1: 'img/content/mobile/9-price/2/3-1x.webp',
            imgWebpMediaMax767X2: 'img/content/mobile/9-price/2/3-2x.webp',
            imgJpgMediaMax767X1: 'img/content/mobile/9-price/2/3-1x.jpg',
            imgJpgMediaMax767X2: 'img/content/mobile/9-price/2/3-2x.jpg',
            imgWebpMediaMax1023X1: 'img/content/tablet/9-price/1/1-1x.webp',
            imgWebpMediaMax1023X2: 'img/content/tablet/9-price/1/1-2x.webp',
            imgJpgMediaMax1023X1: 'img/content/tablet/9-price/1/1-1x.jpg',
            imgJpgMediaMax1023X2: 'img/content/tablet/9-price/1/1-2x.jpg',
            imgWebpMediaMaxDeskX1: 'img/content/desktop/9-price/2/1-1x.webp',
            imgWebpMediaMaxDeskX2: 'img/content/desktop/9-price/2/1-2x.webp',
            imgjpgMediaMaxDeskX1: 'img/content/desktop/9-price/2/1-1x.jpg',
            imgjpgMediaMaxDeskX2: 'img/content/desktop/9-price/2/1-2x.jpg',
            alt: "RENAISSANCE",
            b_price_item_info: 'b-price-item--info-padding',
            title: 'RENAISSANCE',
            price: 'от 7500 Р',
            b_price_item_price: 'b-price-item__price--margin'
        })
            +b-price-item({
            b_price_item: 'b-price-item--genesis b-price-item--genesis-ord1 b-price-item--pad-bot b-price-item--tabl-none',
            imgWebpMediaMax1023X1: 'img/content/tablet/9-price/5/1-1x.webp',
            imgWebpMediaMax1023X2: 'img/content/tablet/9-price/5/2-2x.webp',
            imgJpgMediaMax1023X1: 'img/content/tablet/9-price/5/1-1x.jpg',
            imgJpgMediaMax1023X2: 'img/content/tablet/9-price/5/2-2x.jpg',
            imgWebpMediaMaxDeskX1: 'img/content/tablet/9-price/5/1-1x.webp',
            imgWebpMediaMaxDeskX2: 'img/content/tablet/9-price/5/2-2x.webp',
            imgjpgMediaMaxDeskX1: 'img/content/tablet/9-price/5/1-1x.jpg',
            imgjpgMediaMaxDeskX2: 'img/content/tablet/9-price/5/2-2x.jpg',
            alt: "GENESIS",
            b_price_item_info: 'b-price-item--info-padding',
            title: 'GENESIS',
            price: 'от 14 500 Р'
        })
        +b-price-item({
            b_price_item: 'b-price-item--genesis b-price-item--genesis-ord2',
            imgWebpMediaMax1023X1: 'img/content/tablet/9-price/5/1-1x.webp',
            imgWebpMediaMax1023X2: 'img/content/tablet/9-price/5/2-2x.webp',
            imgJpgMediaMax1023X1: 'img/content/tablet/9-price/5/1-1x.jpg',
            imgJpgMediaMax1023X2: 'img/content/tablet/9-price/5/2-2x.jpg',
            imgWebpMediaMaxDeskX1: 'img/content/tablet/9-price/5/1-1x.webp',
            imgWebpMediaMaxDeskX2: 'img/content/tablet/9-price/5/2-2x.webp',
            imgjpgMediaMaxDeskX1: 'img/content/tablet/9-price/5/1-1x.jpg',
            imgjpgMediaMaxDeskX2: 'img/content/tablet/9-price/5/2-2x.jpg',
            alt: "GENESIS",
            b_price_item_info: 'b-price-item--info-padding',
            title: 'GENESIS',
            price: 'от 14 500 Р',
            b_price_item_price: 'b-price-item__price--margin'
        })
        +b-price-item({
            b_price_item: 'b-price-item--sonata b-price-item--sonata-ord1 b-price-item--pad-top-47-80 b-price-item--tabl-none b-price-item--desk-none b-price-item--padd-bot-47',
            imgWebpMediaMax767X1: 'img/content/mobile/9-price/1/2-1x.webp',
            imgWebpMediaMax767X2: 'img/content/mobile/9-price/1/2-2x.webp',
            imgJpgMediaMax767X1: 'img/content/mobile/9-price/1/2-1x.jpg',
            imgJpgMediaMax767X2: 'img/content/mobile/9-price/1/2-2x.jpg',
            imgWebpMediaMax1023X1: 'img/content/tablet/9-price/1/1-1x.webp',
            imgWebpMediaMax1023X2: 'img/content/tablet/9-price/1/1-2x.webp',
            imgJpgMediaMax1023X1: 'img/content/tablet/9-price/1/1-1x.jpg',
            imgJpgMediaMax1023X2: 'img/content/tablet/9-price/1/1-2x.jpg',
            imgWebpMediaMaxDeskX1: 'img/content/desktop/9-price/1/1-1x.webp',
            imgWebpMediaMaxDeskX2: 'img/content/desktop/9-price/1/1-2x.webp',
            imgjpgMediaMaxDeskX1: 'img/content/desktop/9-price/1/1-1x.jpg',
            imgjpgMediaMaxDeskX2: 'img/content/desktop/9-price/1/1-2x.jpg',
            alt: "SONATA",
            title: 'SONATA',
            price: 'от 7500 Р'
        })
        .b-price__modern Современные материалы и&nbsp;инновационные покрытия
        .b-price__wrapper-doors-modern
            +b-picture([
                    {
                        pictureClass: "b-picture--modern",
                        imgWebpMediaMax767X1: 'img/content/mobile/9-price/4/12-1x.webp',
                        imgWebpMediaMax767X2: 'img/content/mobile/9-price/4/12-2x.webp',
                        imgJpgMediaMax767X1: 'img/content/mobile/9-price/4/12-1x.jpg',
                        imgJpgMediaMax767X2: 'img/content/mobile/9-price/4/12-2x.jpg',
                        imgWebpMediaMax1023X1: 'img/content/tablet/9-price/4/1-1x.webp',
                        imgWebpMediaMax1023X2: 'img/content/tablet/9-price/4/1-2x.webp',
                        imgJpgMediaMax1023X1: 'img/content/tablet/9-price/4/1-1x.jpg',
                        imgJpgMediaMax1023X2: 'img/content/tablet/9-price/4/1-2x.jpg',
                        imgWebpMediaMaxDeskX1: 'img/content/desktop/9-price/4/1-1x.webp',
                        imgWebpMediaMaxDeskX2: 'img/content/desktop/9-price/4/1-2x.webp',
                        imgjpgMediaMaxDeskX1: 'img/content/desktop/9-price/4/1-1x.jpg',
                        imgjpgMediaMaxDeskX2: 'img/content/desktop/9-price/4/1-2x.jpg',
                        imgClass: "b-picture__img--modern",
                        alt: "5 лет гарантии",
                    }
            ])
            .b-price__wrap-warranty
                .b-price__modern-number 5
                .b-price__modern-post лет гарантии на&nbsp;любую продукцию ESTET
        +b-price-item({
            b_price_item: 'b-price-item--renaissance b-price-item--renaissance-ord4 b-price-item--padding-top',
            imgWebpMediaMax767X1: 'img/content/mobile/9-price/2/3-1x.webp',
            imgWebpMediaMax767X2: 'img/content/mobile/9-price/2/3-2x.webp',
            imgJpgMediaMax767X1: 'img/content/mobile/9-price/2/3-1x.jpg',
            imgJpgMediaMax767X2: 'img/content/mobile/9-price/2/3-2x.jpg',
            imgWebpMediaMax1023X1: 'img/content/tablet/9-price/1/1-1x.webp',
            imgWebpMediaMax1023X2: 'img/content/tablet/9-price/1/1-2x.webp',
            imgJpgMediaMax1023X1: 'img/content/tablet/9-price/1/1-1x.jpg',
            imgJpgMediaMax1023X2: 'img/content/tablet/9-price/1/1-2x.jpg',
            imgWebpMediaMaxDeskX1: 'img/content/desktop/9-price/2/1-1x.webp',
            imgWebpMediaMaxDeskX2: 'img/content/desktop/9-price/2/1-2x.webp',
            imgjpgMediaMaxDeskX1: 'img/content/desktop/9-price/2/1-1x.jpg',
            imgjpgMediaMaxDeskX2: 'img/content/desktop/9-price/2/1-2x.jpg',
            alt: "RENAISSANCE",
            title: 'RENAISSANCE',
            price: 'от 7500 Р',
            b_price_item_price: 'b-price-item__price--margin'
        })
        +b-price-item({
            b_price_item: 'b-price-item--sonata b-price-item--sonata-pad b-price-item--desk-none b-price-item--tabl-none b-price-item--padding-top',
            imgWebpPrice767X1: 'img/content/mobile/9-price/1/2-1x.webp',
            imgWebpMediaMax767X2: 'img/content/mobile/9-price/1/2-2x.webp',
            imgWebpPrice767X1: 'img/content/mobile/9-price/1/2-1x.jpg',
            imgJpgPrice767X2: 'img/content/mobile/9-price/1/2-2x.jpg',
            imgWebpPrice1023X1: 'img/content/tablet/9-price/1/1-1x.webp',
            imgWebpPrice1023X2: 'img/content/tablet/9-price/1/1-2x.webp',
            imgJpgPrice1023X1: 'img/content/tablet/9-price/1/1-1x.jpg',
            imgJpgPrice1023X2: 'img/content/tablet/9-price/1/1-2x.jpg',
            imgWebpPriceDeskX1: 'img/content/desktop/9-price/1/1-1x.webp',
            imgWebpPriceDeskX2: 'img/content/desktop/9-price/1/1-2x.webp',
            imgjpgPriceDeskX1: 'img/content/desktop/9-price/1/1-1x.jpg',
            imgjpgPriceDeskX2: 'img/content/desktop/9-price/1/1-2x.jpg',
            alt: "SONATA",
            title: 'SONATA',
            price: 'от 7500 Р'
        })
        +b-price-item({
            b_price_item: 'b-price-item--genesis b-price-item--genesis-ord3 b-price-item--pad-bot',
            imgWebpMediaMax1023X1: 'img/content/tablet/9-price/5/1-1x.webp',
            imgWebpMediaMax1023X2: 'img/content/tablet/9-price/5/2-2x.webp',
            imgJpgMediaMax1023X1: 'img/content/tablet/9-price/5/1-1x.jpg',
            imgJpgMediaMax1023X2: 'img/content/tablet/9-price/5/2-2x.jpg',
            imgWebpMediaMaxDeskX1: 'img/content/tablet/9-price/5/1-1x.webp',
            imgWebpMediaMaxDeskX2: 'img/content/tablet/9-price/5/2-2x.webp',
            imgjpgMediaMaxDeskX1: 'img/content/tablet/9-price/5/1-1x.jpg',
            imgjpgMediaMaxDeskX2: 'img/content/tablet/9-price/5/2-2x.jpg',
            alt: "GENESIS",
            b_price_item_info: 'b-price-item--info-padding',
            title: 'GENESIS',
            price: 'от 14 500 Р'
        })
        .b-price__wrap-still
            span.b-price__wrap-still-8 8
            span.b-price__wrap-still-14 /14
            a(href="").b-price__wrap-still-link ПОКАЗАТЬ ЕЩЕ
                img(src="img/icons/down-green.svg" width="7" height="18" alt="Показать ещё")