.b-button-show-map {
    display: block;
    position: relative;
    padding: 22px 24px 18px 63px;

    width: 230px;

    font-family: 'Open Sans';
    font-size: 16px;
    text-decoration: none;
    color: @whiteFF;

    background-color: @green47;

    transition: background-color .1s linear;
}

.b-button-show-map:hover {
    background-color: lighten(@green47, 20%);
}

.b-button-show-map__img {
    position: absolute;
    top: 29%;
    left: 10%;
}