mixin b-button-show-map()
    .b-button-show-map
        a.b-button-show-map__link(href="javascript:void(0);", title="Показать на карте") Показать на карте
            img.b-button-show-map__img(src="../../img/icons/local.svg", width="22", height="28" alt="")
