@import url("../variables.less");
.b-title {
    &--intro {
        padding:0 0 0 172px;
        font-size: 150px;
        max-width: 1200px;
        margin-bottom: 5px;
        line-height: 192px;
        margin-right: 360px;
    }
    &--intro-second {
        padding: 286px 0 0 0;
        margin-bottom: 43px;
        margin-left: 59px;
        max-width: 204px;
        font-weight: 300;
        font-size: 48px;
        line-height: 47px;
        color: @whiteFF;
    }
    &--footer {
        font-size: 24px;
        line-height: 28px;
        margin-right: 0;
        margin-bottom: 177px;
    }
    &--doors {
        margin-bottom: 0;
        margin-left: 11px;
        font-size: 21px;
        line-height: 25px;
    }
    &--doors-header {
        display: none;
    }
    &--aside {
        position: relative;
        font-size: 18px;
        line-height: 48px;
        border-bottom: 1px solid @whiteEO;
        cursor: pointer;
        transition: background-color 0.2s, color 0.2s;
        margin: 0 -31px 0 -29px;
        padding: 0 31px 0 29px;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 10px;
            transform:rotate(45deg) translateY(-50%);
            width: 6px;
            height: 6px;
            border: 1px solid @green47;
            border-top: none;
            border-left: none;
        }
        &:hover {
            background-color: @green47;
            color: @whiteFF;
        }
        &.active&::after{
            transform:rotate(225deg) translateY(-50%);
        }
        &:hover&::after{
            border-color: @whiteFF;
        }
    }
    &--palitra{
        width: 147px;
        top:42px;
        right: 42px;
    }
    &--skorob{
       width:147px;
       left: calc(50% + 28px);
       top:21px;
    }
    &--reiki{
        right: 55%;
        left:auto;
        margin-top: 45%;
    }
    &--sliding {
        position: absolute;
        width: auto;
        right: 50px;
        bottom:45px;
        z-index: 1;
    }
    &--holz{
        top:21px;
        left: calc(50% + 28px);
    }
    &--verso{
        width: 268px;
        margin-top: 40%;
        left: 35px;
    }
    &--corso{
        position: absolute;
        width: auto;
        bottom:auto;
        left: auto;
        margin-right: 47%;
        padding-left: 40px;
    }
    &--janelle{
        position: absolute;
        margin-right: 53%;
        bottom:35px;
    }
    &--modern-main{
        width: 262px;
        font-size: 36px;
        line-height: 44px;
        font-weight: 600;
        color:@grey3C;
    }
    &--elegant{
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color:@green47;
        margin-bottom: 15px;
    }
    &--quality,
    .b-technology__caption {
        font-size: 24px;
        line-height: 28px;
        color: @whiteFF;
        display: block;
        margin-bottom: 15px;
    }
    &--company {
        padding-top: 0;
    }
    &--card-address {
        width: auto;
        letter-spacing: -1.1px;
        &--buy {
            letter-spacing: -1.1px;
        }
    }
    &--card-guarantee {
        margin-bottom: 32px;
        font-size: 60px;
    }
    &--card-service {
        margin-bottom: 30px;
        font-size: 60px;
    }
    &--card-video {
        max-width: 400px;
        padding-left: 1px;
        margin-bottom: 8px;
        letter-spacing: 1px;
        word-spacing: -2px;
    }
}

@media (max-width: 1080px) {
    .b-title--skorob{
        width:127px;
        left: calc(50% + 28px);
        top:21px;
     }
}

@media (max-width: 1180px) {
    .b-title--sliding{
        width:120px;
        right: 30px;
    }
}

@media (max-width: 1462px) {
    .b-title--card-video {
        padding-left: 82px;
        margin-bottom: 55px;

        font-size: 36px;
        line-height: 42px;
        letter-spacing: .7px;
    }
}
