@import url("../variables.less");
.b-title {
    &--intro {
        padding:0 0 0 172px;
        font-size: 150px;
        max-width: 1200px;
        margin-bottom: 5px;
        line-height: 192px;
        margin-right: 360px;
    }
    &--footer {
        font-size: 24px;
        line-height: 28px;
        margin-right: 0;
        margin-bottom: 177px;
    }
    &--doors {
        margin-bottom: 35px;
        margin-left: 11px;
        font-size: 21px;
        line-height: 25px;
    }
    &--doors-header {
        display: none;
    }
    &--aside {
        position: relative;
        font-size: 18px;
        line-height: 48px;
        border-bottom: 1px solid @whiteEO;
        cursor: pointer;
        transition: background-color 0.2s, color 0.2s;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 10px;
            transform:rotate(45deg) translateY(-50%);
            width: 6px;
            height: 6px;
            border: 1px solid @green47;
            border-top: none;
            border-left: none;
        }
        &:hover {
            background-color: @green47;
            color: @whiteFF;
        }
        &.active&::after{
            transform:rotate(225deg) translateY(-50%);
        }
        &:hover&::after{
            border-color: @whiteFF;
        }
    }
    &--palitra{
        width: 147px;
        margin-left: auto;
        margin-top: 43px;
        margin-right: 14px;
    }
    &--skorob{
       width:147px;
       left: 54%;
    }
    &--reiki{
        right: 55%;
        left:auto;
        margin-top: 47%;
        bottom:auto;
    }
    &--sliding {
        width: 177px;
        margin-left: auto;
        margin-right: 43px;
    }
    &--holz{
        position: absolute;
        width:105px;
        left:22px;
    }
    &--verso{
        width: 268px;
        margin-left:50px;
        margin-top: 40%;
    }
    &--corso{
        position: absolute;
        width: auto;
        bottom:auto;
        left: auto;
        margin-right: 43%;
        padding-left: 40px;
    }
    &--janelle{
        position: absolute;
        margin-right: 50%;
    }
    &--modern-main{
        width: 262px;
        font-size: 36px;
        line-height: 44px;
        font-weight: 600;
        color:@grey3C;
    }
    &--elegant{
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color:@green47;
        margin-bottom: 15px;
    }
    &--quality {
        font-size: 24px;
        line-height: 28px;
        color: @whiteFF;
        display: block;
        margin-bottom: 15px;
    }
    &--company {
        padding-top: 0;
    }

    &--card-address {
        letter-spacing: -1.1px;
        &--buy {
            letter-spacing: -1.1px;
        }
    }

    &--card-guarantee {
        margin-bottom: 32px;

        font-size: 60px;
    }

    &--card-service {
        margin-bottom: 30px;
        font-size: 60px;
    }

    &--card-video {
        padding-left: 1px;
        margin-bottom: 8px;
        letter-spacing: 1px;
        word-spacing: -2px;
    }
}
