@import url("../variables.less");
.b-title {
    &--intro {
        padding:0;
        font-size: 100px;
        margin-bottom: 68px;
        line-height: 128px;
        max-width: 1000px;
    }
    &--footer {
        margin-right: 60px;
        margin-bottom: 55px;
    }
    &--footer-nav {
        display: block;
        font-size: 18px;
        line-height: 32px;
        color: @whiteFF;
        margin-bottom: 11px;
        text-decoration: none;
        transition: transform 0.2s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &--doors {
        margin-bottom: 37px;
        margin-left: 14px;
    }
    &--doors-header {
        margin-left: 0;
    }
    &--palitra{
        width: 147px;
        margin-left: auto;
        margin-top: 43px;
    }
    &--skorob{
        position: absolute;
        width: 100%;
        color: #ffffff;
        top:20px;
        left:28px;
        margin-left: 0;
    }
    &--reiki{
        position: absolute;
        width: 136px;
        color:#ffffff;
        text-align: left;
        left: 134px;
        bottom:31px;
        margin-bottom: 0;
    }
    &--sliding{
        width: 177px;
        margin-top: auto;
        margin-right: 55px;
        margin-bottom: 43px;
    }
    &--holz{
        width: 105px;
        right: 173px;
        left: auto;
        top:18px;
    }
    &--verso{
        width: 268px;
        margin-top: auto;
        margin-left: 30px;
    }
    &--corso{
        width: 177px;
        color: #ffffff;
        left:92px;
        top:35px;
        bottom: auto;
    }
    &--janelle{
        position: absolute;
        color:#ffffff;
        right: 28px;
        bottom:25px;
        left: auto;
        top:auto;
    }
    &--main{
        width: 327px;
        font-size: 36px;
        line-height: 42px;
        font-weight: 600;
        color:@grey3C;
        margin-right: 104px;
    }
    &--modern-main{
        width: 493px;
        font-size: 36px;
        line-height: 42px;
        font-weight: 600;
        color:@grey3C;
    }
    &--elegant{
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color:@green47;
        margin-bottom: 15px;
    }
    &--card-address {
        font-size: 36px;
        margin: 0;

        &--buy {
            font-size: 36px;
            margin: 0;
        }
    }

    &--card-guarantee {
        margin-bottom: 63px;
        margin-left: 0;

        font-size: 48px;
        line-height: 57px;
    }

    &--card-service {
        margin-bottom: 95px;

        font-size: 48px;
    }

    &--card-video {
        padding-left: 82px;
        margin-bottom: 55px;

        font-size: 36px;
        line-height: 42px;
        letter-spacing: .7px;
    }
    &--quality {
        display: none;
    }
}