@import url("../variables.less");
.b-title {
    &--intro {
        padding:392px 0 0 0;
        font-size: 100px;
        margin-bottom: 68px;
        line-height: 128px;
        max-width: 1000px;
    }
    &--footer {
        margin-right: 60px;
        margin-bottom: 55px;
    }
    &--footer-nav {
        display: block;
        font-size: 18px;
        line-height: 32px;
        color: @whiteFF;
        margin-bottom: 11px;
        text-decoration: none;
        transition: transform 0.2s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &--doors {
        margin-bottom: 37px;
        margin-left: 14px;
    }
    &--doors-header {
        margin-left: 0;
    }
    &--company {
        padding-top: 58px;
    }
}