@import url("../color.less");
.b-title {
    &--footer {
        font-size: 24px;
        line-height: 28px;
        margin-right: 0;
        margin-bottom: 177px;
    }
    &--doors {
        margin-bottom: 35px;
        margin-left: 11px;
        font-size: 21px;
        line-height: 25px;
    }
    &--doors-header {
        display: none;
    }
}

