@import url("../variables.less");
.b-title {
    font-size: 30px;
    line-height: 35px;
    margin: 0;
    &--intro {
        padding: 360px 0 0 0;
        margin: 0 0 8px 0;
        max-width: 301px;
        font-family: @second-font;
        font-weight: 400;
        font-size: 50px;
        line-height: 64px;
        color: @whiteFF;
    }
    &--technology {
        font-size: 36px;
        line-height: 42px;
    }
    &--footer {
        font-size: 24px;
        line-height: 28px;
        color: @whiteFF;
        margin-bottom: 38px;
        width: 250px;
        &--nav {
            font-size: 18px;
            line-height: 32px;
        }
    }
    &--little {
        font-size: 18px;
        line-height: 21px;
        color: @grey3C;
        font-weight: 600;
    }
    &--main{
        width: 272px;
        color:@grey3C;
        font-size: 30px;
        font-weight: 600;
        line-height: 35px;
        margin-bottom: 30px;
    }
    &--news{
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color:@green47;
        margin-bottom: 12px;
    }
    &--palitra{
        width: 145px;
        font-size: 18px;
        line-height: 26px;
        font-weight: 600;
        color:#ffffff;
        margin-right:21px;
        margin-top:21px;
        margin-left: auto;
    }
    &--skorob{
        width: 84px;
        font-size: 18px;
        line-height: 26px;
        font-weight: 600;
        color: @grey3C;
        margin-left: auto;
        margin-right: 82px;
    }
    &--reiki{
        width: 142px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        color:@grey3C;
        margin-top: auto;
        margin-left:22px;
        margin-bottom: 39px;
        text-align: right;
    }
    &--sliding{
        font-size: 18px;
        line-height: 26px;
        font-weight: 600;
        color: @grey3C;
        width: 122px;
        margin-left: auto;
        margin-right: 44px;
    }
    &--holz{
        width:122px;
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        color: #ffffff;
        margin-left: 26px;
        margin-top: 21px;
    }
    &--verso{
        width: 153px;
        font-size: 18px;
        line-height: 26px;
        font-weight: 600;
        color:@grey3C;
        margin-right: auto;
        margin-left: 22px;
    }
    &--corso{
        width: 92px;
        font-size: 18px;
        line-height: 21px;
        font-weight: 600;
        color: @grey3C;
        margin-left: auto;
        margin-right: 74px;
        margin-bottom: 37px;
    }
    &--janelle{
        width: 91px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        color:@grey3C;
        margin-bottom: auto;
        margin-left: 70px;
        margin-top: 49px;
    }
    &__item--modern{
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        color: @grey3C;
        margin-bottom: 14px;
    }
    &--modern{
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        color: @grey3C;
        margin-bottom: 46px;
    }
    &--doors-header {
        font-size: 16px;
        line-height: 35px;
        letter-spacing: 4.4px;
        text-transform: uppercase;
        color: @grey3C;
        margin-left: 25px;
        margin-bottom: 22px;
    }
    &--doors{
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: @grey3C;
        width: 100%;
        margin-bottom: 10px;
        margin-top: auto;
    }
    &--technology {
        margin-bottom: 14px;
        font-weight: 600;
    }

    &--card-address {
        margin-bottom: 29px;

        font-size: 30px;
        font-weight: 700;
        letter-spacing: -.8px;
        color: @grey3C;

        &--buy {
            margin-bottom: 45px;

            font-size: 30px;
            font-weight: 700;
            letter-spacing: -.8px;
            color: @grey3C;
        }
    }

    &--card-guarantee {
        margin-bottom: -2px;

        font-size: 30px;
        font-weight: 700;
        line-height: 1;

        color: @grey3C;
    }

    &--card-service {
        margin-bottom: 9px;

        font-size: 30px;
        font-weight: 700;
        line-height: 57px;

        color: @grey3C;
    }

    &--card-video {
        padding-left: 25px;
        margin-bottom: 26px;

        font-size: 30px;
        line-height: 35px;
        letter-spacing: 1px;
        word-spacing: -2px;

        color: @grey3C;
    }

}