.b-intro {
    height: 100vh;
    min-height: 900px;
    &__inner {
        height: 100%;
        width: 100%;
    }
    & > .slick-list > .slick-track {
        height:100%
    }
    & .b-container {
        top: 38%
    }
}

.b-subtitle--intro {
    padding: 0 0 0 95px;
    font-size: 21px;
    max-width: 790px;
    font-weight: 300;
}
.b-intro__inner .slick-arrow {
    top: calc(38% + 44px);
	width: 54px;
    height: 54px;
}
.b-intro__inner .slick-arrow.slick-prev {
    transform: rotate(180deg) translateY(-1px);
	left: 15px;
}
.b-intro__inner .slick-arrow.slick-next {
    left: auto;
	right: 16px;
}
.b-intro__inner .slick-arrow:hover {
    cursor: pointer;
}