h1 {
    margin: 0;
    padding: 0;
}
.b-intro {
    min-width: 320px;
    min-height: 670px;
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    & .b-container {
        top: 54%;
        pointer-events: none;
    }
    &__inner {
        height: 100%;
        width: 100%;
        position: absolute;
        top:0;
        left:0;
        overflow: hidden;
        &::before {
            content: "";
            position:absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            background: @black00;
            opacity: 0.35;
            z-index: 2;
            pointer-events: none;
        }
    }
    & .slick-track {
        height:100%
    }
}
.b-intro .b-container {
    position: absolute;
    z-index: 3;
}
.b-intro__inner > .slick-list {
    height: 100%;
    padding: 0;
    position: relative;
    z-index: 1;
}
.b-intro__inner .slick-arrow {
    display: flex;
    position: absolute;
    bottom: 25px;
    z-index: 5;
    font-size: 0;
    width: 43px;
    height: 43px;
    border:0;
}
.b-intro__inner .slick-arrow:hover {
    cursor: pointer;
}
.b-intro__inner .slick-arrow.slick-prev {
    transform: rotate(180deg) translateY(0);
    background: url("../img/icons/right-white.svg") 50% 50% no-repeat;
    left: 26px;
}
.b-intro__inner .slick-arrow.slick-next {
    background: url("../img/icons/right-white.svg")50% 50% no-repeat;
    left: 114px;
}
.b-subtitle--intro {
    max-width: 289px;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: @whiteFF;
}
@media screen and (max-width:360px){
    .b-intro__inner .slick-arrow.slick-next {
        right: 163px;
    }
}