include ../../elements/b-intro-square/b-intro-square.pug
include ../../elements/b-intro__item/b-intro__item.pug

mixin b-intro()
    section.b-intro
        .b-container.b-container--no-padd-desktop
            h1(class="b-title b-title--intro") Stylish doors
            div(class="b-subtitle b-subtitle--intro") сделанные по новейшим разработкам из проверенных материалов
        .b-intro__inner
            +b-intro__item
            +b-intro__item
            +b-intro__item
            +b-intro__item
            +b-intro__item
            +b-intro__item
            +b-intro__item
            +b-intro__item
        +b-intro-square