.b-intro {
    overflow: hidden;
    min-height: 720px;
    height: 100vh;
    & .b-container {
        top: 53%
    }
    &__inner {
        height: 100%;
        width: 100%;
    }
}
.b-subtitle--intro {
    padding: 0 0 0 179px;
    max-width: 590px;
}
.b-intro__inner .slick-arrow.slick-prev {
    bottom: 40%;
	left: 80px;
}
.b-intro__inner .slick-arrow.slick-next {
    background: url("../img/icons/longarrow.svg")50% 50% no-repeat;
    bottom: 250px;
    width: 344px;
    right: 80px;
}
@media screen and (max-width: 1920px) {
    .b-intro .b-container {
        top: 53%;
    }
}
@media screen and (max-width: 1440px) {
    .b-intro .b-container {
        top: 30%;
    }
}
@media screen and (max-width: 1366px) {
    .b-intro .b-container {
        top: 25%;
    }
}