include ../../blocks/b-intro-square/b-intro-square.pug
include ../../blocks/b-picture/b-picture

mixin b-intro()
    section.b-intro
        .b-container.b-container--no-padd-desktop
            h1(class="b-title b-title--intro" lang="en") Stylish doors
            div(class="b-subtitle b-subtitle--intro") сделанные по новейшим разработкам из проверенных материалов
        .b-intro__inner
            +b-picture([
                {
                    pictureClass: "b-intro__item",
                    imgWebpMediaMax767X1: "img/content/mobile/1-intro/1/1-1x.webp",
                    imgWebpMediaMax767X2: "img/content/mobile/1-intro/1/1-2x.webp",
                    imgJpgMediaMax767X1: "img/content/mobile/1-intro/1/1-1x.jpg",
                    imgJpgMediaMax767X2: "img/content/mobile/1-intro/1/1-2x.jpg",
                    imgWebpMediaMax1023X1: "img/content/tablet/1-intro/1/1-1x.webp",
                    imgWebpMediaMax1023X2: "img/content/tablet/1-intro/1/1-2x.webp",
                    imgJpgMediaMax1023X1: "img/content/tablet/1-intro/1/1-2x.jpg",
                    imgJpgMediaMax1023X2: "img/content/tablet/1-intro/1/1-2x.jpg",
                    imgWebpMediaMaxDeskX1: "img/content/desktop/1-intro/1/1-1x.webp",
                    imgWebpMediaMaxDeskX2: "img/content/desktop/1-intro/1/1-2x.webp",
                    imgjpgMediaMaxDeskX1: "img/content/desktop/1-intro/1/1-2x.jpg",
                    imgjpgMediaMaxDeskX2: "img/content/desktop/1-intro/1/1-2x.jpg",
                    imgClass: "b-intro__image",
                    alt: "Выдающиеся двери",
                }
            ])
            +b-picture([
                {
                    pictureClass: "b-intro__item",
                    imgWebpMediaMax767X1: "img/content/mobile/1-intro/1/1-1x.webp",
                    imgWebpMediaMax767X2: "img/content/mobile/1-intro/1/1-2x.webp",
                    imgJpgMediaMax767X1: "img/content/mobile/1-intro/1/1-1x.jpg",
                    imgJpgMediaMax767X2: "img/content/mobile/1-intro/1/1-2x.jpg",
                    imgWebpMediaMax1023X1: "img/content/tablet/1-intro/1/1-1x.webp",
                    imgWebpMediaMax1023X2: "img/content/tablet/1-intro/1/1-2x.webp",
                    imgJpgMediaMax1023X1: "img/content/tablet/1-intro/1/1-2x.jpg",
                    imgJpgMediaMax1023X2: "img/content/tablet/1-intro/1/1-2x.jpg",
                    imgWebpMediaMaxDeskX1: "img/content/desktop/1-intro/1/1-1x.webp",
                    imgWebpMediaMaxDeskX2: "img/content/desktop/1-intro/1/1-2x.webp",
                    imgjpgMediaMaxDeskX1: "img/content/desktop/1-intro/1/1-2x.jpg",
                    imgjpgMediaMaxDeskX2: "img/content/desktop/1-intro/1/1-2x.jpg",
                    imgClass: "b-intro__image",
                    alt: "Выдающиеся двери",
                }
            ])
            +b-picture([
                {
                    pictureClass: "b-intro__item",
                    imgWebpMediaMax767X1: "img/content/mobile/1-intro/1/1-1x.webp",
                    imgWebpMediaMax767X2: "img/content/mobile/1-intro/1/1-2x.webp",
                    imgJpgMediaMax767X1: "img/content/mobile/1-intro/1/1-1x.jpg",
                    imgJpgMediaMax767X2: "img/content/mobile/1-intro/1/1-2x.jpg",
                    imgWebpMediaMax1023X1: "img/content/tablet/1-intro/1/1-1x.webp",
                    imgWebpMediaMax1023X2: "img/content/tablet/1-intro/1/1-2x.webp",
                    imgJpgMediaMax1023X1: "img/content/tablet/1-intro/1/1-2x.jpg",
                    imgJpgMediaMax1023X2: "img/content/tablet/1-intro/1/1-2x.jpg",
                    imgWebpMediaMaxDeskX1: "img/content/desktop/1-intro/1/1-1x.webp",
                    imgWebpMediaMaxDeskX2: "img/content/desktop/1-intro/1/1-2x.webp",
                    imgjpgMediaMaxDeskX1: "img/content/desktop/1-intro/1/1-2x.jpg",
                    imgjpgMediaMaxDeskX2: "img/content/desktop/1-intro/1/1-2x.jpg",
                    imgClass: "b-intro__image",
                    alt: "Выдающиеся двери",
                }
            ])
            +b-picture([
                {
                    pictureClass: "b-intro__item",
                    imgWebpMediaMax767X1: "img/content/mobile/1-intro/1/1-1x.webp",
                    imgWebpMediaMax767X2: "img/content/mobile/1-intro/1/1-2x.webp",
                    imgJpgMediaMax767X1: "img/content/mobile/1-intro/1/1-1x.jpg",
                    imgJpgMediaMax767X2: "img/content/mobile/1-intro/1/1-2x.jpg",
                    imgWebpMediaMax1023X1: "img/content/tablet/1-intro/1/1-1x.webp",
                    imgWebpMediaMax1023X2: "img/content/tablet/1-intro/1/1-2x.webp",
                    imgJpgMediaMax1023X1: "img/content/tablet/1-intro/1/1-2x.jpg",
                    imgJpgMediaMax1023X2: "img/content/tablet/1-intro/1/1-2x.jpg",
                    imgWebpMediaMaxDeskX1: "img/content/desktop/1-intro/1/1-1x.webp",
                    imgWebpMediaMaxDeskX2: "img/content/desktop/1-intro/1/1-2x.webp",
                    imgjpgMediaMaxDeskX1: "img/content/desktop/1-intro/1/1-2x.jpg",
                    imgjpgMediaMaxDeskX2: "img/content/desktop/1-intro/1/1-2x.jpg",
                    imgClass: "b-intro__image",
                    alt: "Выдающиеся двери",
                }
            ])
            +b-picture([
                {
                    pictureClass: "b-intro__item",
                    imgWebpMediaMax767X1: "img/content/mobile/1-intro/1/1-1x.webp",
                    imgWebpMediaMax767X2: "img/content/mobile/1-intro/1/1-2x.webp",
                    imgJpgMediaMax767X1: "img/content/mobile/1-intro/1/1-1x.jpg",
                    imgJpgMediaMax767X2: "img/content/mobile/1-intro/1/1-2x.jpg",
                    imgWebpMediaMax1023X1: "img/content/tablet/1-intro/1/1-1x.webp",
                    imgWebpMediaMax1023X2: "img/content/tablet/1-intro/1/1-2x.webp",
                    imgJpgMediaMax1023X1: "img/content/tablet/1-intro/1/1-2x.jpg",
                    imgJpgMediaMax1023X2: "img/content/tablet/1-intro/1/1-2x.jpg",
                    imgWebpMediaMaxDeskX1: "img/content/desktop/1-intro/1/1-1x.webp",
                    imgWebpMediaMaxDeskX2: "img/content/desktop/1-intro/1/1-2x.webp",
                    imgjpgMediaMaxDeskX1: "img/content/desktop/1-intro/1/1-2x.jpg",
                    imgjpgMediaMaxDeskX2: "img/content/desktop/1-intro/1/1-2x.jpg",
                    imgClass: "b-intro__image",
                    alt: "Выдающиеся двери",
                }
            ])
            +b-picture([
                {
                    pictureClass: "b-intro__item",
                    imgWebpMediaMax767X1: "img/content/mobile/1-intro/1/1-1x.webp",
                    imgWebpMediaMax767X2: "img/content/mobile/1-intro/1/1-2x.webp",
                    imgJpgMediaMax767X1: "img/content/mobile/1-intro/1/1-1x.jpg",
                    imgJpgMediaMax767X2: "img/content/mobile/1-intro/1/1-2x.jpg",
                    imgWebpMediaMax1023X1: "img/content/tablet/1-intro/1/1-1x.webp",
                    imgWebpMediaMax1023X2: "img/content/tablet/1-intro/1/1-2x.webp",
                    imgJpgMediaMax1023X1: "img/content/tablet/1-intro/1/1-2x.jpg",
                    imgJpgMediaMax1023X2: "img/content/tablet/1-intro/1/1-2x.jpg",
                    imgWebpMediaMaxDeskX1: "img/content/desktop/1-intro/1/1-1x.webp",
                    imgWebpMediaMaxDeskX2: "img/content/desktop/1-intro/1/1-2x.webp",
                    imgjpgMediaMaxDeskX1: "img/content/desktop/1-intro/1/1-2x.jpg",
                    imgjpgMediaMaxDeskX2: "img/content/desktop/1-intro/1/1-2x.jpg",
                    imgClass: "b-intro__image",
                    alt: "Выдающиеся двери",
                }
            ])
        +b-intro-square