.b-title-intro {
    padding: 360px 0 0 0;
    margin-bottom: 8px;
    min-width: 301px;
    font-family: "Lora";
    font-weight: 400;
    font-size: 50px;
    font-family: Lora;
    line-height: 64px;
    color: @whiteFF;
}
.b-subtitle-intro {
    max-width: 289px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: @whiteFF;
}
.b-intro-image-wrap {
    margin: 0 -25px 0 -25px;
    width: 375px;
    height: 670px;
    display: block;
    margin-top: -482px;
    position: relative;
    z-index: -2;
    &::after {
        content: "";
        position:absolute;
        top:0;
        left:0;
        width: 375px;
        height:670px;
        background: #000000;
        opacity: 0.35;
        z-index: 1;
    }
}
.b-intro-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}