.b-intro {
    position: relative;
    max-width: 1600px;
    height: 900px;
}
h1 {
    margin: 0;
    padding: 0;
}
.b-title-intro {
    padding:481px 0 0 172px;
    font-size: 150px;
    max-width: 1200px;
    margin-bottom: 5px;
    line-height: 192px;
    margin-right: 360px;
}
.b-subtitle-intro {
    padding: 0 0 0 179px;
    font-size: 21px;
    max-width: 590px;
    line-height: 25px;
    font-weight: 300;
}
@media (max-width: 1434px) {
    .b-title-intro {
        padding-top: 289px;
    }
}