.b-intro {
    height: 900px;
    &__inner {
        height: 900px;
        width: 100%;
    }
}

.b-subtitle--intro {
    padding: 0 0 0 179px;
    max-width: 590px;
}
@media (max-width: 1434px) {
    .b-title--intro {
        padding-top: 289px;
    }
}
// .b-switcher-city--white {
//     margin-left: 77px;
// }
// .b-button-tel {
//     margin-top: 47px;
// }

.b-intro__inner .slick-arrow.slick-prev {
	left: 80px;
}
.b-intro__inner .slick-arrow.slick-next {
	right: 80px;
}