doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="")
        title Коллекция ESTET
        link(rel="preload" href="fonts/Lora-Regular.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="fonts/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="fonts/OpenSans-Bold.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet" href="css/mobile-style.css")
        link(rel="stylesheet" media="only screen and (min-width: 768px)" href="css/tablet-style.css")
        link(rel="stylesheet" media="only screen and (min-width: 1024px)" href="css/desktop-style.css")
        link(type="image/x-icon" rel="shortcut icon" href="img/fav/favicon.ico")
        link(rel="icon" href="img/icons/logo-green.svg" type="image/svg+xml")
        link(type="image/png" sizes="120x120" rel="icon" href="img/fav/favicon-120x120.png")
        link(type="image/png" sizes="96x96" rel="icon" href="img/fav/favicon-96x96.png")
        link(type="image/png" sizes="32x32" rel="icon" href="img/fav/favicon-32x32.png")
        link(type="image/png" sizes="16x16" rel="icon" href="img/fav/favicon-16x16.png")

    body
        include blocks/b-header-doors/b-header-doors.pug
        include blocks/b-intro--alt/b-intro--alt.pug
        include blocks/b-collection/b-collection.pug
        include blocks/b-advertising/b-advertising.pug
        include blocks/b-card-address/b-card-address.pug
        include blocks/b-slider-video/b-slider-video.pug
        include blocks/b-card-modern/b-card-modern.pug
        include blocks/b-footer/b-footer.pug
        include blocks/b-aside/b-aside.pug
        .b-container--max-width
            +b-header-doors
            main
                .b-doors-wrapper
                    +b-aside({
                        collection: "active",
                        arr: [
                            {
                                collection: "active",
                                title: "СТИЛЬ",
                                list: ['Современный', 'Классический', 'Неоклассический', 'Дизайнерский']
                            },
                            {
                                title: "ОТДЕЛКА",
                                list: ['Эмаль', 'Покрытие',]
                            },
                            {
                                collection: "active",
                                title: "ЦЕНА",
                                input: true
                            },
                        ]
                    })
                    .b-doors-wrapper__section
                        +b-intro--alt(
                            [{
                                title: 'Главная',
                                link: "index.html"
                            },
                            {
                                modification: "b-intro--alt",
                                title: 'Межкомнатные двери'
                            }],
                            "b-intro--alt-collection")
                        +b-collection
                +b-advertising({
                    modificationAside: "b-card-advertising--doors",
                    modificationPicture: "b-card-advertising__container--doors",
                    modificationWrap: "b-card-advertising__wrap--doors",
                    modificationTitle: "b-card-advertising__title--doors",
                    modificationStock: "b-card-advertising__stock--doors",
                    modificationWrapper: "b-card-advertising__wrapper--doors",
                    modificationPost: "b-card-advertising__post--doors",
                    modificationDescription: "b-card-advertising__description--doors",
                })
                +b-slider-video
                +b-card-modern
                +b-card-address({
                    title: "Купить в вашем городе",
                    modification: "b-card-address--buy"
                })
            +b-footer({
                link: true,
            })





        script(src="script/jquery-3.6.0.min.js")
        script(src="script/slick.min.js")
        script(src="script/main-script.js")