doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="")
        title Document
        link(rel="preload" href="fonts/Lora-Regular.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="fonts/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="fonts/OpenSans-Bold.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="stylesheet" href="fonts/fonts.css")
        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet" media="only screen and (min-width: 320px)" href="css/doors-mobile-style.css")
        link(rel="stylesheet" media="only screen and (min-width: 768px)" href="css/doors-tablet-style.css")
        link(rel="stylesheet" media="only screen and (min-width: 1024px)" href="css/doors-desktop-style.css")
    body
        include elements/b-button-order-size/b-button-order-size.pug
        include blocks/b-header-doors/b-header-doors.pug
        include blocks/b-intro-second/b-intro-second.pug
        include blocks/b-card-doors/b-card-doors.pug
        include blocks/b-advertising/b-advertising-main.pug
        include blocks/b-card-address/b-card-address--buy.pug
        include blocks/b-aside/b-aside.pug
        include blocks/b-card-address/b-card-address--buy.pug
        include blocks/b-slider-video/b-slider-video.pug
        include blocks/b-card-modern/b-card-modern.pug
        include blocks/b-card-address/b-card-address.pug
        include blocks/b-footer/b-footer.pug
        .b-container--max-width
            +b-header-doors
            +b-aside
            +b-intro-second
            +b-card-doors
            +b-advertising({
                modificationAside: "b-card-advertising--doors",
                modificationPicture: "b-card-advertising__container--doors",
                modificationWrap: "b-card-advertising__wrap--doors",
                modificationTitle: "b-card-advertising__title--doors",
                modificationStock: "b-card-advertising__stock--doors",
                modificationWrapper: "b-card-advertising__wrapper--doors",
                modificationPost: "b-card-advertising__post--doors",
                modificationDescription: "b-card-advertising__description--doors",
            })
            +b-slider-video
            +b-card-modern
            +b-card-address--buy("Купить в вашем городе")
            +b-footer


        script(src="script/jquery-3.6.0.min.js")
        script(src="script/slick.min.js")
        script(src="script/doors-script.js")