doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="")
        title Document
        link(rel="stylesheet" href="fonts/fonts.css")
        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet" media="only screen and (min-width: 320px)" href="css/main-mobile-style.css")
        link(rel="stylesheet" media="only screen and (min-width: 768px)" href="css/main-tablet-style.css")
        link(rel="stylesheet" media="only screen and (min-width: 1024px)" href="css/main-desktop-style.css")
    body
        include blocks/b-header/b-header.pug
        include blocks/b-intro/b-intro.pug
        include blocks/b-card-img/b-card-img.pug
        include blocks/b-card-select/b-card-select.pug
        include blocks/b-advertising/b-advertising-main.pug
        include blocks/b-card-guarantee/b-card-guarantee.pug
        include blocks/b-card-service/b-card-service.pug
        include blocks/b-card-video/b-card-video.pug
        include blocks/b-technology/b-technology.pug
        include blocks/b-card-news/b-card-news.pug
        include blocks/b-card-address/b-card-address.pug
        include blocks/b-footer/b-footer.pug
        
        +b-header
        +b-intro
        .b-container--max-width
            +b-card-img
            +b-card-select
            +b-advertising
            section.b-card-guarantee-service
                +b-card-guarantee
                +b-card-service
            +b-card-video
            +b-technology
            +b-card-news
            +b-card-address("Магазины")
            +b-footer
        script(src="script/jquery-3.6.0.min.js")
        script(src="script/slick.min.js")
        script(src="script/script.js")

