doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="")
        title Document
        link(rel="stylesheet" href="fonts/fonts.css")
        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet" media="only screen and (min-width: 320px)" href="css/mobile-style.css")
        link(rel="stylesheet" media="only screen and (min-width: 768px)" href="css/table-style.css")
        link(rel="stylesheet" media="only screen and (min-width: 1024px)" href="css/desktop-style.css")
    body
        include blocks/b-intro/b-intro.pug
        include blocks/b-header/b-header.pug
        include blocks/b-card-img/b-card-img.pug
        include blocks/b-card-select/b-card-select.pug
        include blocks/b-card-news/b-card-news.pug
        include blocks/b-footer/b-footer.pug
        include blocks/price/price.pug
        script(src="script/script.js")

