doctype html
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="")
        title Document
        link(rel="stylesheet" href="fonts/fonts.css")
        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet" media="only screen and (min-width: 375px)" href="css/mobile-style.css")
        link(rel="stylesheet" media="only screen and (min-width: 768px)" href="css/table-style.css")
        link(rel="stylesheet" media="only screen and (min-width: 1024px)"  href="css/desktop-style.css")
    body
