mixin b-search(data)
    a.b-search(href="javascript:void(0);", title="Поиск", class=data.modification)
        img.b-search__img(src=data.imgUrl?data.imgUrl:"img/icons/glass-white.svg", alt="", class=data.modificationImg?data.modificationImg:'')