mixin b-doors(doors)
    each item in doors
        .b-doors
            .b-doors__img-background
                picture.b-doors__img-wrapper
                    source(type="image/webp" srcset= item.imgWebpMediaMax767X1+' 1x,'+item.imgWebpMediaMax767X2+' 2x' media="max-width: 767px")
                    source(type="image/jpg" srcset= item.imgJpgMediaMax767X1+' 1x,'+item.imgJpgMediaMax767X2+' 2x' media="max-width: 767px")
                    source(type="image/webp" srcset= item.imgWebpMediaMax1023X1+' 1x,'+item.imgWebpMediaMax1023X2+' 2x' media="max-width: 1023px")
                    source(type="image/jpg" srcset= item.imgJpgMediaMax1023X1+' 1x,'+item.imgJpgMediaMax1023X2+' 2x' media="max-width:1023px")
                    source(type="image/webp" srcset= item.imgWebpMediaMaxDeskX1+' 1x,'+item.imgWebpMediaMaxDeskX2+' 2x')
                    source(type="image/jpg" srcset= item.imgjpgMediaMaxDeskX1+' 1x,'+item.imgjpgMediaMaxDeskX2+' 2x')
                    img.b-doors__img(src= item.imgjpgMediaMaxDeskX1 alt="doors")
            .b-doors__mark-wrapper
                .b-doors__mark-top
                    .b-doors__mark-wrapper-heart
                        img.b-doors__heart-img(src="../img/icons/heart-green.svg", alt="heart")
                    .b-doors__mark(class=  item.markModification) !{item.mark}
                .b-title.b-title--doors !{item.title}
                hr.b-doors__line
                .b-doors__choice-wrapper
                    input.b-doors__choice(type="radio" id= item.idRadio1 name= item.nameRadio value="color")
                    label(for= item.idRadio1)
                        img.b-doors__choice-textures(src="../../img/textures/black.png", alt="textures-black")
                    input.b-doors__choice(type="radio" id= item.idRadio2 name= item.nameRadio value="color")
                    label(for= item.idRadio2)
                        img.b-doors__choice-textures(src="../../img/textures/beige.png", alt="textures-beige")
                    input.b-doors__choice(type="radio" id= item.idRadio3 name= item.nameRadio value="color")
                    label(for= item.idRadio3)
                        img.b-doors__choice-textures(src="../../img/textures/light-beige.png", alt="light-beige")
                    button.b-doors__choice-button +5