
    .b-technology {
        margin-bottom: 100px;
        &__wrap {
            display: flex;
            margin-left: auto;
        }
        &__caption {
            font-size: 24px;
            line-height: 28.13px;
            color: @grey3C;
            font-weight: 400;
            margin-bottom: 20px;
            display: inline-block;
            margin-top: 22px;
        }
        &__wrap-grass {
            width: 100%;
        }
        &__subcaption {
            font-size: 14px;
            line-height: 25px;
            color: @grey3C;
        }
        &__inner {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            & .b-technology__container {
                display: none;
            }
        }
    }

    .b-container--technology {
        display: flex;
        flex-wrap: wrap;
    }

    .b-subtitle--technology {
        font-size: 14px;
        line-height: 25px;
        color: @grey3C;
        margin-bottom: 65px;
    }

    .b-picture--technology {
        width: 100%;
        height: 242px;
        padding: 0;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .b-picture--lamp,
    .b-picture--vase,
    // .b-technology__wrapper,
    .b-logo-green,
    .b-hover-quality,
    .b-wrap-vase__link,
    .b-picture--techn,
    .b-technology__post--vase,
    .b-technology__wrapper--techn,
    .b-picture--mirror,
    #technology__link-hover--grass,
    #technology__link-hover--vase,
    .b-technology-logo {
        display: none;
    }
