.b-container--technology {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.b-technology {
    width: 100vw;
    height: 56.25vw;
    max-width: 1600px;
    max-height: 900px;
    &__wrap-grass {
        z-index: 150;
        height: 73%;
        margin-bottom: 0;
        width: 40%;
    }
    &__container {
        height: 36.5%;
        width: 40%;
        order: 2;
        padding: 62px 112px 77px 67px;
    }
    &__post {
        width: 100%;
        padding: 58px 35px 58px 38px;
        transition: background-color 0.4s ease-in-out,color  0.5s ease-in-out;
        height: 100%;
    }
}
.b-technology-wrapper {
    &--techn {
        width: 20%;
        display: block;
        height: 36.5%;
        order: 3;
        z-index: 200;
        background-color: @whiteFF;
        transition: background-color 0.4s ease-in-out;
        position: absolute;
        top: 36.5%;
        left: 40%;
        padding-left: 0;
    }
    &--lamp {
        width: 40%;
        z-index: 0;
        order: 5;
        transform: translate(0px, -57.5%);
        margin-bottom: 0;
        height: 63.5%;
    }
    &--mirror {
        width: 20%;
        height: 36.5%;
    }
}

.b-picture {
    width: 100%;
    height: 100%;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &--technology {
        margin-bottom: 0;
    }
    &--mirror {
        width: 100%;
        height: 100%;
    }
    &--techn {
        display: none;
        width: 655px;
        z-index: 600;
        transform: translateX(0%);
        transition: transform 0.9s ease-in-out;
    }
    &--vase {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
    }
    &--lamp {
        transition: transform 0.9s ease-in-out;
        overflow: hidden;
    }
}

.b-technology-link-hover {
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 30;
    display: block;
    &--lamp {
        top: 25%;
        right: 42%;
    }
    &--tech {
        top: 20%;
        right: 2%;
    }
    &--vase {
        bottom: 25%;
        right: 20%;
    }
}

.b-technology-link-hover--tech:hover ~ .b-picture--techn {
    transform: translateX(-100%);
    display: block;
    z-index: 1000;
}

.b-technology-link-hover--tech:hover ~ .b-technology__post{
    background-color: @green47;
    color: white;
}

.b-content-vase {
    display: none;
}

.b-logo-wrap {
    width: 15%;
    height: 27%;
    position: relative;
    order: 3;
}

.b-wrap-vase {
    width: 45%;
    height: 27%;
    z-index: 0;
    order: 4;
    position: relative;
}

.b-subtitle--technology {
    margin: 0;
    font-size: 14px;
    color: inherit;
}
    &--padding {
        padding: 0 112px 77px 0;
    }

.b-technology-logo--white {
    display: block;
}

.b-hover-quality {
    background-color: @green47;
    width: 100%;
    height: 42.5%;
    padding: 45px 39px 45px 52px;
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.9s, opacity 0.9s;
    display: block;
    &__post {
        font-size: 14px;
        line-height: 25px;
        color: @whiteFF;
    }
}

.b-technology-link-hover:hover ~ .b-hover-quality {
    transform: translateY(0%);
    z-index: 1;
    opacity: 1;
    display: block;
}

.b-technology-link-hover:hover ~ .b-picture--lamp {
    transform: translateY(-53%);
    z-index: 22;
    opacity: 1;
    display: block;
    height: 700px;
}

.b-oval-white {
    display: block;
    position: relative;
    box-shadow: 0 0 10px 10px @whiteFF;
}

.b-oval-green {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%,-50%);
}

@media (max-width: 1350px) {
    .b-subtitle--technology{
        font-size: 12px;
}
    .b-title--technology{
        font-size: 24px;
    }
    .b-technology__post {
        padding: 5px 20px 0px 20px;
    }
    .b-technology__container {
        padding: 30px 30px 0 30px;
    }
}

@media (max-width: 1218px) {
    .b-picture--lamp {
        height: 580px;
    }
}


