include ../../elements/b-button-square/b-button-square.pug

mixin b-technology()
    section.b-technology
        .b-container.b-container--technology.b-container--no-padd-table.b-container--no-padd-desktop
            .b-technology__container
                    h2.b-title.b-title--technology ESTET
                    p.b-subtitle.b-subtitle--technology.b-subtitle--padding Дверные технологии ESTET превращают квадратные метры в&nbsp;уютный Дом, пространство в&nbsp;удобное и&nbsp;прекрасное Жильё. Наши двери создают неповторимые ощущения, когда каждый день&nbsp;Вы открываете дверь и&nbsp;вместе с&nbsp;тем что-то новое, а&nbsp;главное&nbsp;&mdash; открываете с&nbsp;удовольствием!
            .b-technology__wrap
                +b-button-square({
                    modificationColor: "white",
                    modificationArrow: "left",
                    modificationTitle: "Назад",
                })
                +b-button-square({
                    modificationColor: "green",
                    modificationArrow: "right",
                    modificationTitle: "Далее",
                })
            a(id="technology__link-hover--grass" class="b-technology__link-hover" href="javascript:void(0);")
            a(id="technology__link-hover--vase" class="b-technology__link-hover" href="javascript:void(0);")
            .b-technology__inner
                .b-technology__container
                    h2.b-title.b-title--technology ESTET
                    p.b-subtitle.b-subtitle--technology.b-subtitle--padding Дверные технологии ESTET превращают квадратные метры в&nbsp;уютный Дом, пространство в&nbsp;удобное и&nbsp;прекрасное Жильё. Наши двери создают неповторимые ощущения, когда каждый день&nbsp;Вы открываете дверь и&nbsp;вместе с&nbsp;тем что-то новое, а&nbsp;главное&nbsp;&mdash; открываете с&nbsp;удовольствием!
                .b-technology__wrap-grass
                    +b-picture([
                    {
                        pictureClass: "b-picture--technology",
                        imgWebpMediaMax767X1: 'img/content/mobile/7-technology/1/14-1x.webp',
                        imgWebpMediaMax767X2: 'img/content/mobile/7-technology/1/14-2x.webp',
                        imgJpgMediaMax767X1: 'img/content/mobile/7-technology/1/14-1x.jpg',
                        imgJpgMediaMax767X2: 'img/content/mobile/7-technology/1/14-2x.jpg',
                        imgWebpMediaMax1023X1: 'img/content/tablet/7-technology/1/1-1x.webp',
                        imgWebpMediaMax1023X2: 'img/content/tablet/7-technology/1/1-2x.webp',
                        imgJpgMediaMax1023X1: 'img/content/tablet/7-technology/1/1-1x.jpg',
                        imgJpgMediaMax1023X2: 'img/content/tablet/7-technology/1/1-2x.jpg',
                        imgWebpMediaMaxDeskX1: 'img/content/desktop/7-technology/1/1-1x.webp',
                        imgWebpMediaMaxDeskX2: 'img/content/desktop/7-technology/1/1-2x.webp',
                        imgjpgMediaMaxDeskX1: 'img/content/desktop/7-technology/1/1-1x.jpg',
                        imgjpgMediaMaxDeskX2: 'img/content/desktop/7-technology/1/1-2x.jpg',
                        imgClass: "b-picture__img--technology",
                        alt: "Современные интерьерные решения"
                    }
                ])
                    .b-technology__post.b-technology__post--grass
                        strong.b-technology__caption Современные интерьерные решения
                        p.b-technology__subcaption Межкомнатные и&nbsp;офисные двери с&nbsp;богатой цветовой гаммой, стильным дизайном, различными вариантами исполнения и&nbsp;нестандартными размерами
                .b-technology__wrapper.b-technology__wrapper--mirror
                    +b-picture([
                    {
                        pictureClass: "b-picture--mirror",
                        imgWebpMediaMax767X1: 'img/content/tablet/7-technology/5/1-1x.webp',
                        imgWebpMediaMax767X2: 'img/content/tablet/7-technology/5/1-2x.webp',
                        imgJpgMediaMax767X1: 'img/content/tablet/7-technology/5/1-1x.jpg',
                        imgJpgMediaMax767X2: 'img/content/tablet/7-technology/5/1-2x.jpg',
                        imgWebpMediaMax1023X1: 'img/content/tablet/7-technology/5/1-1x.webp',
                        imgWebpMediaMax1023X2: 'img/content/tablet/7-technology/5/1-2x.webp',
                        imgJpgMediaMax1023X1: 'img/content/tablet/7-technology/5/1-1x.jpg',
                        imgJpgMediaMax1023X2: 'img/content/tablet/7-technology/5/1-2x.jpg',
                        imgWebpMediaMaxDeskX1: 'img/content/tablet/7-technology/5/1-1x.webp',
                        imgWebpMediaMaxDeskX2: 'img/content/tablet/7-technology/5/1-2x.webp',
                        imgjpgMediaMaxDeskX1: 'img/content/tablet/7-technology/5/1-1x.jpg',
                        imgjpgMediaMaxDeskX2: 'img/content/tablet/7-technology/5/1-2x.jpg',
                        imgClass: "b-picture__img--mirror",
                        alt: "Двери"
                    }
                    ])
                .b-technology__wrapper.b-technology__wrapper--techn
                    a(class="b-technology__link-hover b-technology__link-hover--tech" href="javascript:void(0);")
                    +b-picture([
                    {
                        pictureClass: "b-picture--techn",
                        imgWebpMediaMax767X1: 'img/content/mobile/7-technology/3/1-1x.webp',
                        imgWebpMediaMax767X2: 'img/content/mobile/7-technology/3/1-2x.webp',
                        imgJpgMediaMax767X1: 'img/content/mobile/7-technology/3/1-1x.jpg',
                        imgJpgMediaMax767X2: 'img/content/mobile/7-technology/3/1-2x.jpg',
                        imgWebpMediaMax1023X1: 'img/content/desktop/7-technology/3/1-1x.webp',
                        imgWebpMediaMax1023X2: 'img/content/desktop/7-technology/3/1-2x.webp',
                        imgJpgMediaMax1023X1: 'img/content/desktop/7-technology/3/1-1x.jpg',
                        imgJpgMediaMax1023X2: 'img/content/desktop/7-technology/3/1-2x.jpg',
                        imgWebpMediaMaxDeskX1: 'img/content/desktop/7-technology/3/1-1x.webp',
                        imgWebpMediaMaxDeskX2: 'img/content/desktop/7-technology/3/1-2x.webp',
                        imgjpgMediaMaxDeskX1: 'img/content/desktop/7-technology/3/1-1x.jpg',
                        imgjpgMediaMaxDeskX2: 'img/content/desktop/7-technology/3/1-2x.jpg',
                        imgClass: "b-picture__img--techn",
                        alt: "Компания"
                    }
                ])
                    .b-technology__post.b-technology__post--company
                        h2.b-title.b-title--technology.b-title--company Компания
                        p.b-subtitle.b-subtitle--technology Мы&nbsp;работаем на&nbsp;рынке производства дверей с&nbsp;2002&nbsp;года. За&nbsp;это время мы&nbsp;зарекомендовали себя как надежный партнер и&nbsp;динамично развивающаяся компания.
                .b-technology__wrapper.b-technology__wrapper--lamp
                    a(class="b-technology__link-hover b-technology__link-hover--lamp" href="javascript:void(0);")
                    +b-picture([
                    {
                        pictureClass: "b-picture--lamp",
                        imgWebpMediaMax767X1: 'img/content/mobile/7-technology/4/1-1x.webp',
                        imgWebpMediaMax767X2: 'img/content/mobile/7-technology/4/1-2x.webp',
                        imgJpgMediaMax767X1: 'img/content/mobile/7-technology/4/1-1x.jpg',
                        imgJpgMediaMax767X2: 'img/content/mobile/7-technology/4/1-2x.jpg',
                        imgWebpMediaMax1023X1: 'img/content/tablet/7-technology/4/1-1x.jpg',
                        imgWebpMediaMax1023X2: 'img/content/tablet/7-technology/4/1-2x.webp',
                        imgJpgMediaMax1023X1: 'img/content/tablet/7-technology/1/1-1x.jpg',
                        imgJpgMediaMax1023X2: 'img/content/tablet/7-technology/4/1-2x.jpg',
                        imgWebpMediaMaxDeskX1: 'img/content/desktop/7-technology/4/1-1x.webp',
                        imgWebpMediaMaxDeskX2: 'img/content/desktop/7-technology/4/1-2x.webp',
                        imgjpgMediaMaxDeskX1: 'img/content/desktop/7-technology/4/1-1x.jpg',
                        imgjpgMediaMaxDeskX2: 'img/content/desktop/7-technology/4/1-2x.jpg',
                        imgClass: "b-picture__img--lamp",
                        alt: "Высокое качество"
                    }
                ])
                    .b-technology__post.b-technology__post--quality
                        div.b-title.b-title--quality Высокое качество
                        span.b-technology__info Все наши двери проходят строжайший контроль качества на&nbsp;всех этапах производства. Следить за&nbsp;качеством, мы&nbsp;считаем, важнейшая задача производителя.
                .b-technology__wrapper.b-technology__wrapper--vase
                    +b-picture([
                    {
                        pictureClass: "b-picture--vase",
                        imgWebpMediaMax767X1: 'img/content/mobile/7-technology/2/1-1x.webp',
                        imgWebpMediaMax767X2: 'img/content/mobile/7-technology/2/1-2x.webp',
                        imgJpgMediaMax767X1: 'img/content/mobile/7-technology/2/1-1x.jpg',
                        imgJpgMediaMax767X2: 'img/content/mobile/7-technology/2/1-2x.jpg',
                        imgWebpMediaMax1023X1: 'img/content/tablet/7-technology/2/1-1x.webp',
                        imgWebpMediaMax1023X2: 'img/content/tablet/7-technology/2/1-2x.webp',
                        imgJpgMediaMax1023X1: 'img/content/tablet/7-technology/2/1-1x.jpg',
                        imgJpgMediaMax1023X2: 'img/content/tablet/7-technology/2/1-2x.jpg',
                        imgWebpMediaMaxDeskX1: 'img/content/desktop/7-technology/5/5-1x.webp',
                        imgWebpMediaMaxDeskX2: 'img/content/desktop/7-technology/5/5-2x.webp',
                        imgjpgMediaMaxDeskX1: 'img/content/desktop/7-technology/5/5-1x.jpg',
                        imgjpgMediaMaxDeskX2: 'img/content/desktop/7-technology/5/5-2x.jpg',
                        imgClass: "b-picture__img--vase",
                        alt: "Новые технологии"
                    }
                ])
                    .b-technology__post.b-technology__post--vase
                        strong.b-hover-quality__title Новые технологии
                        span.b-hover-quality__post Каркас двери и&nbsp;дверная коробка изготавливаются из&nbsp;хвойного бруса высокого качества, срощенного по&nbsp;длине и&nbsp;оптимизированного, то&nbsp;есть из&nbsp;него вырезаны сучки, смоляные карманы и&nbsp;другие пороки, присущие натуральному дереву.
                .b-logo-wrap
                    img(class="b-technology-logo b-technology-logo--white" src="img/icons/logo-white.svg" alt="")
                    img(class="b-technology-logo b-logo-green" src="img/icons/logo-green.svg" alt="")
