.b-container--no-pad-left-techn {
    padding-left: 0;
}

.b-picture--technology {
    order: -1;
    height: 653px;
    margin-bottom: 49px;
}

.b-picture--mirror {
    display: block;
    order: 0;
}

.b-technology__container {
    order: 2;
    display: inline-block;
    width: 50%;
    padding-left: 61px;
    padding-right: -65px;
}

.b-subtitle--technology {
    display: inline-block;
}

.b-technology__wrap {
    display: none;
}

.b-picture--lamp {
    display: inline-block;
}