  .b-technology {
        margin-bottom: 100px;
        &__wrap {
            display: flex;
            margin-left: auto;
        }
        &__caption,
        .b-title--company,
        .b-title--quality,
        .b-hover-quality__title {
            font-size: 24px;
            line-height: 28.13px;
            font-weight: 400;
            margin-bottom: 20px;
            display: block;
            margin-top: 22px;
        }
        &__wrap-grass {
            width: 100%;
        }
        &__subcaption {
            font-size: 14px;
            line-height: 25px;
            color: @grey3C;
        }
        &__inner {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            & .b-technology__container {
                display: none;
            }
        }
        &__post--grass,
        &__post--company,
        &__post--quality,
        &__post--vase {
            padding-right: 120px;
        }
        & .b-picture {
            margin-bottom: 22px;
        }
    }

    .b-container--technology {
        display: flex;
        flex-wrap: wrap;
    }

    .b-subtitle--technology {
        font-size: 14px;
        line-height: 25px;
        color: @grey3C;
        margin-bottom: 65px;
    }

    #technology__link-hover--grass,
    #technology__link-hover--vase,
    .b-technology-logo,
    .b-technology__wrapper--mirror,
    .b-logo-wrap,
    .b-technology__link-hover--tech {
        display: none;
    }

    .b-technology__link-hover--lamp {
        display: none;
    }

    .b-title--company {
        color: inherit;
    }