include ../../elements/b-button-white-green/b-button-white--left.pug
include ../../elements/b-button-white-green/b-button-green--right.pug
mixin b-technology()
    section.b-technology
        .b-container.b-container--no-pad-left-techn.b-container--no-padd-table.b-container--no-padd-desktop
            .b-technology__container
                h2.b-title.b-title--technology ESTET
                p.b-subtitle.b-subtitle--technology.b-subtitle--padding Дверные технологии ESTET превращают квадратные метры в&nbsp;уютный Дом, пространство в&nbsp;удобное и&nbsp;прекрасное Жильё. Наши двери создают неповторимые ощущения, когда каждый день&nbsp;Вы открываете дверь и&nbsp;вместе с&nbsp;тем что-то новое, а&nbsp;главное&nbsp;&mdash; открываете с&nbsp;удовольствием!
            .b-technology__wrap
                +b-button-white--left
                +b-button-green--right
            picture.b-picture.b-picture--technology
                source(type="image/webp" srcset="../img/content/mobile/7-technology/1/14-1x.webp 1x, ../img/content/mobile/7-technology/1/14-2x.webp 2x" media="(max-width: 767px)") 
                source(type="image/jpeg" srcset="../img/content/mobile/7-technology/1/14-1x.jpg 1x, ../img/content/mobile/7-technology/1/14-2x.jpg 2x" media="(max-width: 767px)")
                source(type="image/webp" srcset="../img/content/tablet/7-technology/1/1-1x.webp 1x, ../img/content/tablet/7-technology/1/1-2x.webp 2x" media="(max-width: 1023px)") 
                source(type="image/jpeg" srcset="../img/content/tablet/7-technology/1/1-1x.jpg 1x, ../img/content/tablet/7-technology/1/1-2x.jpg 2x" media="(max-width: 1023px)")
                source(type="image/webp" srcset="../img/content/desktop/7-technology/1/1-1x.webp 1x, ../img/content/desktop/7-technology/1/1-2x.webp 2x") 
                source(type="image/jpeg" srcset="../img/content/desktop/7-technology/1/1-1x.jpg 1x, ../img/content/desktop/7-technology/1/1-2x.jpg 2x")
                img(src="../img/content/desktop/7-technology/1/1-1x.jpg")
            picture.b-picture.b-picture--mirror
                source(type="image/webp" srcset="../img/content/tablet/7-technology/5/1-1x.webp 1x, ../img/content/tablet/7-technology/5/1-2x.webp 2x" media="(min-width: 768px)") 
                source(type="image/jpeg" srcset="../img/content/tablet/7-technology/5/1-1x.jpg 1x, ../img/content/tablet/7-technology/5/1-2x.jpg 2x" media="(min-width: 768px)")
                img(src="../img/content/tablet/7-technology/5/1-1x.jpg")
            strong.b-technology__caption Современные интерьерные решения
            p.b-technology__subcaption Межкомнатные и&nbsp;офисные двери с&nbsp;богатой цветовой гаммой, стильным дизайном, различными вариантами исполнения и&nbsp;нестандартными размерами
            .b-technology__wrapper
                h2.b-title.b-title--technology.b-title--company Компания
                p.b-subtitle.b-subtitle--technology Мы&nbsp;работаем на&nbsp;рынке производства дверей с&nbsp;2002&nbsp;года. За&nbsp;это время мы&nbsp;зарекомендовали себя как надежный партнер и&nbsp;динамично развивающаяся компания.
            picture.b-picture.b-picture--lamp
                source(type="image/webp" srcset="../img/content/tablet/7-technology/4/1-1x.webp 1x, ../img/content/tablet/7-technology/4/1-2x.webp 2x" media="(max-width: 1023px)") 
                source(type="image/jpeg" srcset="../img/content/tablet/7-technology/4/1-1x.jpg 1x, ../img/content/tablet/7-technology/4/1-2x.jpg 2x" media="(max-width: 1023px)")
                source(type="image/webp" srcset="../img/content/desktop/7-technology/4/1-1x.webp 1x, ../img/content/desktop/7-technology/4/1-2x.webp 2x") 
                source(type="image/jpeg" srcset="../img/content/desktop/7-technology/4/1-1x.jpg 1x, ../img/content/desktop/7-technology/4/1-2x.jpg 2x")
                img(src="../img/content/desctop/7-technology/4/1-1x.jpg")
            .b-wrap-vase
                picture.b-picture.b-picture--vase
                    source(type="image/webp" srcset="../img/content/tablet/7-technology/2/1-1x.webp 1x, ../img/content/tablet/7-technology/2/1-2x.webp 2x" media="(max-width: 1023px)") 
                    source(type="image/jpeg" srcset="../img/content/tablet/7-technology/2/1-1x.jpg 1x, ../img/content/tablet/7-technology/2/1-2x.jpg 2x" media="(max-width: 1023px)")
                    source(type="image/webp" srcset="../img/content/desktop/7-technology/5/5-1x.webp 1x, ../img/content/desktop/7-technology/5/5-2x.webp 2x") 
                    source(type="image/jpeg" srcset="../img/content/desktop/7-technology/5/5-1x.jpg 1x, ../img/content/desktop/7-technology/5/-2x.jpg 2x")
                    img(src="../img/content/desktop/7-technology/5/5-1x.jpg")
                a(class="b-wrap-vase__link" href="javascript:void(0);")
                    img(class="b-oval-white" src="../img/icons/oval-white.svg", alt="")  
                    img(class="b-oval-green" src="../img/icons/oval-green.svg", alt="")
                .b-hover-quality 
                    strong.b-hover-quality__title Высокое качество
                    span.b-hover-quality__post Все наши двери проходят строжайший контроль качества на&nbsp;всех этапах производства. Следить за&nbsp;качеством, мы&nbsp;считаем, важнейшая задача производителя.
            .b-logo-wrap
                 img(class="b-technology-logo b-technology-logo--white" src="../img/icons/logo-white.svg" alt="")
                 img(class="b-technology-logo b-logo-green" src="../img/icons/logo-green.svg" alt="")
            
