.b-container--technology {
    padding-left: 0;
}

.b-technology {
    &__wrap-grass {
        order: -1;
        height: 653px;
        margin-bottom: 49px;
        padding-right: 85px;
    }
    &__container {
        display: inline-block;
        width: 60%;
        padding-left: 61px;
        padding-right: 45px;
        order: 1;
    }
    &__inner {
        & .b-technology__container {
            display: block;
        }
    }
    &__wrap {
        display: none;
    }
    &__link-hover {
        display: none;
    }
    &__wrapper {
        width: 40%;
        display: inline-block;
        &--mirror {
            order: 0;
        }
        &--techn {
            order: 3;
            width: 40%;
        }
        &--lamp {
            width: 60%;
            order: 4;
            margin-bottom: 46px;
        }
    }
    & .b-picture {
        margin-bottom: 0;
    }
    & .b-picture--technology {
        height: 100%;
    }
    & .b-picture--lamp {
        height: 573px;
    }
    & .b-picture--vase {
        height: 247px;
    }
    & .b-picture--mirror {
        height: 327px;
    }
    &_logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        fill: @whiteFF;
    }
}

.b-subtitle--technology {
    display: inline-block;
}

.b-technology__post--grass {
    display: none;
}

.b-technology__container--company {
    width: 35%;
    vertical-align: top;
    padding-top: 58px;
    display: inline-block;
}

.b-technology__post--company {
    order: 2;
    padding: 58px 35px 0 38px;
}

// .b-oval-white {
//     display: none;
// }

.b-technology__wrapper--vase {
    order: 6;
    width: 70%;
}

.b-logo-wrap {
    display: inline-block;
    background-color: @green47;
    order: 7;
    width: 30%;
    position: relative;
}

.b-technology-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    // fill: @whiteFF;
}

.b-technology__info,
.b-picture--techn,
.b-technology__post--vase {
    display: none;
}

.b-wrap-lamp {
    height: 543px;
    order: 5;
    margin-left: auto;
    display: inline-block;
    width: 57%;
    margin-bottom: 46px;
}

.b-technology-wrapper--techn,
.b-technology__post--quality {
    display: block;
}

// .b-technology-logo--white {
//     display: block;
// }

.b-technology__container,
.b-technology__post--quality {
    display: none;
}