
    .b-technology {
        margin-bottom: 100px;
    }
    
    .b-container--no-pad-left-techn {
        display: flex;
    }

    .b-title--technology {
        margin-bottom: 14px;
        font-weight: 600;
    }

    .b-subtitle--technology {
        font-size: 14px;
        line-height: 25px;
        color: @grey3C;
        margin-bottom: 65px;
    }

    .b-technology__wrap {
        display: flex;
        margin-left: auto;
    }

    .b-picture--technology {
        height:242px;
        width: 100%;
        padding: 0;
    }

    .b-picture--technology img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .b-picture--mirror {
        display: none;
    }

    .b-technology__caption {
        display: inline-block;
        font-size: 24px;
        line-height: 28.13px;
        color: @grey3C;
        font-weight: 400;
        margin-bottom: 20px;
        margin-top: 22px;
    }

    .b-technology__subcaption {
        font-size: 14px;
        line-height: 25px;
        color: @grey3C;
    } 

    .b-picture--lamp {
        display: none;
    }

    .b-technology__container--company {
        display: none;
    }