.b-container--technology {
    display: grid;
    grid-template-columns: 15% 25% 20% 20% 20%;
    grid-template-rows: 36% 36% 27%;
    overflow: hidden;
}

.b-technology {
    width: 100%;
}

.b-picture {
    width: 100%;
    height: 100%;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &--technology {
        margin-bottom: 0;
    }
    &--mirror {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%;
        height: 100%;
    }
    &--techn {
        display: none;
        width: 66%;
        height: 332px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 600;
        // overflow: hidden;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
    }
    &--vase {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
    }
    &--lamp {
        transition: transform 0.9s ease-in-out;
        height: calc(100% - (15px));
        overflow: hidden;
    }
}

.b-technology__wrap-grass {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 150;
    margin-bottom: 0;
}

.b-technology__container {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 174px;
    width: 100%;
    padding: 62px 112px 77px 67px;
}

.b-technology__wrapper {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    z-index: 120;
    background-color: @whiteFF;
    // overflow: hidden;
    transition: background-color 0.4s ease-in-out;
    position: relative;
    padding-left: 0;
}

.b-technology__post {
    width: 33%;
    padding: 58px 35px 58px 38px;
    transition: background-color 0.4s ease-in-out,color  0.5s ease-in-out;
    height: 100%;
    margin-left: auto;
}

.b-technology-link-hover--tech:hover ~ .b-picture--techn {
    transform: translateX(0%);
    display: block;
    z-index: 1000;
}


.b-technology-link-hover--tech:hover ~ .b-technology__post{
    background-color: @green47;
    color: white;
}

.b-technology-link-hover--tech:hover .b-picture--techn {
    display: block;
    transform: translateX(-10%);
    z-index: 1900;
}

.b-title--company {
    padding-top: 0;
}

.b-content-vase {
    display: none;
}

.b-wrap-lamp {
    width: 100%;
    height: 600px; 
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    z-index: 0;
    position: relative;
    margin-bottom: 0;
}

.b-logo-wrap {
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    position: relative;
}

.b-wrap-vase {
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    z-index: 0;
    position: relative;
}

.b-subtitle--technology {
    margin: 0;
    font-size: 14px;
    color: inherit;
}
    &--padding {
        padding: 0 112px 77px 0;
    }

.b-technology-logo--white {
    display: block;
}

.b-technology-link-hover {
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 30;
    display: block;
    &--lamp {
        top: 25%;
        right: 42%;
    }
    &--tech {
        top: 20%;
        right: 2%;
    }
    &--vase {
        bottom: 25%;
        right: 20%;
    }
}

.b-hover-quality {
    background-color: @green47;
    width: 100%;
    height: 45.5%;
    padding: 45px 39px 45px 52px;
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.9s, opacity 0.9s;
    display: block;
    &__post {
        font-size: 14px;
        line-height: 25px;
        color: @whiteFF;
    }
}

.b-technology-link-hover:hover ~ .b-hover-quality {
    transform: translateY(0%);
    z-index: 20;
    opacity: 1;
    display: block;
}

.b-technology-link-hover:hover ~ .b-picture--lamp {
    transform: translateY(-49%);
    z-index: 22;
    opacity: 1;
    display: block;
    height: 700px;
}

.b-oval-white {
    position: relative;
    box-shadow: 0 0 10px 10px @whiteFF;
}

.b-oval-green {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%,-50%);
}

@media (max-width: 1350px) {
    .b-subtitle--technology{
        font-size: 12px;
}
    .b-title--technology{
        font-size: 24px;
    }
    .b-technology__wrapper {
        padding: 5px 20px 0px 20px;
    }
    .b-technology__container {
        padding: 30px 30px 0 30px;
    }
}

@media (max-width: 1218px) {
    .b-picture--lamp {
        height: 580px;
    }
}


