.b-container--technology {
    padding-left: 0;
}

.b-picture {
    width: 100%;
    height: 100%;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &--mirror {
        display: block;
    }
}

.b-technology__wrap-grass {
    order: -1;
    height: 653px;
    margin-bottom: 49px;
}

.b-technology-wrapper--mirror {
    width: 43%;
    height: 100%;
}

.b-technology-wrapper--techn {
    width: 50%;
}

.b-technology__container {
    display: inline-block;
    width: 50%;
    padding-left: 61px;
    padding-right: -65px;
}

.b-subtitle--technology {
    display: inline-block;
}

.b-technology__wrap {
    display: none;
}

.b-technology__post--grass {
    display: none;
}

.b-technology__container--company {
    width: 35%;
    vertical-align: top;
    padding-top: 58px;
    display: inline-block;
}

.b-technology__wrapper {
    width: 40%;
    // padding-left: 39px;
    display: inline-block;
}

.b-picture--lamp img {
    width: 100%;
    object-fit: cover;
}

.b-technology-wrapper--mirror {
    order: 0;
    width: 50%;
}

.b-technology__post--company {
    order: 2;
}

.b-technology__container {
    order: 3;
}

.b-technology-wrapper--lamp {
    order: 4;
    width: 50%;
    height: 100%;
}

.b-technology__link-hover {
    display: none;
}

.b-oval-white {
    display: none;
}

.b-picture--vase {
    display: inline-block;
    width: 100%;
}

.b-technology__wrapper--vase {
    order: 6;
    width: 70%;
}

.b-picture--vase img {
    width: 100%;
    object-fit: cover;
}

.b-logo-wrap {
    display: inline-block;
    background-color: @green47;
    order: 7;
    width: 30%;
    position: relative;
}

.b-technology-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.b-technology__info,
.b-picture--techn,
.b-technology__post--vase {
    display: none;
}

.b-wrap-lamp {
    height: 543px;
    order: 5;
    margin-left: auto;
    display: inline-block;
    width: 57%;
    margin-bottom: 46px;
}

.b-picture--lamp {
    width: 100%;
    height: 100%;
    display: block;
}

.b-picture--lamp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.b-technology-wrapper--techn {
    display: block;
}