.b-picture {
    &--doors {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    &--techn {
        width: 655px;
        z-index: 600;
        transform: translateX(100%);
        transition: all 0.9s ease;
        opacity: 0;
        display: block;
    }
    &--vase {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
    }
    &--lamp {
        transition: transform 0.9s ease-in-out;
        overflow: hidden;
    }
    &--modern {
        margin-bottom: 0;
    }
    &--reiki{
        width: 100%;
    }
    &--holz{
        width: 100%;
        height: 100%;
    }
    &--corso{
        width: 100%;
    }
    &--janelle{
        width: 100%;
    }
    &--block{
        width:100%;
        margin-bottom: 38px;
    }
    &--greyblock{
        width: 100%;
        height: 480px;
        margin-bottom:38px;
    }
    &--long{
        width:100%;
        height:calc(50% - 255px);
    }
    &--greylong{
        width: 100%;
        height: 360px;
        background-color: #F7F7F7;
    }
    &__img{
        &--lamp {
        object-position: top;
        left: 0;
        }
    }
}