.b-picture {
    &__img {
    }
    &--modern {
        height: 100%;
    }
    &--mirror {
        display: block;
    }
    &--lamp {
        display: block;
    }
    .b-picture--vase {
        display: inline-block;
    }
}