.b-picture {
    &--doors {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    &--techn {
        width: 655px;
        z-index: 600;
        transform: translateX(100%);
        transition: all 0.9s ease;
        opacity: 0;
        display: block;
    }
    &--vase {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
    }
    &--lamp {
        transition: transform 0.9s ease-in-out;
        overflow: hidden;
    }
    &--modern {
        margin-bottom: 0;
    }
}