.b-picture{
    &__img {
    }
    &--modern {
        height: 100%;
    }
    &--palitra{
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &--skorob{
        width: 100%;
    }
    &--reiki{
        width: 100%;
    }
    &--holz{
        width: 100%;
        height: 100%;
    }
    &--corso{
        width: 100%;
    }
    &--janelle{
        width: 100%;
    }
}