.b-intro {
    position: relative;
    height: 530px;
    margin: 0 auto;
    width: 100%;
    &-list {
        display: block;
        font-size: 14px;
    }
    &-image-wrap {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        z-index: 1;
            &::after {
                content: "";
                position:absolute;
                top:0;
                left:0;
                width: 100%;
                height: 100%;
                background: @black00;
                opacity: 0.35;
                z-index: 1;
            }
        }
    &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
}
.b-button-order-size {
    width: 320px;
    max-width: 320px;
}
.b-intro-list .b-intro-list__item {
    font-weight: 300;
}
.b-intro-list .b-intro-list__item + .b-intro-list__item {
    font-weight: 700;
}