.b-intro {
    position: relative;
    height: 1024px;
    margin: 0 auto;
    width: 100%;
}
.b-title-intro {
    padding:392px 0 0 0;
    font-size: 100px;
    margin-bottom: 68px;
    line-height: 128px;
    max-width: 1000px;
}
.b-subtitle-intro {
    padding: 0 0 0 95px;
    font-size: 21px;
    max-width: 790px;
    line-height: 25px;
    font-weight: 300;
}
// @media (max-width: 850px) {
//     .b-title-intro {
//         padding-top: 264px;
//     }
// }