include ../../elements/b-button-order-size/b-button-order-size.pug
mixin b-intro-second()
    .b-intro
        picture(class="b-intro-image-wrap")
            source(class="b-intro-image" type="image/webp" srcset="img/content/mobile/1-intro/2/2-1x.webp 1x, img/content/mobile/1-intro/2/2-2x.webp 2x," media="(max-width: 767px)")
            source(class="b-intro-image" type="image/jpeg" srcset="img/content/mobile/1-intro/2/2-1x.jpg 1x, img/content/mobile/1-intro/2/2-2x.jpg 2x" media="(max-width: 767px)")
            source(class="b-intro-image" type="image/webp" srcset="img/content/tablet/1-intro/2/2-1x.webp 1x, img/content/tablet/1-intro/2/2-2x.webp 2x," media="(max-width: 1023px)")
            source(class="b-intro-image" type="image/jpeg" srcset="img/content/tablet/1-intro/2/2-2x.jpg 1x, img/content/tablet/1-intro/2/2-2x.jpg 2x" media="(max-width: 1023px)")
            source(class="b-intro-image" type="image/webp" srcset="img/content/desktop/1-intro/2/1-1x.webp 1x, img/content/desktop/1-intro/2/1-2x.webp 2x,")
            source(class="b-intro-image" type="image/jpeg" srcset="img/content/desktop/1-intro/2/1-2x.jpg 1x, img/content/desktop/1-intro/2/1-2x.jpg 2x")
            img(class="b-intro-image" alt="intro-door" src="img/content/mobile/1-intro/2/1-1x.jpg")
        .b-container.b-container--no-padd-desktop
            ul(class="b-intro-list")
                li(class="b-intro-list__item")
                    a(class="b-intro-list__link" href="main.html" title="Перейти на главную") Главная
                li(class="b-intro-list__item")
                    a(class="b-intro-list__link" href="#" title="Перейти на межкомнатные двери") &mdash;&#8195;Межкомнатные двери

            h1(class="b-title b-title--intro-second") Межкомнатные двери
        +b-button-order-size