// .b-intro {
//         height: 663px;
//         position: relative;
// }
h1 {
    margin: 0;
    padding: 0;
}
.b-button-order-size {
    top:450px;
}
.b-intro-list {
    color: @whiteFF;
    position: absolute;
    top: 110px;
    left: 59px;
    display: block;
}
.b-intro-list__item {
    display: inline-flex;
    margin-right: 10px;
}
.b-intro-list .b-intro-list__item + .b-intro-list__item {
    font-weight: 700;
}
// ДЛЯ ДОРС ЭТО
// .b-intro {
//     margin: 0 auto;
//     max-width: 1280px;
//     height: 688px;
//     position: relative;
// }
// .b-button-order-size {
//    top:608px;
//    left:320px
// }
