include ../../elements/b-button-order-size/b-button-order-size.pug
mixin b-intro-second()
    section.b-intro
        +b-picture([
                {
                    pictureClass: "b-intro-image-wrap",
                    imgWebpMediaMax767X1: "img/content/mobile/1-intro/2/2-1x.webp",
                    imgWebpMediaMax767X2: "img/content/mobile/1-intro/2/2-2x.webp",
                    imgJpgMediaMax767X1: "img/content/mobile/1-intro/2/2-1x.jpg",
                    imgJpgMediaMax767X2: "img/content/mobile/1-intro/2/2-2x.jpg",
                    imgWebpMediaMax1023X1: "img/content/tablet/1-intro/2/2-1x.webp",
                    imgWebpMediaMax1023X2: "img/content/tablet/1-intro/2/2-2x.webp",
                    imgJpgMediaMax1023X1: "img/content/tablet/1-intro/2/2-2x.jpg",
                    imgJpgMediaMax1023X2: "img/content/tablet/1-intro/2/2-2x.jpg",
                    imgWebpMediaMaxDeskX1: "img/content/desktop/1-intro/2/1-1x.webp",
                    imgWebpMediaMaxDeskX2: "img/content/desktop/1-intro/2/1-2x.webp",
                    imgjpgMediaMaxDeskX1: "img/content/desktop/1-intro/2/1-2x.jpg",
                    imgjpgMediaMaxDeskX2: "img/content/desktop/1-intro/2/1-2x.jpg",
                    imgClass: "b-intro-image",
                    alt: "Выдающиеся двери",
                }
            ])
        .b-container.b-container--no-padd-desktop
        
            ul(class="b-intro-list")
                li(class="b-intro-list__item")
                    a(class="b-intro-list__link" href="main.html" title="Перейти на главную") Главная
                li(class="b-intro-list__item")
                    a(class="b-intro-list__link" href="#" title="Перейти на межкомнатные двери") &mdash;&#8195;Межкомнатные двери

            h1(class="b-title b-title--intro-second") Межкомнатные двери
        +b-button-order-size