h1 {
    margin: 0;
    padding: 0;
}
.b-intro {
    position: relative;
    height: 210px;
    width: 100%;
    margin: 0 auto;
    &-list {
        color: @whiteFF;
        position: absolute;
        top: 110px;
        left: 66px;
        display: none;
        &__item {
            display: inline-flex;
            margin-right: 10px;
            & a {
                text-decoration: none;
                color: @whiteFF;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    & .b-container {
        position: relative;
        z-index: 1;
    }
    &-image-wrap {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 1;
        &::after {
            content: "";
            position:absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            background: @black00;
            opacity: 0.65;
            z-index: 1;
        }
    }
    &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
}
.b-button-order-size {
    bottom:0;
    max-width: 767px;
}
.b-intro-list .b-intro-list__item + .b-intro-list__item {
    font-weight: 700;
}