include ../../elements/b-hamburger-main/b-hamburger-main.pug
mixin b-header-doors
    header.b-header-doors
        .b-container.b-container--no-padd-table.b-container--no-padd-desktop
            .b-header-doors__wrapper
                ul.b-header-doors__choice
                    a.b-header-doors__search(href="javascript:void(0);" title="search")
                        img(src="img/icons/glass-white.svg", alt="search")
                    a.b-header-doors__search(href="javascript:void(0);" title="Shape")
                        img(src="img/icons/Shape.svg", alt="Shape")
                .b-header-doors__desktop-logo
                    img(src="img/icons/logo-white.svg", alt="logo")
                ul.b-header-doors__desktop__choice
                    li.b-header-doors__desktop__choice-item.b-header-doors__desktop__choice-item--counter
                        a.desktop__choice-link(href="javascript:void(0);" title="heart")
                            img.desktop__choice-img(src="img/icons/heart-white.svg", alt="heart")
                    li.desktop__choice-item.desktop__choice-item--counter
                        a.desktop__choice-link(href="javascript:void(0);" title="basket")
                            img.desktop__choice-img(src="img/icons/basket-white.svg", alt="basket")
                    li.desktop__choice-item.desktop__choice-item--counter
                        a.desktop-language(href="javascript:void(0);" title="language")
                            img(src="img/icons/languge.svg", alt="language")
                .b-header-main__city
                .b-header-main__hamburger
                    span.b-header-main__hamburger-line
                    span.b-header-main__hamburger-line
                    span.b-header-main__hamburger-line
            +b-hamburger-main