.b-header-doors {
    position: absolute;
    width: 100%;
    z-index: 3;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        & ul {
            height: 21px;
            & a {
                display: block;
                height: 100%;
                & img {
                    height: 100%;
                }
            }
        }
    }
    &__search {
        display: flex;
        flex: 4 35px;
        &-item {
            &--shape {
                margin: 0 auto;
            }
        }
    }
    &__logo {
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: transform 0.3s;
        & img {
            width: 100%;
            height: 100%;
        }
        &:hover{
            transform: scale(1.2);
        }
    }
    &__choice {
        display: flex;
        margin: 0 auto;
        flex: 4;
        &-item {
            transition: opacity 0.3s;
            &:hover {
                opacity: 0.5;
            }
            &--basket {
                margin: 0 auto;
            }
            &--heart {
                display: none;
            }
            &--language {
                display: none;
            }
        }
    }
    &__city {
        display: none;
    }
    &__hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -25px;
        background-color: @green47;
        width: 60px;
        height: 60px;
        cursor: pointer;
        z-index: 154;
        &-wrapper {
            z-index: 55;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            width: 29px;
            height: 20px;
            position: relative;

        }
        &-line {
            position: relative;
            display: block;
            width: 29px;
            height: 2px;
            background-color: @whiteFF;
            transition: transform, 0.2s;
            &:last-child {
                width: 20px;
            }
        }
        &.active &-line:nth-child(2){
            background-color: transparent;
        }
        &.active &-line:first-child{
            position: absolute;
            transform: translate(-50%, -50%) rotate(45deg);
            left: 50%;
            top: 50%;
        }
        &.active &-line:last-child {
            position: absolute;
            width: 29px;
            transform: translate(-50%, -50%) rotate(-45deg);
            left: 50%;
            top: 50%;
        }
    }
    & .b-switcher-city--header {
        align-items: center;
        display: none;
        margin-bottom: 0;
        margin-right: 39px;
    }
}
