.b-header-doors {
    border-bottom: 1px solid fade(@greyCD, 50%);
    &__hamburger {
        margin-right: 0;
    }
    &__search {
        padding-left: 64px;
        flex: 4;
    }
    &__choice{
        flex: 4 4px;
    }
}