.b-header-doors {
    border-bottom: none;
    &__wrapper {
        width: 50%;
        margin-left: auto;
        padding-left: 38px;
    }
    &__search {
        display: none;
    }
    &__logo {
        display: none;
    }
    &__choice {
        padding-right: 64px;
        justify-content: space-between;
        &-item {
            &--heart, &--language {
                display: block;
            }
            &--basket {
                margin: 0;
            }
        }
    }
    &__city {
        display: block;
    }
    & .b-switcher-city--header {
        display: flex;
    }
}