include ../../elements/b-hamburger-main/b-hamburger-main.pug
include ../../elements/b-switcher-city/b-switcher-city.pug
mixin b-header-doors
    header.b-header-doors
        .b-container.b-container--no-padd-table.b-container--no-padd-desktop
            .b-header-doors__wrapper
                ul.b-header-doors__search
                    li.b-header-doors__search-item
                        a.b-header-doors__search-link(href="javascript:void(0);" title="Поиск")
                            img(src="img/icons/glass-white.svg", alt="")
                    li.b-header-doors__search-item.b-header-doors__search-item--shape
                        a.b-header-doors__search-link(href="javascript:void(0);" title="Форма")
                            img(src="img/icons/Shape.svg", alt="")
                .b-header-doors__logo
                    img(src="img/icons/logo-white.svg", alt="Логотип Estet")
                ul.b-header-doors__choice
                    li.b-header-doors__choice-item.b-header-doors__choice-item--heart
                        a.b-header-doors__choice--link(href="javascript:void(0);" title="Избранное")
                            img(src="img/icons/heart-white.svg", alt="")
                    li.b-header-doors__choice-item.b-header-doors__choice-item--basket
                        a.b-header-doors__choice--link(href="javascript:void(0);" title="Корзина")
                            img(src="img/icons/basket-white.svg", alt="")
                    li.b-header-doors__choice-item.b-header-doors__choice-item--language
                        a.b-header-doors__choice--link(href="javascript:void(0);" title="Язык")
                            img(src="img/icons/languge.svg", alt="")
                +b-switcher-city({
                    modificationElements: "b-switcher-city--header",
                    modificationSelect: "b-switcher-city__inner--white",
                    imgGeo: "img/icons/geo.svg"
                })
                .b-header-doors__hamburger
                    .b-header-doors__hamburger-wrapper
                        span.b-header-doors__hamburger-line
                        span.b-header-doors__hamburger-line
                        span.b-header-doors__hamburger-line
            +b-hamburger-main