.b-footer {
    &__mail {
        padding: 71px 0 0;
        width: 100%;
        background-color: @green47;
    }
    &__contact {
        background-color: @black00;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 106px;
        &-descr {
            font-size: 18px;
            line-height: 21px;
            color: @whiteFF;
        }
    }
}